@model IEnumerable <EzBusiness_ViewModels.Models.Humanresourcepayroll.MonthlyAdddedVM>



<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>

    Ezsidetbl('#POList', '#POList tfoot td', false, "#POList thead");
</script>

<table id="POList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th>Code</th>
            <th>Entry Date</th>
            <th>Month</th>
            <th>Year</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>PRADN001_CODE</td>
            <td>Entry_Date</td>
            <td>TMonth</td>
            <td>TYear</td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var po in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnPRADN001_CODE", po.PRADN001_CODE)
                    @po.PRADN001_CODE
                </td>
                <td>
                   
                    @Convert.ToDateTime(@po.Entry_Date).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @po.TMonth
                </td>
                <td>
                    @po.TYear
                </td>

            </tr>
        }
    </tbody>
</table>

