@model EzBusiness_ViewModels.Models.FreightManagement.FFM_CRG_VM

@{

    var counter = 1;
    var counter1 = 1;
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
@*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://www.google.com/jsapi">*@
</script>
<script>
    $(function () {
        arr1 = [];

        EzAutoCompTxtE("#FFM_CRG_GROUP_CODE", "#hdnFFM_CRG_GROUP_CODE", "/FFM_CRG_001/GetCRG_GroupList", false, "");
        EzAutotxtEventTbl12("#tablePODetails", "focus", "[name*='txtexpenceacgt']", "[name*='txt1expenceacgt']", "/FFM_Quotation/GetCLAUSE", false, "");
        EzAutotxtEventTbl12("#tablePODetails", "focus", "[name*='txtjobcode']", "[name*='txt1jobcode']", "/FFM_CRG_001/GetJobCodeList", true, "[name*='txtjobname']");
        EzAutotxtEventTbl12("#tablePODetails", "focus", "[name*='txtincomeact']", "[name*='txt1incomeact']", "/FFM_CRG_001/GetIncomeActList", false, "");

        $('.selectpicker').selectpicker('refresh');
        //EzTableRowDel("#tablePODetails", "[name*='btnDelete']");
        var counter =$("#hdnCounter").val();
       $("#tablePODetails").on("click", "[name*='btnDelete']", function () {
          $(this).closest("tr").remove();
            counter = 1;
             $('#tablePODetails tbody tr td:nth-child(1)').each(function (e) {
                 var tr1 = $(this).closest("tr");
                 tr1.find(":first").text(counter);
                 counter++;
             });
       });

       var counter1 =$('#hdnCounter').val();
        $('.selectpicker').selectpicker('refresh');
        $("#tablePODetails").on("focusout", "[name*='txtjobcode']", function () {
            debugger
            if (EzHeadTxtvalid("[name *= 'FFM_CRG_GROUP_CODE'] option:selected", "#tablePODetails tbody tr:last", "[name *= 'txtjobcode']", "Please Enter FFM GROUP CODE", "0", "0") == true) {
                return;
            }

            if (EzHeadTxtvalid("[name *= 'FFM_CRG_001_CODE']", "#tablePODetails tbody tr:last", "[name *= 'txtjobcode']", "Please Enter Charge Code", '', '') == true) {
                return;
            }

            if (EzHeadTxtvalid("#NAME", "#tablePODetails tbody tr:last", "[name *= 'txtjobcode']", "Please Enter Name", '0', '0') == true) {
                return;
            }

          

          //  var tcunt = $("#tablePODetails").find("tr").length;
            drec = [];
            $('#tablePODetails tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).closest("tr").find("[name *= 'txtjobcode'] option:selected").val();
                drec.push(ab);
            });
            var tr = $(this).closest('tr');
            drec.splice($.inArray(tr.find("[name *= 'txtjobcode']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtjobcode']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtjobcode']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtjobcode']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtjobcode']").val('');
                tr.find("[name *= 'txtjobname']").val('');
            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    debugger;
                    //var tr = $(this).closest('tr');
                    //var JobCode = tr.find("[name*='txtinpjobcode']").val();
                    //var array = JobCode.split("-");
                    ////   var counter =1;
                    //tr.find("[name*='txtjobname']").val(array[1].trim())
                    $('#tablePODetails tr:last').clone().insertAfter('#tablePODetails tr:last');
                    var trLast = $("#tablePODetails tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter1 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsrno']").val(tcunt);

                    debugger;
                    droparry = [];
                    txtarry = [];

                    droparry.push('txtjobcode', 'txtexpenceacgt', 'OPERATION_TYPE', 'txtincomeact');
                    txtarry.push('txtjobname','txtsrno');

                    EzTbltxtdrpidchanged(droparry, counter1, "drp", trLast);
                    EzTbltxtdrpidchanged(txtarry, counter1, "txt", trLast);
                    trLast.find('[name^=txtjobcode' + counter1 + ']').val('');
                    trLast.find('[name^=txtjobname' + counter1 + ']').val('');
                    trLast.find(":first").text(counter1);
                    ++counter1;
                   
                }
              
            }

        });


        $("#tablePODetails").on("change", "[name*='txtincomeact']", function () {
            debugger;
            var tr = $(this).closest('tr');
            $("#tablePODetails").css("height", "auto");
            var JobCode = tr.find("[name*='txtincomeact'] option:selected").text();
            var array = JobCode.split("-");
         //   tr.find("[name*='txtincomeact']").val(array[1].trim());
         //   tr.find("[name*='txtincomeact']").val(array[2].trim());
            debugger;

            var trLast = $("#tablePODetails tr:last");

            trLast.find('td:eq(4),th:eq(4)').remove();

            var tr6 = tr.find('td:eq(4)');
            var $newRow = tr6.clone();
            trLast.find('td').eq(3).after($newRow);
            droparry = [];
            droparry.push('txtincomeact');

            EzTbltxtdrpidchanged(droparry,counter1 - 1,"drp",trLast);
            var b = counter1 - 1;
            var tr8 = trLast.find('td:eq(4)');
            tr8.find('select[name^=txtincomeact' + b + ']').val(0);
            tr8.find('.bootstrap-select').replaceWith(function () { return $('select', this); });

            tr8.find("[name *= 'txtincomeact']").selectpicker('refresh');

        });


        $("#tablePODetails").on("change", "[name*='txtexpenceacgt']", function () {
            debugger;
            var tr = $(this).closest('tr');
            $("#tablePODetails").css("height", "auto");
            var JobCode = tr.find("[name*='txtexpenceacgt'] option:selected").text();
            var array = JobCode.split("-");
            //   tr.find("[name*='txtincomeact']").val(array[1].trim());
            //   tr.find("[name*='txtincomeact']").val(array[2].trim());
            debugger;

            var trLast = $("#tablePODetails tr:last");

            trLast.find('td:eq(5),th:eq(5)').remove();

            var tr6 = tr.find('td:eq(5)');
            var $newRow = tr6.clone();
            trLast.find('td').eq(4).after($newRow);
            droparry = [];
            droparry.push('txtexpenceacgt');

            EzTbltxtdrpidchanged(droparry, counter1 - 1, "drp", trLast);
            var b = counter1 - 1;
            var tr8 = trLast.find('td:eq(5)');

            tr8.find('select[name^=txtexpenceacgt' + b + ']').val(0);
            tr8.find('.bootstrap-select').replaceWith(function () { return $('select', this); });
            tr8.find("[name *= 'txtexpenceacgt']").selectpicker('refresh');
        });



        $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 4,

        });

        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });
    });
</script>
<!-- Row start -->
<div class="row">
    @{
        var TypeListdata1 = new SelectList(new[]
    {
            new SelectListItem { Text = "-Select-", Value = "-1" },
        }, "Value", "Text");
    }
    <!--updated code-->
    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel-body" style="margin-left:10px;">
            <div class="tabbable-line boxless tabbable-reversed" id="DRContainer">
                <div class="custom-form-wrapper">
                    <div id="DRContainer">
                        <div class="row">
                            <div class="custom-form-wrapper">
                                <!-- BEGIN FORM-->
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Group Code<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @*@Html.DropDownListFor(m => m.FFM_CRG_GROUP_CODE, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })*@
                                                        @Html.TextBoxFor(m => m.FFM_CRG_GROUP_CODE, new { @class = "form-control", @placeholder = "Select CRG_Group code" })
                                                        <input id="hdnFFM_CRG_GROUP_CODE" type="hidden" class="form-control" name="hdnFFM_CRG_GROUP_CODE" value="-1" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Code<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.TextBoxFor(m => m.FFM_CRG_001_CODE, null, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Name<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.TextBoxFor(m => m.NAME, new { @class = "form-control", @Type = "Text" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-3">Arabic Name<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.TextBoxFor(m => m.Name_Arabic, new { @class = "form-control", @Type = "Text" })
                                                        @*<input type="text" id="TXTNAME" />*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Display Status<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.DropDownListFor(m => m.DISPLAY_STATUS, new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "Y" }, new SelectListItem { Text = "No", Value = "N" } }, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br />
                                        <!-- END FORM-->
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <br /><br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-sm" id="tablePODetails">
                                                        <thead>
                                                            <tr class="tr">
                                                                <th style="width: 3%">Sr.No</th>
                                                                <th style="width: 30%">Job Code</th>
                                                                <th style="width: 5%">Job Name</th>
                                                                <th style="width: 20%">Operation Type</th>
                                                                <th style="width: 30%">Income Act</th>
                                                                <th style="width: 30%">Expence Act</th>
                                                                @*<th style="width: 30%">Name-Arabic</th>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{int RowNo = 1;}
                                                            <tr>
                                                                <td>
                                                                    <div class="grid-group">
                                                                        @Html.TextBox(string.Concat("txtsrno", counter), @RowNo, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                        @*@Html.Label(counter.ToString())*@
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @*@Html.TextBox(string.Concat("txtjobcode", counter), null, new { @class = "grid-control " })*@
                                                                        @Html.Hidden(string.Concat("txtinpjobcode", counter), null, new { @class = "grid-control" })
                                                                        @Html.Hidden(string.Concat("txt1jobcode", counter), null, new { @class = "grid-control" })
                                                                        @Html.TextBox(string.Concat("txtjobcode", counter), null, new { @class = "grid-control" })
                                                                        @*@Html.DropDownListFor(m => m.JOB_CODE, Model.CRG_job_CODEList, new { @class = "selectpicker form-control", @data_live_search = "true" })*@
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="grid-group">

                                                                        @Html.TextBox(string.Concat("txtjobname", counter), null, new { @class = "grid-control" })
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @Html.DropDownListFor(m => m.OPERATION_TYPE, new List<SelectListItem> { new SelectListItem { Text = "SEA", Value = "SEA" }, new SelectListItem { Text = "AIR", Value = "AIR" }, new SelectListItem { Text = "WAH", Value = "WAH" }, new SelectListItem { Text = "TERM", Value = "TERM" }, new SelectListItem { Text = "ROAD", Value = "ROAD" } }, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                                        @*@Html.TextBox(string.Concat("txtoperationtype", counter), null, new { @class = "grid-control datepicker" })*@
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @*@Html.DropDownList(string.Concat("txtincomeact", counter), TypeListdata1, new { @class = "grid-control", @data_live_search = "true" })*@
                                                                        @Html.TextBox(string.Concat("txtincomeact", counter), null, new { @class = "grid-control" })
                                                                        @*@Html.TextBox(string.Concat("txtincomeact", counter), null, new { @class = "grid-control datepicker" })*@
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="grid-group">
                                                                        @Html.TextBox(string.Concat("txtexpenceacgt", counter), null, new { @class = "grid-control" })
                                                                        @*@Html.DropDownList(string.Concat("txtexpenceacgt", counter), TypeListdata1, new { @class = "grid-control", @data_live_search = "true" })*@
                                                                        @*@Html.TextBox(string.Concat("txtexpenceacgt", counter), null, new { @class = "grid-control" })*@
                                                                    </div>
                                                                </td>
                                                                @*<td>
                                                                        <div class="grid-group">
                                                                            @Html.TextBox(string.Concat("txtArabicname", counter), null, new { @class = "grid-control" })
                                                                        </div>
                                                                    </td>*@
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    @Html.Hidden("hdnCounter", (++counter))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Purchase Request List Start-->

        <script>
            $(document).ready(function () {
                $(".alert-close").click(function () {
                    $("#editshow").hide();
                });
            });
        </script>
        <script type="text/javascript">
    $('.table-responsive').on('show.bs.dropdown', function () {
        $('.table-responsive').css("overflow", "inherit");
    });

    //$('.table-responsive').on('hide.bs.dropdown', function () {
    //    $('.table-responsive').css("overflow", "auto");
    //})
        </script>
        <!-- Purchase Request List End -->
        <!-- Row end -->
    </div>
</div>










