@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDetailsVM>
<script src="~/Scripts/jquery-3.1.1.js"></script>


<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@*<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@

<script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetbl('#SalaryList', '#SalaryList tfoot td',false,'#SalaryList thead');
</script>

<table id="SalaryList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th width="20%">code</th>
            <th width="10%">Process Date</th>
            <th width="10%">Year</th>
            <th width="10%">Month</th>
            <th width="20%">Country</th>
            <th width="20%">Division</th>
            <th width="20%">DeptCode</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
             <td>code</td>
            <td>Process Date</td>
            <td>Year</td>
            <td>Montd</td>
            <td>Country</td>
            <td>Division</td>
            <td>DeptCode</td>
            

        </tr>
    </tfoot>
    <tbody>
        @foreach (var sal in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnprbmCode", sal.PRSP001_Code)
                    @sal.PRSP001_Code
                </td>
                <td>
                    @Convert.ToDateTime(@sal.Process_Date).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.Hidden("hdnprscssyear", sal.year)
                    @sal.year
                </td>
                <td>
                    @Html.Hidden("hdnprscssMonth", sal.Month)
                    @sal.Month
                </td>

                <td>
                    @Html.Hidden("hdnprscsscountry", sal.Country)
                    @sal.Country
                </td>
                <td>
                    @Html.Hidden("hdnprscssDivision", sal.Division)
                    @sal.Division
                </td>
                <td>
                    @Html.Hidden("hdnprscssDeptcode", sal.Deptcode)
                    @sal.Deptcode
                </td>
               


            </tr>
        }
    </tbody>
</table>


