@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDetailsVM>
@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@


@*<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />*@
@*<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(document).ready(function () {
        Ezsidetbl('#SalaryList', '#SalaryList tfoot td', false, '#SalaryList thead');
    });
</script>

<div class="table-responsive">
<table id="SalaryList" class="table table-bordered stripe display hover portal-drivers">
    <thead>

            <tr class="tr">
                <th>code</th>
                <th>Process Date</th>
                <th>Year</th>
                <th>Month</th>
                <th>Country</th>
                <th>Division</th>
                <th>Department</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>code</td>
                <td>Process Date</td>
                <td>Year</td>
                <td>Montd</td>
                <td>Country</td>
                <td>Division</td>
                <td>Department</td>


            </tr>
        </tfoot>
        <tbody>
            @foreach (var sal in Model)
        {
        <tr>
            <td>
                @Html.Hidden("hdnprbmCode", sal.PRSP001_Code)
                @sal.PRSP001_Code
            </td>
            <td>
                @Convert.ToDateTime(@sal.Process_Date).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.Hidden("hdnprscssyear", sal.year)
                @sal.year
            </td>
            <td>
                @Html.Hidden("hdnprscssMonth", sal.Month)
                @sal.Month
            </td>

            <td>
                @Html.Hidden("hdnprscsscountry", sal.Country)
                @sal.Country
            </td>
            <td>
                @Html.Hidden("hdnprscssDivision", sal.DivisionName)
                @sal.DivisionName
            </td>
            <td>
                @Html.Hidden("hdnprscssDeptcode", sal.DeptName)
                @sal.DeptName
            </td>



        </tr>
        }
        </tbody>
    </table>

</div>
