@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDVM


@{
    var counter = 1;

}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />

@*<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />*@
@*<link href="~/Scripts/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />*@

<script src="~/Scripts/EzComNDW.js"></script>

@*<script src="~/Scripts/datatables/dataTables.rowReorder.min.js"></script>*@



<script>

    $(function () {
        debugger;
            EzdtePkMMyy('#DateINMonth');
            var dt = $('#DateINMonth').val();
            var currdat = $('#DateINMonth').val();
            $('.selectpicker').selectpicker('refresh');
        //$('#PAIDTYPE').val(false);
            debugger;

            //Eary = [];
            //Eary.push("input[name='PAIDTYPE']");
           
            //EzsetNtxt(Eary);
            //EzcheckedFnInt("input[name='PAIDTYPE']", "[name = 'PAIDTYPE']");
            $('#DateINMonth').on('dp.change', function (event) {
                debugger;
                dt = $("#DateINMonth").val();
                currdat = $("#DateINMonth").val();
                dt = dt + "-" + '01';
                $('#CurrentDate').val(dt);
            });
          //('#DivisionCode').change(function () {
          //      debugger;
          //      var divcode = $('#DivisionCode option:selected').val();
          //      $.get("SalaryProcess/GetDepartmentList", { divcode: divcode }).done(function (response) {

          //          $('#Deptcode').empty();
          //          var ary = [];
          //          ary = response;
          //          for (var i = 0; i < ary.length; i++) {
          //              $('#Deptcode').append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
          //          }

          //          $('#Deptcode').val(0);

          //          $('.selectpicker').selectpicker('refresh');
          //      });
          //  });
            //calculate salary Process
            $.fn.dataTable.ext.errorMode = 'none';
          
            $("#btncalculate").click(function () {
                debugger;

                var currmonthyear = dt;               
                var divcode = $('#DIVISION option:selected').val();
                var currmonthyear = dt;
                var CurrentDate = currmonthyear;                
                var Deptcode = $('#Deptcode option:selected').val();
                var VisaLocation1 = $('#VisaLocation1 option:selected').val();
                // Code=$("#Code").val()
                //}
                $.get("GetEmployeeNotInBank", { CurrentDate: CurrentDate, divcode: divcode, Deptcode: Deptcode, VisaLocation1: VisaLocation1 }).done(function (obj) {
                    var arr = [];
                    arr = obj;
                    if (arr.data.length>0) {
                        $('#empContaint').show();
                        $('#salrcontainer').hide();
                        $('#spnmonth').text(currdat);
                        // $("#tabletimeDetails").empty().append(d);
                        $("#tabletimeDetails td").remove();
                        for (var i = 0; i < arr.data.length; i++) {                           
                            $('#tabletimeDetails').append("<tr><td>" + arr.data[i].srno + "</td><td>" + arr.data[i].Empcode + "</td><td>" + arr.data[i].Empname + "</td></tr>");
                        }
                    }
                    else {
                        $('#empContaint').hide();
                        $('#salrcontainer').show();
                        debugger;
              
                                var newrow =
                                   {
                                       SalProcess_Date: currmonthyear,
                                       PRSPD001_CODE: $("#PRSPD001_CODE").val(),
                                       DIVISION: divcode,
                                      // Deptcode: Deptcode,
                                       //VisaLocation1: VisaLocation1
                                   }
                                var validationResult = ValidateForm(divcode);
                                if (validationResult.ErrorMessage == "") {


                                    var t = $('#tableslrypaymntDetails').DataTable({
                                        "ColumnDefs": [{ "searchable": false, "orderable": true }],
                                        "order": [[1, 'asc']],
                                        //"scrollY": true, 
                                      //  "scrollX": true,
                                        "language":
                                        {
                                            "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                                        },
                                        "dom": 'lBfrtip',
                                        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                                        "buttons": [
                                                  'excel',
                                                  'pdf'
                                        ],
                                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                                            var oSettings = this.fnSettings();
                                            $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                                            return nRow;
                                        },
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax":
                                        {
                                            "async": false,
                                            "cache": false,
                                            "type": "POST",
                                            "url": '/GetSalaryProcessDetails',
                                            "dataType": "json",
                                            "data": newrow,
                                        },
                                        "destroy": true,

                                        "columns": [
                                           { "data": "srno" },
                                           { "data": "EMPCODE" },
                                           { "data": "EMPNAME" },
                                            { "data": "BANKCODE" },
                                           { "data": "BANKName" },                                          
                                           { "data": "BRANCHCODE" },
                                           { "data": "BANkBrachName" },
                                           { "data": "ACCOUNTNO" },
                                           { "data": "AMOUNT" },
                                           {
                                               "data": null,
                                               "render":function(data)
                                               {
                                                   return "<span><input type='Checkbox' class='chck' value='0'></span>";
                                               }
                                           }
                                          
                                        ]
                                    });


                                    $("select option").filter(function () {
                                        if ($(this).text() == "All") {
                                            var tabledata = $('#tableslrypaymntDetails').dataTable();
                                            //Get the total rows
                                            k = tabledata.fnSettings().fnRecordsTotal();
                                            $(this).val(k);
                                        }
                                    });
                                    // $('#tableslryDetails').DataTable().columns([10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 39]).visible(false);
                                    // $('#tableslryDetailsactual').DataTable().columns([3, 4, 5, 6, 7, 8, 9, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]).visible(false);
                                    // $('#tableslryOTDetails').DataTable().columns([3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 44]).visible(false);
                                   
                                    $('.dataTables_scrollHead').css('margin-bottom', '0px');
                                
                                }
                                else {
                                    EzAlerterrtxt("Select Division");
                                }
                            }
                       
                });
            });
            //function GetSryData()
            //{

        //}
            function ValidateForm(divcode) {
                debugger;
                var response = {
                    ErrorMessage: "",

                };
                //if (employeemaster.IsEditMode == false) {
                if (divcode=="0") {
                    response.ErrorMessage += "Select Division";
                }



                return response;
            }
        });


        $(".chckheader").click(function () {
            debugger;
            if ($(this).prop('checked')) {

                $('#tableslrypaymntDetails tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
            }
            else {
                $('#tableslrypaymntDetails tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
            }
        });


        

        $(".datepicker").on("dp.show", function (e) {
            $(e.target).data("DateTimePicker").viewMode("months");
        });

</script>

<div class="row">
    <div class="custom-form-wrapper">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">CODE</label>
                            <div class="col-md-9 input-field">
                                @Html.TextBoxFor(m => m.PRSPD001_CODE, new { @class = "form-control", @placeholder = "Code" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Division<i style="color:red;">*</i></label>
                            <div class="col-md-9 input-field">
                                @Html.DropDownListFor(m => m.DIVISION, Model.DivisionList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                  
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date</label>
                            <div class="col-md-9 input-field">
                                @*<input type="month" id="DateINMonth" class="date1 date-picker" >*@
                                <input id="DateINMonth" class="form-control datepicker" name="DateINMonth" autocomplete="false">

                                @*@Html.EditorFor(m => m.Dates, new { htmlAttributes = new { @class = "form-control" } })*@
                                @*@Html.TextBoxFor(m => m.CurrentDate, new { @class = "form-control", @placeholder = "Code" })*@
                                @*@Html.HiddenFor(m => m.PAIDTYPE)*@
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    @*<div class="col-md-2">
                        <button class="btn btn-warning" id="btncalculate" type="button">Search</button>
                    </div>*@

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Paid Type</label>
                            <div class="col-md-3 input-field">
                                <label class="radio-inline" checked="checked">
                                    @Html.RadioButtonFor(m => m.PAIDTYPE, "1", new { @checked = "checked" }) Salary
                                </label>

                            </div>
                            <div class="col-md-3 input-field">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.PAIDTYPE, "0") Incentive
                                </label>
                            </div>
                        </div>
                     </div>
                        @*<div class="col-md-2">
                            <div class="icheck-inline checkbox1">

                                <label>
                                    Paid<i style="color:red;">*</i>
                                    @Html.CheckBox("PAIDTYPE", false)
                                </label>

                            </div>
                        </div>*@


                        <!--/span-->
                    </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="col-md-3">
                            <div class="col-md-6 input-field">
                                <button class="btn btn-warning" id="btncalculate" type="button">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="col-md-6">
                            <div class="icheck-inline checkbox1">

                                <label>
                                    Paid  ALL
                                    @Html.CheckBox("PAIDTYPE", false, new { @class = "chckheader" })
                                </label>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><br />
        <!-- END FORM-->
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>
            </ul>
            <div class="tab-content" id="salrcontainer">
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-x:auto;">
                                <table class="table table-bordered" id="tableslrypaymntDetails">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Emp_Code</th>
                                            <th>Employee Name</th>                                           
                                            <th>BankCode</th>
                                            <th>BankName</th>
                                            <th>Branch-Code</th>
                                            <th>Branch-Name</th>
                                            <th>ACCOUNTNO</th>
                                            <th>Amount</th>
                                           <th>Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @Html.Hidden("hdnCounter", (++counter))
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="tab-content" style="display:none;text-align:center" id="empContaint">
                <label class="id2">Employee Bank Details Not Save</label>
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-x:auto;">
                                <table class="table table-bordered id3" id="tabletimeDetails">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Emp_Code</th>
                                            <th>Employee Name</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @Html.Hidden("hdnCounter", (++counter))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button>Hey, click me!</button> -->
    </div>
</div>



