@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDVM


@{
    var counter = 1;

}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/EzComNDW.js"></script>
<script>

    $(function () {
        
            EzdtePkMMyy('#DateINMonth');
            var dt = $('#DateINMonth').val();
            var currdat = $('#DateINMonth').val();
            $('.selectpicker').selectpicker('refresh');
      
            $('#DateINMonth').on('dp.change', function (event) {
                
                dt = $("#DateINMonth").val();
                currdat = $("#DateINMonth").val();
                dt = dt + "-" + '01';
                $('#CurrentDate').val(dt);
            });
        
            $.fn.dataTable.ext.errorMode = 'none';
            EzAutoCompTxtE("#DIVISION", "#hdnDIVISION", "/SalaryProcessPayment/GetDivCodeListLatest", false, "");

            $("#btncalculate").click(function () {
                var currmonthyear = dt;               
                var divcode = $('#DIVISION option:selected').val();
                var currmonthyear = dt;
                var CurrentDate = currmonthyear;                
                var Deptcode = $('#Deptcode option:selected').val();
                var VisaLocation1 = $('#VisaLocation1 option:selected').val();
                // Code=$("#Code").val()
                //}
                $.get("GetEmployeeNotInBank", { CurrentDate: CurrentDate, divcode: divcode, Deptcode: Deptcode, VisaLocation1: VisaLocation1 }).done(function (obj) {
                    var arr = [];
                    arr = obj;
                    if (arr.data.length>0) {
                        $('#empContaint').show();
                        $('#salrcontainer').hide();
                        $('#spnmonth').text(currdat);
                        // $("#tabletimeDetails").empty().append(d);
                        $("#tabletimeDetails td").remove();
                        for (var i = 0; i < arr.data.length; i++) {                           
                            $('#tabletimeDetails').append("<tr><td>" + arr.data[i].srno + "</td><td>" + arr.data[i].Empcode + "</td><td>" + arr.data[i].Empname + "</td></tr>");
                        }
                    }
                    else {
                        $('#empContaint').hide();
                        $('#salrcontainer').show();
                        
              
                                var newrow =
                                   {
                                       SalProcess_Date: currmonthyear,
                                       PRSPD001_CODE: $("#PRSPD001_CODE").val(),
                                       DIVISION: divcode,
                                      // Deptcode: Deptcode,
                                       //VisaLocation1: VisaLocation1
                                   }
                                var validationResult = ValidateForm(divcode);
                                if (validationResult.ErrorMessage == "") {


                                    var t = $('#tableslrypaymntDetails').DataTable({
                                        "ColumnDefs": [{ "searchable": false, "orderable": true }],
                                        "order": [[1, 'asc']],
                                        //"scrollY": true, 
                                      //  "scrollX": true,
                                        "language":
                                        {
                                            "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                                        },
                                        "dom": 'lBfrtip',
                                        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                                        "buttons": [
                                                  'excel',
                                                  'pdf'
                                        ],
                                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                                            var oSettings = this.fnSettings();
                                            $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                                            return nRow;
                                        },
                                        "processing": true,
                                        "serverSide": true,
                                        "ajax":
                                        {
                                            "async": false,
                                            "cache": false,
                                            "type": "POST",
                                            "url": '/GetSalaryProcessDetails',
                                            "dataType": "json",
                                            "data": newrow,
                                        },
                                        "destroy": true,

                                        "columns": [
                                           { "data": "srno" },
                                           { "data": "EMPCODE" },
                                           { "data": "EMPNAME" },
                                            { "data": "BANKCODE" },
                                           { "data": "BANKName" },                                          
                                           { "data": "BRANCHCODE" },
                                           { "data": "BANkBrachName" },
                                           { "data": "ACCOUNTNO" },
                                           { "data": "AMOUNT" },
                                           {
                                               "data": null,
                                               "render":function(data)
                                               {
                                                   return "<span><input type='Checkbox' class='chck' value='0'></span>";
                                               }
                                           }
                                          
                                        ]
                                    });


                                    $("select option").filter(function () {
                                        if ($(this).text() == "All") {
                                            var tabledata = $('#tableslrypaymntDetails').dataTable();
                                            //Get the total rows
                                            k = tabledata.fnSettings().fnRecordsTotal();
                                            $(this).val(k);
                                        }
                                    });
                                   
                                   
                                    $('.dataTables_scrollHead').css('margin-bottom', '0px');
                                
                                }
                                else {
                                    EzAlerterrtxt("Select Division");
                                }
                            }
                       
                });
            });
            //function GetSryData()
            //{

        //}
            function ValidateForm(divcode) {
                
                var response = {
                    ErrorMessage: "",

                };
                //if (employeemaster.IsEditMode == false) {
                if (divcode=="0") {
                    response.ErrorMessage += "Select Division";
                }



                return response;
            }
        });


        $(".chckheader").click(function () {
            
            if ($(this).prop('checked')) {

                $('#tableslrypaymntDetails tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
            }
            else {
                $('#tableslrypaymntDetails tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
            }
        });


        

        $(".datepicker").on("dp.show", function (e) {
            $(e.target).data("DateTimePicker").viewMode("months");
        });

</script>

<div class="row">
    <div class="custom-form-wrapper">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Code</label>
                            <div class="col-md-9 input-field">
                                @Html.TextBoxFor(m => m.PRSPD001_CODE, new { @class = "form-control", @placeholder = "Code" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Division<i style="color:red;">*</i></label>
                            <div class="col-md-9 input-field">
                                @*@Html.DropDownListFor(m => m.DIVISION, Model.DivisionList, new { @class = "selectpicker form-control", @data_live_search = "true" })*@
                                @*@Html.TextBoxFor(m => m.DIVISION, new { @class = "form-control", @placeholder = "Select Division" })
                                <input id="hdnDIVISION" type="hidden" class="form-control" name="hdnDIVISION" value="-1" />*@      
                                @Html.TextBoxFor(m => m.DIVISION, new { @class = "form-control", @placeholder = "Select Division" })
                                <input id="hdnDIVISION" type="hidden" class="form-control" name="hdnDIVISION" value="-1" />      
                            </div>
                        </div>
                    </div>
                  
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date</label>
                            <div class="col-md-9 input-field">
                                <input id="DateINMonth" class="form-control datepicker" name="DateINMonth" autocomplete="false">
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Paid Type</label>
                            <div class="col-md-3 input-field">
                                <label class="radio-inline" checked="checked">
                                    @Html.RadioButtonFor(m => m.PAIDTYPE, "1", new { @checked = "checked" }) Salary
                                </label>

                            </div>
                            <div class="col-md-3 input-field">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.PAIDTYPE, "0") Incentive
                                </label>
                            </div>
                        </div>
                     </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Paid All</label>
                                <div class="col-md-3 input-field">
                                    <label class="radio-inline" checked="checked">
                                        @Html.CheckBox("PAIDTYPE", false, new { @class = "chckheader" })
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                



                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <div class="col-md-6 input-field">
                                <button class="btn btn-warning" id="btncalculate" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br />
        <!-- END FORM-->
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>
            </ul>
            <div class="tab-content" id="salrcontainer">
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                   
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tableslrypaymntDetails">
                                    <thead>
                                        <tr class="tr">
                                            <th>Sr No</th>
                                            <th>Emp Code</th>
                                            <th>Employee Name</th>                                           
                                            <th>Bank Code</th>
                                            <th>BankName</th>
                                            <th>Branch Code</th>
                                            <th>Branch Name</th>
                                            <th>Account No</th>
                                            <th>Amount</th>
                                           <th>Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @Html.Hidden("hdnCounter", (++counter))
                            </div>
                        </div>

                    
                </div>

            </div>
            <div class="tab-content" style="display:none;text-align:center" id="empContaint">
                <label class="id2">Employee Bank Details Not Save</label>
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-x:auto;">
                                <table class="table table-bordered id3" id="tabletimeDetails">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Emp_Code</th>
                                            <th>Employee Name</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @Html.Hidden("hdnCounter", (++counter))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button>Hey, click me!</button> -->
    </div>
</div>



