@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDVM
@{
    var counter = 1;

}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/EzComNDW.js"></script>
<script>

    var currrd = $('#TYEAR').val() + '/' + $('#TMONTH').val() + '/01';
    $('#Process_Date').val(currrd);
    EzdtePkMMyyEdit('#DateINMonth', "#Process_Date");
    
    var jq = $.noConflict(true);
    jq(function () {
        var Code = $('#PRSPD001_CODE').val();
        
      //  $("#btncalculate").css("visibility", "hidden");
        //  $("#btnSave").css("visibility", "hidden");
        jq('.selectpicker').selectpicker('refresh');
        var Pdate = jq(this).find("#Process_Date").val();
        //var month = $(this).find("#hdnprscssMonth").val();

      // EzcheckedFnEditint('input[name="PAIDTYPE"]', "[name*='PAIDTYPE']", 'input[name="PAIDTYPE"]:hidden');
      //  EzcheckedFnEint('input[name="PAIDTYPE"]', "[name*='PAIDTYPE']");
        jq.get("/SalaryProcessPayment/GetSalaryProcessPaymentGridEdit", { SalCode: Code, paidtype:'0' }).done(function (responce) {
            
            if(responce!=null)
            {
                
                GetslryDetailsDatatable(responce);
            }
        });


           function GetslryDetailsDatatable(responce)
         {
               
                jq.fn.dataTable.ext.errorMode = 'none';
                var t = jq('#tableslrypaymntDetails').DataTable({
                    "ColumnDefs": [{ "searchable": false, "orderable": false }],
                    "order": [[1, 'asc']],
                    data: responce,
                   // "scrollX": true,
                    "destroy": true,
                    "columns": [
                                        { "data": "srno" },
                                        { "data": "EMPCODE" },
                                        { "data": "EMPNAME" },
                                         { "data": "BANKCODE" },
                                        //{ "data": "BANKName" },
                                        { "data": "BRANCHCODE" },
                                        //{ "data": "BANkBrachName" },
                                        { "data": "ACCOUNTNO" },
                                        { "data": "AMOUNT" },
                                          {
                                              "data": "PAID_TYPE",
                                              "render": function (data) {
                                                  if (data == 1) {
                                                      return "<span><input type='Checkbox'  class='chck' checked value=0></span>";
                                                  } else {
                                                      return "<span><input type='Checkbox'  class='chck' value=0></span>";
                                                  }
                                                  
                                              }
                                          }

                    ]
                });
                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
                //jq('#tableslryDetails1').DataTable().columns([0,10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 39]).visible(false);
                //jq('#tableslryActualsalDetails').DataTable().columns([0,3, 4, 5, 6, 7, 8, 9, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]).visible(false);
                //jq('#tableslryOTsalDetails').DataTable().columns([0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 44]).visible(false);

                jq('.dataTables_scrollHead').css('margin-bottom', '0px');
            }
    });

    $(".chckheaderdata").click(function () {

        if ($(this).prop('checked')) {

            $('#tableslrypaymntDetails tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
        }
        else {
            $('#tableslrypaymntDetails tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
        }
    });


    $(".chck").click(function () {
        var tr = "";
    });
    //$('#tableslryDetails1').on('click', '.chck', function () {
    //    
    //    var tr = $(this).closest('tr');
    //    if (tr.prop('checked')) {

    //        tr.prop('checked', $(this).prop('checked'));
    //    }
    //    else {
    //        tr.prop('checked', $(this).prop('checked'));
    //    }
    //});


    //$('#tableslrypaymntDetails tbody tr').on('click', 'input[type="checkbox"]', function (e) {
    //    var tr = $(this).closest('tr');

    //    
    //    var tr = $(this).closest('tr');
    //    if (tr.prop('checked')) {

    //        tr.prop('checked', $(this).prop('checked'));
    //    }
    //    else {
    //        tr.prop('checked', $(this).prop('checked'));
    //    }
    //});


   
   

    

    $(".datepicker").on("dp.show", function (e) {
        $(e.target).data("DateTimePicker").viewMode("months");
    });

</script>
<div class="row">
    <div class="custom-form-wrapper">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">CODE</label>
                            <div class="col-md-8 input-field">
                                @Html.TextBoxFor(m => m.PRSPD001_CODE, new { @class = "form-control", @placeholder = "Code" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Division<i style="color:red;">*</i></label>
                            <div class="col-md-8 input-field">
                                @Html.DropDownListFor(m => m.DIVISION, Model.DivisionList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                  
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date</label>
                            <div class="col-md-8 input-field">
                                <input id="DateINMonth" class="form-control datepicker" name="DateINMonth" autocomplete="false">
                                <input type="hidden" id="Process_Date" >
                                @Html.HiddenFor(m => m.TYEAR)
                                @Html.HiddenFor(m => m.TMONTH)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Paid Type</label>
                            <div class="col-md-3 input-field">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.PAIDTYPE,Convert.ToInt32("1"),new { @checked = "checked", @disabled="disabled" }) Salary
                                    @Html.HiddenFor(m => m.PAIDTYPE) 
                                </label>

                            </div>
                            <div class="col-md-3 input-field">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.PAIDTYPE,Convert.ToInt32("0"), new {  @disabled = "disabled" }) Incentive
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>


            </div>
        </div><br />
        <!-- END FORM-->
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>

            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                                <table class="table table-bordered table-sm" id="tableslrypaymntDetails">
                                    <thead>
                                        <tr class="tr">
                                            <th>Sr No</th>
                                            <th>Emp_Code</th>
                                            <th>Employee Name</th>
                                            <th>BankCode</th>
                                            <th>Branch-Code</th>
                                            <th>ACCOUNTNO</th>
                                            <th>Amount</th>
                                            <th>Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- <button>Hey, click me!</button> -->
    </div>
</div>

