@model EzBusiness_ViewModels.Models.Humanresourcepayroll.ShiftMasterVM

@{
    var counter = 1;

}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />

<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
       // EzsetDatetxt();
        

      
        counter = 1;
        drec = [];
        /* delete grid record */
        //$("#tablePODetails").on("click", "[name*='btnDelete']", function () {
        //    drec.pop($(this).find("[name*='Datest']").val());
        //    counter--;
        //    $(this).closest("tr").remove();
        //});

        EzGriddel("#tablePODetails", "[name*='btnDelete']");

        /* Add new row & find duplicate data in table  */
        var counter = $("#counter").val();
        $("#tablePODetails").on("change", "[name*='PRSFT002_code']", function () {
            tbldtpicker();
            $(".datepicker").datetimepicker("destroy");
            if (EzHeadTxtvalid("[name *= 'PRSFT001_code']", "#tablePODetails tbody tr:last", "[name *= 'PRSFT002_code']", "Please Enter PRSFT001_code", '','') == true)
            {
                return;
            }

            if (EzHeadTxtvalid("[name *= 'ShiftName']", "#tablePODetails tbody tr:last", "[name *= 'PRSFT002_code']", "Please Enter ShiftName", '','') == true)
            {
                return;
            }
           
            if (EzHeadTxtvalid("#country option:selected", "#tablePODetails tbody tr:last", "[name *= 'PRSFT002_code']", "Please Enter country", '0', '0') == true) {
                return;
            }

            

            var tr = $(this).closest("tr");
            $('#tablePODetails tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).closest("tr").find("[name *= 'PRSFT002_code']").val();
                drec.push(ab);
            });
            drec.splice($.inArray(tr.find("[name *= 'PRSFT002_code']").val(), drec), 1);

            if ($.inArray(tr.find("[name *= 'PRSFT002_code']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'PRSFT002_code']").val();
                tr.css("background", "red");
                tr.find("[name *= 'PRSFT002_code']").focus();
                alert("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'PRSFT002_code']").val('');

            }
            else {
                tr.css("background", "");

                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                        .appendTo("#tablePODetails tbody tr:nth-last-child(2)");
                    var trLast = $("#tableMetaSettings tr:last");

                    var trLast1 = $("#tablePODetails tbody tr:last");

                    trLast1.find("[name *= 'PRSFT002_code']").val('')
                    trLast1.find("[name *= 'ShiftName']").val('')

                    trLast.find("[name *= 'PRSFT002_code']").attr({
                        "name": ("PRSFT002_code" + counter)
                    });
                    trLast.find("[name *= 'ShiftName']").attr({
                        "name": ("ShiftName" + counter)
                    });


                    trLast.find(":first").text(counter);
                }
                counter++;
            }
        });

        $('body').on('focusin', '.datepicker', function () {
            debugger;
            // var myDate = new Date(2012, 2, 11);

            // $('#startdate').datetimepicker("setDate", myDate);
            $('.datepicker').datetimepicker({
                // defaultDate: new Date(),
                format: 'DD/MM/YYYY',
                showClose: true,
                showClear: true,
                minDate: new Date(),
                //toolbarPlacement: 'top'
                //widgetPositioning: {
                //    horizontal: 'right',
                //    vertical: 'top'
                //}
            });

        });
        EztableLstEnt("#tablePODetails", "[name*='ShiftName']", "[name *= 'PRSFT002_code']","T","");
      

    });

    $('.selectpicker').selectpicker('refresh');
   
    EzdtePk('#Enttry_Date1,#Effect_Date1');
    Ezdteformtcurtime();
    $(".datepicker").datetimepicker("destroy");
    </script>
    
    <!-- Row start -->
  <div class="form-horizontal">
    <div class="form-body">

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Code</label>
                    <div class="col-md-9 input-field">
                        @Html.TextBoxFor(m => m.PRSFT001_code, new { @class = "form-control", @placeholder = "Code",@readonly="readonly" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Country</label>
                    <div class="col-md-9 input-field">
                        @Html.DropDownListFor(m => m.country, Model.CountryList, new { @class = "selectpicker form-control", @data_live_search = "true" })

                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Shift Name</label>
                    <div class="col-md-9 input-field">
                        @Html.TextBoxFor(m => m.ShiftName, new { @class = "form-control", @placeholder = "Shift Name" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Start Time</label>
                    <div class="col-md-9 input-field">
                        @Html.TextBoxFor(m => m.StTime, new { @class = "form-control time1" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">End Time</label>
                    <div class="col-md-9 input-field">
                        @Html.TextBoxFor(m => m.EdTime, new { @class = "form-control time1" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!--/row-->

    <div class="">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Allocation Details</a></li>

        </ul>
        <div class="tab-content">
            @*<div id="home" class="tab-pane fade in active">*@
            <br /><br />
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <div style="overflow-x:auto;">
                            <table class="table table-bordered table-sm" id="tablePODetails">
                                <thead>
                                    <tr>
                                        @*<th>Sr No</th>*@
                                        <th>Shift Allocation Code</th>
                                        <th>Entyr Date</th>
                                        <th>Effective Date</th>
                                        <th>Approved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        @*<td>
                                            <label>@counter</label>
                                            @Html.Label(counter.ToString())

                                        </td>*@
                                        <td>
                                            <div class="grid-group">
                                                @Html.TextBox(string.Concat("PRSFT002_code", counter), null, new { @class = "grid-control", @placeholder = "Code" })
                                            </div>

                                        </td>
                                        <td>

                                            <div class="grid-group">
                                                @Html.TextBox(string.Concat("Effect_Date", counter), "", "", new { @class = "grid-control datepicker" })
                                            </div>

                                        </td>
                                        <td>

                                            <div class="grid-group">
                                                @Html.TextBox(string.Concat("Enttry_Date", counter), "", "", new { @class = "grid-control datepicker" })
                                            </div>

                                        </td>
                                        <td>
                                            @Html.DropDownList(string.Concat("SelectAproved", counter), new List<SelectListItem> { new SelectListItem { Text = "YES", Value = "Y" }, new SelectListItem { Text = "NO", Value = "N" }, }, new { @class = "grid-control" })
                                            @*<select name="" id="SelectAproved" class="grid-control">
                                                <option value="Y">YES</option>
                                                <option value="N">NO</option>
                                            </select>*@

                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                            @Html.Hidden("counter", (++counter))
                        </div>
                    </div><br />
                    
                    <!-- END FORM-->
                    <!-- <button>Hey, click me!</button> -->
                </div>
            </div>
</div>
        </div>
      
</div>