@model EzBusiness_ViewModels.Models.Humanresourcepayroll.EmpShiftVM

@{
    var counter = 1;

}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/EzComNDW.js"></script>

<script>
    $(function () {
       
        $('.selectpicker').selectpicker('refresh');


        $('#PRSFT001_code').change(function () {
           
            var PRSFT001_code = $('#PRSFT001_code option:selected').val();
            $.get("EmpShift/GetShiftAllocCode", { PRSFT001_code: PRSFT001_code }).done(function (response) {

                $('#PRSFT002_code').empty();
                var ary = [];
                ary = response;
                for (var i = 0; i < ary.length; i++) {
                    $('#PRSFT002_code').append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                }
               // $('#PRBM002_code').append('<option value="0" selected="">-Select-</option>');
                $('#PRSFT002_code').val(0);

                $('.selectpicker').selectpicker('refresh');
            });
        });

        EzTxttabEve('#PRSFT003_code', '#EmpCode', 'Please Enter Code',"T");
        EzDropTabEve("[name='EmpCode']", "[name='EmpCode'] option:selected", "[name='PRSFT001_code']", 'Select Emp Code');
        EzDropChaEve("[name='EmpCode']", "[name='EmpCode'] option:selected", "[name='PRSFT001_code']", 'Select Emp Code');

        EzDropTabEve("[name='PRSFT001_code']", "[name='PRSFT001_code'] option:selected", "[name='PRSFT002_code']", 'Select PRSFT001_code');
        EzDropChaEve("[name='PRSFT001_code']", "[name='PRSFT001_code'] option:selected", "[name='PRSFT002_code']", 'Select PRSFT001_code');

        EzDropTabEve("[name='PRSFT002_code']", "[name='PRSFT002_code'] option:selected", "[name='SNO']", 'Select PRSFT002_code');
        EzDropChaEve("[name='PRSFT002_code']", "[name='PRSFT002_code'] option:selected", "[name='SNO']", 'Select PRSFT002_code');

      //  EzsetTodayDte('#Entry_Date');
       // $('#Entry_Date').val(new Date().getToday());

    });
    //Date.prototype.getToday = function () {
    //    var now = new Date();
    //    var day = ("0" + now.getDate()).slice(-2);
    //    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    //    var today = now.getFullYear() + "-" + (month) + "-" + (day);
    //    return today;
    //}
</script>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">

                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">



                                <div class="form-body">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Code</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.PRSFT003_code, new { @style = "text-transform: uppercase;", @class = "form-control", @placeholder = "Code",@readonly="readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Employee<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">

                                                    @Html.DropDownListFor(m => m.EmpCode, Model.EmpCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })

                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Shift Name<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.PRSFT001_code, Model.ShiftCode, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Shift Allocation<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.PRSFT002_code, Model.ShiftCodeAlloc, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Sr No.</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.SNO, new { @class = "form-control", @placeholder = "Account_no",@Type="Number" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Remarks</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <!--/row-->
                                </div>
                            </div><br />
                            <!-- END FORM-->
                            <!-- <button>Hey, click me!</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

