@model EzBusiness_ViewModels.Models.Humanresourcepayroll.EmpShiftVM

@{
    var counter = 1;

}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/EzComNDW.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script>
    $(function () {
       
        $('.selectpicker').selectpicker('refresh');          
        EzAutoCompTxt1("#EmpCode", "#hdnEmpCode", "/EmpShift/GetEmpCodes");
        EzAutoCompTxt1("#PRSFT001_code", "#hdnPRSFT001_code", "/EmpShift/GetShiftCodes");

        var oldv=$("#PRSFT001_code").val();

        $('#PRSFT001_code').on("focusout", function () {

            var customercode = $("#PRSFT001_code").val();
            if (customercode != "" && oldv != customercode) {
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    data: "{PRSFT001_code:'" + $("#hdnPRSFT001_code").val() + "'}",
                    url: "/EmpShift/GetShiftAllocCode",
                    dataType: 'Json',
                    contentType: "Application/json",
                    success: function (data) {
                        $('#PRSFT002_code').empty();
                        var ary = [];
                        ary = data;
                        for (var i = 0; i < ary.length; i++) {
                            $('#PRSFT002_code').append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                        }
                        $('#PRSFT002_code').val(0);
                        $('.selectpicker').selectpicker('refresh');
                    }

                });
            }
            else if (oldv != customercode) {
                $('#PRSFT002_code').empty();
                $('#PRSFT002_code').append('<option value="0" selected="">Select</option>');
                $('.selectpicker').selectpicker('refresh');
            }

        });
       
       // EzAutoCompTxt1("#PRSFT001_code", "#hdnPRSFT001_code", "/EmpShift/GetShiftCodes");

        //var customercode = $("#PRSFT001_code").val();
        //if (customercode != "") {
        //    $.ajax({
        //        async: false,
        //        cache: false,
        //        type: "POST",
        //        data: "{PRSFT001_code:'" + $("#hdnPRSFT001_code").val() + "'}",
        //        url: "/EmpShift/GetShiftAllocCode",
        //        dataType: 'Json',
        //        contentType: "Application/json",
        //        success: function (data) {
        //            $('#PRSFT002_code').empty();
        //            var ary = [];
        //            ary = data;
        //            for (var i = 0; i < ary.length; i++) {
        //                $('#PRSFT002_code').append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
        //            }
        //            $('#PRSFT002_code').val(0);
        //            $('.selectpicker').selectpicker('refresh');
        //        }

        //    });
        //}
        //else {
        //    $('#PRSFT002_code').empty();
        //    $('#PRSFT002_code').append('<option value="0" selected="">Select</option>');
        //    $('.selectpicker').selectpicker('refresh');
        //}

        //if ($("#PRSFT002_code").val() != '') {
        //    $.ajax({
        //        async: false,
        //        cache: false,
        //        url: "/EmpShift/GetShiftAllocCode",
        //        type: "POST",
        //        dataType: "json",
        //        data: { Prefix: $("#PRSFT002_code").val(), PRSFT001_code: $('#hdnPRSFT001_code').val() },
        //        success: function (data) {
        //            debugger;
        //            if (data.length > 0) {
        //                $("#PRSFT002_code").val(data[0].Value);
        //                $("#hdnPRSFT002_code").val(data[0].Text);
        //            } else {
        //                $("#PRSFT002_code").val('');
        //                $("#hdnPRSFT002_code").val(-1);
        //            }
        //        }
        //    });
        //}

        
        EzAutoCompTxtE("#PRSFT001_code", "#hdnPRSFT001_code", "/EmpShift/GetShiftCodes", false, "");
        EzAutoCompTxtE("#EmpCode", "#hdnEmpCode", "/EmpShift/GetEmpCodes", false, "");
       // EzAutoCompTxtE("#PRSFT001_code", "#hdnPRSFT001_code", "/EmpShift/GetShiftCodes", false, "");
        EzTxttabEve('#PRSFT003_code', '#EmpCode', 'Please Enter Code',"T");
        EzDropTabEve("[name='EmpCode']", "[name='EmpCode'] option:selected", "[name='PRSFT001_code']", 'Select Emp Code');
        EzDropChaEve("[name='EmpCode']", "[name='EmpCode'] option:selected", "[name='PRSFT001_code']", 'Select Emp Code');

        EzDropTabEve("[name='PRSFT001_code']", "[name='PRSFT001_code'] ", "[name='PRSFT002_code']", 'Select PRSFT001_code');
        EzDropChaEve("[name='PRSFT001_code']", "[name='PRSFT001_code'] ", "[name='PRSFT002_code']", 'Select PRSFT001_code');

        EzDropTabEve("[name='PRSFT002_code']", "[name='PRSFT002_code']", "[name='SNO']", 'Select PRSFT002_code');
        EzDropChaEve("[name='PRSFT002_code']", "[name='PRSFT002_code']", "[name='SNO']", 'Select PRSFT002_code');



        //$('#PRSFT001_code').on("focusout", function () {
        //    debugger;
        //    var PRSFT001_code = $('#PRSFT001_code').val();
        //    if (PRSFT001_code != '') {
        //        $('#PRSFT002_code').autocomplete({
        //            source: function (request, response) {
        //                $.ajax({
        //                    url: "/EmpShift/GetShiftAllocCode",
        //                    type: "POST",
        //                    dataType: "json",
        //                    data: { Prefix: request.term, PRSFT001_code: $('#hdnPRSFT001_code').val() },
        //                    success: function (data) {
        //                        if (data.length > 0) {
        //                            response($.map(data, function (item) {
        //                                return {
        //                                    label: item.Text + ' - ' + item.Value,
        //                                    value: item.Value,
        //                                    val1: item.Text
        //                                };
        //                            }))
        //                        } else {
        //                            $('#PRSFT002_code').val('');
        //                            $("#hdnPRSFT002_code").val(-1);
        //                            response([{ label: 'No results found.', value: 'No results found.', val1: -1 }]);
        //                        }
        //                    }
        //                });
        //            },

        //            select: function (e, u) {
        //                debugger
        //                //If the No match found" item is selected, clear the TextBox.
        //                if (u.item.value == -1) {
        //                    //Clear the AutoComplete TextBox.
        //                    $(this).val("");
        //                    $("#hdnPRSFT002_code").val("-1");
        //                    return false;
        //                } else {
        //                    $("#hdnPRSFT002_code").val(u.item.val1);
        //                }

        //            }
        //            ,
        //            minLength: 0
        //        }).focus(function () {
        //            $(this).autocomplete("search");
        //        });
        //    }
        //    else {
        //        debugger;
        //        $("#PRSFT002_code").val('');
        //        $("#hdnPRSFT002_code").val("-1");
        //        $("#PRSFT002_code").autocomplete({
        //            source: [
        //               { label: "No Record", value: "" },
        //            ]
        //        }
        //        );
        //    }
        //});
    });
    //Date.prototype.getToday = function () {
    //    var now = new Date();
    //    var day = ("0" + now.getDate()).slice(-2);
    //    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    //    var today = now.getFullYear() + "-" + (month) + "-" + (day);
    //    return today;
    //}

</script>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">

                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">



                                <div class="form-body">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Code</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.PRSFT003_code, new { @class = "form-control", @placeholder = "Code", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Employee<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">

                                                    @*@Html.DropDownListFor(m => m.EmpCode, Model.EmpCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })*@
                                                    @Html.TextBoxFor(m => m.EmpCode, new { @class = "form-control", @placeholder = "Select Emp Code" })
                                                    <input id="hdnEmpCode" type="hidden" class="form-control" name="hdnEmpCode" value="-1" />      

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Shift Name<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @*@Html.DropDownListFor(m => m.PRSFT001_code, Model.ShiftCode, new { @class = "selectpicker form-control", @data_live_search = "true" })*@
                                                    @Html.TextBoxFor(m => m.PRSFT001_code, new { @class = "form-control", @placeholder = "Select Shift" })
                                                    <input id="hdnPRSFT001_code" type="hidden" class="form-control" name="hdnPRSFT001_code" value="-1" />      
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Shift Allocation<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.PRSFT002_code, Model.ShiftCodeAlloc, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                    @*@Html.TextBoxFor(m => m.PRSFT002_code, new { @class = "form-control", @placeholder = "Select Shift" })
                                                    <input id="hdnPRSFT002_code" type="hidden" class="form-control" name="hdnPRSFT002_code" value="-1" />*@      
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Sr No.</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.SNO, new { @class = "form-control", @placeholder = "Account_no" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Remarks</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
