@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.StatusVM>
@{
    ViewBag.Title = "StatusMaster";
    var counter = 1;
}


@*@Scripts.Render("~/bundles/jquery")*@


@*<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>*@
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
        EzAuthentication("/StatusMaster");
        var n = EzAuthenticationBtn("/StatusMaster", "ViewIt");
        if (n == 1) {
            Ezsidetbl1('#tblUnits', '#tblUnits tfoot td', true, "#tblUnits thead");
            $('#tblUnits').show();

        } else {
            $('#tblUnits').hide();
        }
    });
</script>


<script>
    var Stats = [];
    var drec = new Array();
    $(function () {

        $("#tblUnits1").hide();
        // GetUnitTypes();
        /*Add Record*/
        $("#btnAdd").click(function () {
            var n = EzAuthenticationBtn("/StatusMaster", "NewIt");
            if (n == 1) {
                var abk = [];
                abk.push('#btnAdd', "[name*='Edit']", "[name *= 'Delete']");
                Ezprop(abk, "disabled", true);
                abk = [];
                abk.push('#btnCancel', '#btnSave');
                Ezprop(abk, "disabled", false);                
                $("#tblUnits1 tbody tr").css("background", "");
                $("#tblUnits1").show();
                $("#tbldiv").hide();
            }
        });
        var counter = $("#Counter").val();
        /*Add Table Change Event*/
        $("#tblUnits1").on("change", "[name*='txtCode']", function () {          
            var tr = $(this).closest('tr');            
            
            drec = [];
            $('#tblUnits1 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtCode']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtCode']").val(), drec), 1);

            if ($.inArray(tr.find("[name *= 'txtCode']").val(), drec) >= 0)
            {
                var dr = tr.find("[name *= 'txtCode']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtCode']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtCode']").val('');
                                
            }
            else {
                tr.css("background", "");                     
                if (tr.is(":last-child")) {                    
                    tr.clone(true, true).insertAfter(tr);                                    
                    var trLast = $("#tableMetaSettings tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tblUnits1 tbody tr:nth-last-child(2)");                  
                    $(this).closest('tr').next('tr').find("[name*='txtCode']").val('');                          
                    trLast.find("[name *= 'txtCode']").attr({
                        "name": ("txtCode" + counter)
                    });
                    trLast.find("[name *= 'txtName']").attr({
                        "name": ("Name" + counter)
                    });
                                     
                    trLast.find(":first").text(counter);                           
                }
            }
            counter++;                                                 
        });
       
        EztableTabEveOne("#tblUnits1", "[name*='txtCode']", "[name *= 'txtName']", "Please Enter Code or Onle one char", 'T', "", 1);
        /*Code Tab Event*/
        //EztableTabEve("#tblUnits1", "[name*='txtCode']", "[name *= 'txtName']", "Please Enter Code", 'T',"");
        /*Enter Event*/
        EztableLstEnt("#tblUnits1", "[name*='txtName']", "[name *= 'txtCode']","T","");
      
        /*Refresh */
        $("#btnCancel").click(function () {
            if ($("#tblUnits1 > tbody > tr").length > 1) {
                $("#tblUnits1 tbody tr td:last-child").remove();
            }
            $("#tblUnits1 tbody").find("tr:gt(0)").remove();
            var abk1 = [];
            abk1.push("[name*='txtCode']", "[name*='txtName']", "[name*='txtUniCodeName']");
            Ezsettxtclr(abk1);
            abk1 = [];
            abk1.push("#btnCancel", "#btnSave");
            Ezprop(abk1, "disabled", true);
            abk1 = [];
            abk1.push('#btnAdd', "[name*='Edit']", "[name*='Delete']");
            Ezprop(abk1, "disabled", false);                   
            $("#tblUnits1").hide();            
            $("#tbldiv").show();
        });
        /*Save Unit Table */
        $("#btnSave").click(function () {
           var StatustMaster=  {
                StatusDetailnew: []
            };
            $("#tblUnits1 tbody tr").each(function (index, item) {
                var StsCode = $(this).find("[name*='txtCode']").val();
                var StsName = $(this).find("[name*='txtName']").val();
             
                if ((StsCode != "") && (StsName != "")) {
                    var StatusDetail = {
                        Code: StsCode,
                        Name: StsName,                       
                    };
                    StatustMaster.StatusDetailnew.push(StatusDetail);
                }
            });
            var validationResult = ValidateForm(StatustMaster);
            if (validationResult.formValid) {
            $.post("/Status/SaveStats", StatustMaster).done(function (response) {
                if (response.Drecord == null)
                {
                    response.Drecord = 0;
                    $("#tbldiv").show();
                }
               
                $("#tblUnits1 tbody tr").each(function (index, item) {
                    var tr = $(this).closest("tr");
                    var codeAdd = $(tr).find("[name*='txtCode']").val().trim();
                    var nameAdd = $(tr).find("[name*='txtName']").val().trim();                   
                    if(response.Drecord.length>0)
                    {
                        var ary1 = [];
                        ary1 = response.Drecord;                       
                        if ($.inArray(codeAdd, ary1) < 0 && codeAdd != '' && nameAdd !='') {
                                $(this).closest('tr').remove();                                                                 
                                var counter = $("#Counter").val();
                                var firstRow = $('#tblUnits tbody tr:first');

                                var newRow = "<tr><td>" + codeAdd + "</td><td>" + nameAdd +
                                    "</td>";                                
                                newRow += "</td><td><button class='btn btn-primary' name='Edit" + counter + "' disabled>Edit</button>&nbsp;<button class='btn btn-danger' name='DeleteNew" + counter +
                                    "' disabled>Delete</button><input type='hidden' name='EditMode" + counter + "' value='false'><input name='item.CmpyCode' type='hidden' value='" + response.CmpyCode +
                                    "'></td></tr>";                                
                                $(firstRow).after(newRow);
                            }
                            else if (codeAdd != '') {
                                $(this).closest('tr').css("background", "red");
                            }
                            else {
                                $(this).closest('tr').css("background", "");
                            }                                               
                    }
                    else {
                        $("#tblUnits1 tbody").find("tr:not(:last)").remove();                        
                        var abk1 = [];
                        abk1.push("[name*='txtCode']", "[name*='txtName']");
                        Ezsettxtclr(abk1);
                        $("#tblUnits1").hide();                       
                        if (codeAdd != '' && nameAdd !='') {
                        var counter = $("#Counter").val();
                        var firstRow = $('#tblUnits tbody tr:first');
                        var newRow = "<tr><td>" + codeAdd + "</td><td>" + nameAdd +
                            "</td> ";
                        newRow += "</td><td><button class='btn btn-primary' name='Edit" + counter + "' disabled><span class='glyphicon glyphicon-edit'></span></button>&nbsp;<button class='btn btn-danger' name='DeleteNew" + counter +
                            "' disabled><span class='glyphicon glyphicon-trash'></span></button><input type='hidden' name='EditMode" + counter + "' value='false'><input name='item.CmpyCode' type='hidden' value='" + response.CmpyCode +
                            "'></td></tr>";
                        //newRow += "</tr>";
                        $(firstRow).after(newRow);
                        }
                        abk1 = [];
                        abk1.push("#btnCancel", "#btnSave");
                        Ezprop(abk1, "disabled", true);
                        abk1 = [];
                        abk1.push('#btnAdd', "[name*='Edit']", "[name*='Delete']");
                        Ezprop(abk1, "disabled", false);
                        EzAlertSave();

                        $(".dataTables_empty").replaceWith("");

                    }
                });
            });
          
            }
            else {
                EzAlerterr();
        }
        });
        
        function ValidateForm(StatustMaster) {
            var response = {
                ErrorMessage: "",
                formValid: false
            };
           
            if (StatustMaster.StatusDetailnew.length == 0) {
                response.ErrorMessage += "Please Enter atleast One Status code Details";
            }           
            if (response.ErrorMessage.length == 0) {
                response.formValid = true;
            }

            return response;
        }
        $("#tblUnits1").on("click", "[name*='btnDelete']", function () {
            $(this).closest("tr").remove();
        });

      
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            console.log(thrownError);
        });
      
        


        $("#tblUnits").on("click", "[name^='Edit']", function () {
            var n = EzAuthenticationBtn("/StatusMaster", "EditIt");
            if (n == 1){
                var counter = $("#Counter").val();
            var hdnEditMode = $(this).parent().find('input:hidden:first');
            var hdnCmpyCode = $(this).parent().find("[name='item.CmpyCode']").val();
            var tr = $(this).closest("tr");
            var hdnCode = $(tr).find("td:eq(0)").text().trim();
            var index = $(this).attr("name").substring(4);
            var nameTd = $(tr).find("td:eq(1)");        
            var editButton = $(this);
            if (hdnEditMode.val() == "true") {
                var nameEdit = $(tr).find("[name*='txtName']").val().trim();                              
                var Stats = {
                    CmpyCode: hdnCmpyCode,
                    Code: hdnCode,
                    Name: nameEdit,                   
                    EditFlag: true
                };
                $.post("/Status/SaveStats", Stats).done(function (response) {
                    nameTd.text(response.Name);                 
                    hdnEditMode.val("false");                  
                    editButton.html('<span class="glyphicon glyphicon-pencil"></span>');
                    editButton.attr('title', 'Edit');
                    tr.find("[name^='Delete']").html('<span class="glyphicon glyphicon-trash"></span>');
                    tr.find("[name^='Delete']").attr('title', 'Delete');
                    tableDis("F");
                    EzAlertUpd(hdnCode);
                });
                $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
                    console.log(thrownError);
                });
            } else {
                var name = $(tr).find("td:eq(1)").text();
                $('#stsname').val(name.trim());
                nameTd.html("<input type='text' name='txtName" + index + "' value='" + name.trim() + "' />");
                              
                $(this).html('<span class="glyphicon glyphicon-upload" ></span>');
                $(this).attr('title', 'Update');
                hdnEditMode.val("true");
            
                tableDis("T");
                $(this).attr("disabled", false);
                tr.find("[name^='Delete']").prop("disabled", false);
                
                tr.find("[name^='Delete']").html('<span class="glyphicon glyphicon-remove"></span>')
                tr.find("[name^='Delete']").attr('title', 'Cancel');
                
            }
        }
        });

        $("#tblUnits").on("click", "[name^='Delete']", function () {
            var n = EzAuthenticationBtn("/StatusMaster", "DeleteIt");
            if (n == 1) {
                var tr = $(this).closest("tr");
                var hdnCmpyCode = $(this).parent().find("[name='item.CmpyCode']").val();
                var codeTd = $(tr).find("td:eq(0)");

                var hdnMode = $(this).parent().find('input:hidden:first');
                var code = "";
                if (hdnMode.val() == "false") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            code = $(tr).find("td:eq(0)").text().trim();
                            $.getJSON("/DeleteStats", { Code: code, CmpyCode: hdnCmpyCode }).done(function (data) {
                                if (data.DeleteFlag) {
                                   
                                    tr.remove();
                                    if ($('#tblUnits tbody tr').length == 1 || $('#tblUnits tbody tr').length == 0) {
                                        //$(".dataTables_empty").replaceWith("No data available in table");
                                        var firstRow = $('#tblUnits tbody');
                                        var newRow = "<tr><td valign='top' colspan='4' class='dataTables_empty'>No data available in table</td></tr>";
                                        $(firstRow).append(newRow);
                                        $('.dataTables_info').replaceWith('Showing 0 to 0 of 0 entries');
                                    }

                                } else {
                                    EzAlertdele(code);
                                }
                            });
                            swalWithBootstrapButtons.fire(
                              'Deleted!',
                              'Your Code has been deleted.',
                              'success'
                            )

                        } else if (
                            // Read more about handling dismissals
                          result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                              'Cancelled',
                              'Your Code is safe :)',
                              'error'
                            )
                        }
                    })
                    
                }
                else {
                    var nameTd = $(tr).find("td:eq(1)");

                    var nameEdit = $('#stsname').val();//$(tr).find("[name*='txtName']").val().trim();

                    var hdnEditMode = $(this).parent().find('input:hidden:first');
                    nameTd.html(nameEdit);


                    tr.find("[name^='Edit']").html('<span class="glyphicon glyphicon-pencil"></span>');
                    $(this).html('<span class="glyphicon glyphicon-trash"></span>')
                    $(this).attr('title', 'Delete');
                    hdnEditMode.val("false");

                    tableDis("F");
                }

            }
        });
    });
    var k = 0;
    function tableDis(k) {
        if(k=="T")
        {
            $("#tblUnits tbody tr").find("[name^='Edit']").prop("disabled", true);
            $("#tblUnits tbody tr").find("[name^='Delete']").prop("disabled", true);
            $("#btnAdd").prop('disabled', true);
        }
        else
        {
            $("#tblUnits tbody tr").find("[name^='Edit']").prop("disabled", false);
            $("#tblUnits tbody tr").find("[name^='Delete']").prop("disabled", false);
            $("#btnAdd").prop('disabled', false);

        }
    }
   
</script>

<script>
$(document).ready(function(){   
    $(".edit").attr('title', 'Edit');
    $(".delete").attr('title', 'Delete');
});
</script>

<br />

<div class="title-action">
    <button class="btn btn-primary btn1" id="btnAdd"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add</button>
    
    <button type="submit" class="btn btn-primary btn1" id="btnSave" disabled><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

   

    <button class="btn btn-warning btn1" id="btnCancel" disabled><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>

    <input type="hidden" id="hdnOperationMode" value="" />

</div>
<label class="row" id="ErrorMessage" style="color:red;">
    <strong></strong>
</label>
<div class="panel panel-default panl">
    <div class="panel-body">
       
        <input id="stsname" type="hidden" />
        <!--comment-->
        <table class="table table-bordered" id="tblUnits1">
            <thead>
                <tr class="tr">
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                   
                </tr>
            </thead>
           

            <tbody>
                <tr>
                    <td>
                        <div class="grid-group">
                            @Html.TextBox(string.Concat("txtCode", counter), null, new { @class = "grid-control" })
                        </div>
                    </td>
                    <td>
                        <div class="grid-group">
                            @Html.TextBox(string.Concat("txtName", counter), null, new { @class = "grid-control" })
                        </div>
                    </td>
                   
                    
                </tr>
                </tbody>
            </table>

        <!--//comment table-->

        <div class="col-md-12 portal-drivers">
            <div id="tbldiv">
                <table class="table table-bordered" id="tblUnits">
                    <thead>
                        <tr class="tr">
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>


                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Code)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>


                        <td>
                            <button class="btn btn-primary" data-toggle="tooltip" title="edit" name="@string.Concat("Edit",counter)"><span class="glyphicon glyphicon-pencil"></span> @*Edit*@</button>
                            <button class="btn btn-danger" data-toggle="tooltip" title="Delete" name="@string.Concat("Delete",counter)"><span class="glyphicon glyphicon-trash"></span> @*Delete*@</button>
                            <input type="hidden" name="@string.Concat("EditMode",counter)" value="false" />
                            @Html.HiddenFor(m => item.CmpyCode)
                        </td>
                    </tr>
                            counter++;
                        }
                    </tbody>

                </table>


            </div>
            @Html.Hidden("Counter", counter)
        </div>
     </div>
</div>




