@model EzBusiness_ViewModels.Models.Humanresourcepayroll.PyrollConfi_Vm

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
       
        $('.selectpicker').selectpicker('refresh');
       
        EzdtePkEdit('#TO_DATE1', "#TO_DATE", "DD/MM/YYYY");
        EzdtePkEdit('#FROM_DATE1', "#FROM_DATE", "DD/MM/YYYY");

        EzcheckedFnEdit('input[name="LOCK"]', "[name*='LOCK']", 'input[name="LOCK"]:hidden');
        
        EzcheckedFnE('input[name="LOCK"]', "[name*='LOCK']");

    //    dt = new Date($("#FROM_DATE").val());
        //EzGetMonthName("#FINMONTH", "#hdnFINMONTH", dt);
        //EzGetYear("#FINYEAR", "#hdnFINYEAR", dt);

        //$("#FROM_DATE").change(function () {
        //    dt = new Date($("#FROM_DATE").val());
        //    EzGetMonthName("#FINMONTH", "#hdnFINMONTH", dt);
        //    EzGetYear("#FINYEAR", "#hdnFINYEAR", dt);
            
        //});

        EzGetMonthName("#FINMONTH", "#hdnFINMONTH", new Date(Ezsetdtpkdate($("#FROM_DATE1").val())));
        EzGetYear("#FINYEAR", "#hdnFINYEAR", new Date(Ezsetdtpkdate($("#FROM_DATE1").val())));

        $('#FROM_DATE1').on('dp.change', function (event) {
            dt = new Date(Ezsetdtpkdate($("#FROM_DATE1").val()));
            EzGetMonthName("#FINMONTH", "#hdnFINMONTH", dt);
            EzGetYear("#FINYEAR", "#hdnFINYEAR", dt);
        });
  
        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });


    });

    
</script>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">

                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">
                                <div class="form-body">
                                    @Html.HiddenFor(m => m.LOCK)
                                    @Html.HiddenFor(m => m.NOOFDAYS)
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Code</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.PRCNF001_CODE, new { @class = "form-control", @placeholder = "Code", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Sr No.</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.SRNO, new { @class = "form-control", @placeholder = "Sr No" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>




                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">From Date</label>
                                                <div class="col-md-8 input-field">
                                                    <input id="FROM_DATE1" class="form-control datepicker" name="FROM_DATE1" />
                                                    @Html.HiddenFor(m => m.FROM_DATE)
                                                    @*@Html.EditorFor(m => m.FROM_DATE, new { htmlAttributes = new { @class = "date1" } })*@
                                                    @*@Html.TextBoxFor(m => m.FROM_DATE, new { htmlAttributes = new { @class = "date1" } })*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">To Date</label>
                                                <div class="col-md-8 input-field">
                                                    <input id="TO_DATE1" class="form-control datepicker" name="TO_DATE1" />
                                                    @Html.HiddenFor(m => m.TO_DATE)
                                                    @*@Html.EditorFor(m => m.TO_DATE, new { htmlAttributes = new { @class = "date1" } })*@

                                                    @*@Html.TextBoxFor(m => m.TO_DATE, new { htmlAttributes = new { @class = "date1" } })*@
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">financial Year</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.FINYEAR, new { @class = "form-control", @placeholder = "Fin Year", @disabled = "disabled" }) @*, @disabled = "disabled"*@
                                                    <input type="hidden" id="hdnFINYEAR" value="" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">financial Month</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.FINMONTH, new { @class = "form-control", @placeholder = "Fin Month", @disabled = "disabled" })
                                                    <input type="hidden" id="hdnFINMONTH" value="" />

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Country<i style="color:red;">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.COUNTRY, Model.NationalityList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Lock</label>
                                                <div class="col-md-8 input-field">

                                                    @*@Html.HiddenFor(m=> m.LOCK ,new {@class= "checkbox1" })*@

                                                    <div class="col-md-8 input-field checkbox1">
                                                        <label>
                                                            @Html.CheckBox("LOCK", false)
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                            </div><br />
                            <!-- END FORM-->
                            <!-- <button>Hey, click me!</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>