@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.PyrollConfi_Vm>



@{
    var a = 1;

}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
   <script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetblnew("#POList", "#POList tfoot td", false, "#POList thead");
</script>


<table id="POList" class="table table-bordered stripe display hover">
    <thead>
        <tr class="tr">
            <th>CODE</th>
            <th>FIN YEAR</th>
            <th>FINM ONTH</th>
            <th>FROM DATE</th>
            <th>TO DATE</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>PRCNF001_CODE</td>
            <td>FINYEAR</td>
            <td>FINMONTH</td>
            <td>FROM_DATE</td>
            <td>TO_DATE</td>

        </tr>
    </tfoot>
    <tbody>
        @foreach (var po in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnPRCNF001_CODE", po.PRCNF001_CODE)
                    @po.PRCNF001_CODE
                </td>
                <td>
                    @po.FINYEAR
                </td>

                <td>
                    @po.FINMONTH
                </td>
                <td>
                    
                    @Convert.ToDateTime(@po.FROM_DATE).ToString("dd/MM/yyyy")
                    
                </td>
                <td>
                    @Convert.ToDateTime(@po.TO_DATE).ToString("dd/MM/yyyy")
                    
                   
                </td>

            </tr>
        }
    </tbody>
</table>


