@model IEnumerable<EzBusiness_ViewModels.Models.FreightManagement.FNM_CURR_RATE_VM>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>

        //$(document).ready(function () {
            Ezsidetbl("#POList", "#POList tfoot td", false, "#POList thead");
            //$('#POList').Datatable.reload();
            //a++;

        //});

</script>

@*<button class="btn btn-primary btn1 newbtn" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>*@

<div class="table-responsive">
    <table id="POList" class="table table-bordered stripe display hover portal-drivers">
        <thead>
            <tr class="tr">
                <th>
                    FROM CURRENCY CODE
                </th>
                <th>
                    TO CURRENCY CODE
                </th>
                <th>
                    Branch Code
                </th>
                <th>
                    ENTRY DATE
                </th>
                <th>
                    BUY RATE
                </th>
                <th>
                    SELL RATE
                </th>
                <th>
                    MASTER STATUS
                </th>
                <th>
                    NOTE
                </th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>
                    FROM CURRENCY CODE
                </td>
                <td>
                    TO CURRENCY CODE
                </td>
                <td>
                    Branch Code
                </td>
                <td>
                    ENTRY DATE
                </td>
                <td>
                    BUY RATE
                </td>
                <td>
                    SELL RATE
                </td>
                <td>
                    MASTER STATUS
                </td>
                <td>
                    NOTE
                </td>

            </tr>
        </tfoot>
        <tbody>
            @foreach (var po in Model)
        {
                <tr>
                    <td>
                        @Html.Hidden("hdnFROMCURRCode", po.FROM_CURRENCY_CODE)
                        @po.FROM_CURRENCY_CODE
                    </td>
                    <td>
                        @po.TO_CURRENCY_CODE
                    </td>
                    <td>
                        @po.Branch_code
                    </td>
                    <td>
                        @Html.Hidden("hdnENTRY_DATE", Convert.ToDateTime(@po.ENTRY_DATE).ToString("dd/MM/yyyy"))
                        @Convert.ToDateTime(@po.ENTRY_DATE).ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @po.BUY_RATE
                    </td>
                    <td>
                        @po.SELL_RATE
                    </td>
                    <td>
                        @po.MASTER_STATUS
                    </td>
                    <td>
                        @po.Note
                    </td>



                </tr>
        }
        </tbody>
    </table>
</div>
<script>
  //  $('#POList').DataTable().ajax.reload();
</script>