@model EzBusiness_ViewModels.Models.FreightManagement.FFM_VOYAGE_VM
@{
    var counter = 1;
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
       // EzTableRowDel("#tablePODetails", "[name*='btnDelete']");

        var counter = parseInt($("#hdnCounter").val());
        $("#tablePODetails").on("click", "[name*='btnDelete']", function () {
            $(this).closest("tr").remove();
            counter = 1;
            $('#tablePODetails tbody tr td:nth-child(1)').each(function (e) {
                var tr1 = $(this).closest("tr");
                tr1.find(":first").text(counter);
                counter++;
            });
        });

        var counter = $('#hdnCounter').val();


        $('.selectpicker').selectpicker('refresh');
      //  EzdtePk('#txtETA,#txtETAB,#txtETAD');
        //Ezsetzerotxt();
        //Ezdteformtcurtime();
        
        $("#tablePODetails").on("change", "[name*='txtRotation']", function () {
            
            
            if (EzHeadTxtvalid("[name *= 'FFM_VESSEL_CODE'] option:selected", "#tablePODetails tbody tr:last", "[name *= 'txtRotation']", "Please Enter VESSEL CODE", '0', '0') == true) {
                return;
            }

            if (EzHeadTxtvalid("[name *= 'FFM_VOYAGE01_CODE']", "#tablePODetails tbody tr:last", "[name *= 'txtRotation']", "Please Enter VOYAGE CODE", '0', '0') == true) {
                return;
            }

            //Ezdteformtcurtime();
            //$(".time1").datetimepicker("destroy");
            tbldtpicker();
            $(".datepicker").datetimepicker("destroy");
            var tr = $(this).closest('tr');
            var tcunt = $("#tablePODetails").find("tr").length;
            drec = [];
            $('#tablePODetails tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtRotation']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtRotation']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtRotation']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtRotation']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtRotation']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtRotation']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails tbody tr:last")
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails tbody tr:nth-last-child(2)");
                   // trLast.find("[name*='txtsrno']").val(tcunt);
                    trLast.find("[name*='txtRotation']").val('');
                    trLast.find("[name*='txtport'] option:selected").val('');
                    trLast.find("[name*='txtETA']").val('');
                    trLast.find("[name*='txtETAB']").val('');
                    trLast.find("[name*='txtETD']").val('');
                    trLast.find("[name*='txtPortStayhrs']").val('');
                    trLast.find("[name*='txtSailinghrs']").val('');
                    trLast.find("[name *= 'txtsrno']").attr({
                        "name": ("txtsrno" + counter)
                    });
                    trLast.find("[name *= 'txtRotation']").attr({
                        "name": ("txtRotation" + counter)
                    });
                    trLast.find("[name *= 'txtport'] option:selected").attr({
                        "name": ("txtport" + counter)
                    });
                    trLast.find("[name *= 'txtETA']").attr({
                        "name": ("txtETA" + counter)
                    });
                    trLast.find("[name *= 'txtETAB']").attr({
                        "name": ("txtETAB" + counter)
                    });
                    trLast.find("[name *= 'txtETD']").attr({
                        "name": ("txtETD" + counter)
                    });
                    trLast.find("[name *= 'txtPortStayhrs']").attr({
                        "name": ("txtPortStayhrs" + counter)
                    });
                    trLast.find("[name *= 'txtSailinghrs']").attr({
                        "name": ("txtSailinghrs" + counter)
                    });

                    trLast.find(":first").text(counter);
                }
            }
            counter++;
        });
        $('body').on('focusin', '.datepicker', function () {
            $('.datepicker').datetimepicker({
                // defaultDate: new Date(),
                format: 'DD/MM/YYYY',
                showClose: true,
                showClear: true,
            });

        });

        $('body').on('focusin', '.time1', function () {
            $('.time1').datetimepicker({
                //defaultDate: new Date(),
                format: 'LT',
                showClose: true,
                showClear: true,
            });

        });
      

            $("#FFM_VESSEL_CODE").change(function () {
                
                var VessalCode = $("#FFM_VESSEL_CODE option:selected").val();
                $.get("GetNameByVessalCode", { VessalCode: VessalCode }).done(function (response) {
                    $("#NAME").val(response.Vessalname);
                });
            });
            $('.selectpicker').selectpicker({
                style: 'btn-info',
                size: 4,

            });

            $('body').on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });

        });

</script>

<div class="row">
    <div class="panel-body" style="margin-left:10px;">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">
                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <input type="hidden" id="joindate" />
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Vessal Code<i class="star">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.FFM_VESSEL_CODE, Model.VessalCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Name</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.NAME, new { @class = "form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Voyage Code<i class="star">*</i></label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.FFM_VOYAGE01_CODE, new { @class = "form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Display Status</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownList(string.Concat("txtdisplaystatus", counter), new List<SelectListItem> { new SelectListItem { Text = "Yes", Value = "Y" }, { new SelectListItem { Text = "No", Value = "N" } } }, new { @class = "selectpicker form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>


                                </div>
                            </div><br />
                            <!-- END FORM-->

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>
                            </ul>
                            <div class="tab-content">
                                @*<div id="home" class="tab-pane fade in active">*@
                                    <br /><br />
                                    <div class="row">
                                    <div class="col-md-12">
                                        
                                            <table class="table table-bordered stripe display hover" id="tablePODetails">
                                                <thead>
                                                    <tr class="tr">
                                                        <th> Sr.No </th>
                                                        <th>Rotation</th>
                                                        <th>Port</th>
                                                        <th>ETA</th>
                                                        <th>ETB</th>
                                                        <th>ETD</th>
                                                        <th>Port Stay Hrs</th>
                                                        <th> sailing Hrs</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{int RowNo = 1;}
                                                    <tr>

                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtsrno", counter), @RowNo, new { @class = "grid-control",@readonly= "readonly" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtRotation", counter), null, new { @class = "grid-control" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.DropDownList(string.Concat("txtport", counter), Model.PortList, new { @class = "selectpicker grid-control", @data_live_search = "true" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtETA", counter), null, new { @class = "grid-control datepicker" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtETB", counter), null, new { @class = "grid-control datepicker" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtETD", counter), null, new { @class = "grid-control datepicker" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtPortStayhrs", counter), null, new { @class = "grid-control", @Type = "Number" })
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="grid-group">
                                                                @Html.TextBox(string.Concat("txtSailinghrs", counter), null, new { @class = "grid-control", @Type = "Number" })
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            @Html.Hidden("hdnCounter", (++counter))
                                       
                                    </div>
                                    </div>
                                @*</div>*@

                            </div>

                                <!-- <button>Hey, click me!</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>




<script>
    $(document).ready(function(){
        $(".alert-close").click(function () {
            $("#editshow").hide();
        });
    });
</script>