@model IEnumerable < EzBusiness_ViewModels.Models.FreightManagement.FFM_VOYAGE_VM>

@{
    ViewBag.Title = "VoyaGEData";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 1;
}
<br />
<script src="~/Scripts/EzComNDW.js"></script>
<script src="~/Scripts/Application/FrightManagment/FMM_CNTRFright.js"></script>
<div class="title-action">
    <button class="btn btn-primary btn1" id="btnAdd"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add</button>
    <button type="submit" class="btn btn-primary btn1" id="btnSave" disabled><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>
    <button class="btn btn-warning btn1" id="btnCancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>
    <input type="hidden" id="hdnOperationMode" value="" />
</div>
<input id="hdnMstatus" type="hidden"/>
<input id="hdnNote" type="hidden"/>
<div class="panel panel-default">
    <div class="panel-body">
        <input id="inpdocname" type="hidden"/>
        <table class="table table-bordered" id="tblcntr1">
            <thead>
                <tr class="tr">
                    <th>
                        CODE
                    </th>
                    <th>
                        NAME

                    <th></th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>
                        <div class="grid-group">
                            @Html.TextBox(string.Concat("txtCNTR_CODE", counter), null, new { @class = "grid-control" })
                        </div>
                    </td>
                    <td>
                        <div class="grid-group">
                            @Html.TextBox(string.Concat("txtNAME", counter), null, new { @class = "grid-control" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="col-md-12">
            <div id="tbldiv">
                <table class="table table-bordered" id="tblUnits">
                    <thead>
                        <tr class="tr">
                            <th>
                               Vessal CODE
                            </th>
                            <th>
                               Vessal NAME
                            </th>
                              Voyage Name
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="tr">

                            <td>
                                @Html.DisplayNameFor(model => model.FFM_VESSEL_CODE)
                            </td>

                            <td>
                                @Html.DisplayNameFor(model => model.NAME)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.FFM_VOYAGE01_CODE)
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FFM_VESSEL_CODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FFM_VOYAGE01_CODE)
                                </td>                             
                            </tr>
                            counter++;
                        }
                    </tbody>

                </table>

            </div>
        </div>

        @Html.Hidden("Counter", counter)
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {

            $(".edit").attr('title', 'Edit');
            $(".delete").attr('title', 'Delete');
            cntr.initialize();
            });
</script>

