@model EzBusiness_ViewModels.Models.FreightManagement.SEA_Export.FF_QTN_VM

@{

    var counter5 = 1;
    var counter4 = 1;
    var counter3 = 1;
    var counter2 = 1;
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<style>
    .select-div, .input-div {
  display: inline-block;
}
</style>

<script>
    $(function () {
        debugger;
        EzDropFillEvent("FF_QTN001_CODE", "focus", "CUST_CODE", "/FFM_Quotation/GetCust");
        EzDropFillEvent("CONTACT", "focus", "POD", "/FFM_Quotation/GetPortList");
        EzDropFillEvent("TELEPHONE", "focus", "FND", "/FFM_Quotation/GetPortList");
        EzDropFillEvent("EMAIL", "focus", "POL", "/FFM_Quotation/GetPortList");
        EzDropFillEvent("CUSTOMER_REF", "focus", "MOVE_TYPE", "/FFM_Quotation/GetMoveCode");
        EzDropFillEvent("PICKUP_PLACE", "focus", "VESSEL", "/FFM_Quotation/GetVESSELList");
        EzDropFillEvent("PSTATE", "focus", "Commodity_code", "/FFM_Quotation/GetCommodityistList");
        EzDropFillEvent("PZIP", "focus", "CARRIER", "/FFM_Quotation/GetSLList");
        EzDropFillEvent("FDSTATE", "focus", "DEPARTMENT", "/FFM_Quotation/GetDepart");
        EzDropFillEvent("CUST_CODE", "click", "CUST_CODE", "/FFM_Quotation/GetCust");
        EzDropFillEvent("POD", "click", "POD", "/FFM_Quotation/GetPortList");
        EzDropFillEvent("FND", "click", "FND", "/FFM_Quotation/GetPortList");
        EzDropFillEvent("POL", "click", "POL", "/FFM_Quotation/GetPortList");
        EzDropFillEvent("MOVE_TYPE", "click", "MOVE_TYPE", "/FFM_Quotation/GetMoveCode");
        EzDropFillEvent("VESSEL", "click", "VESSEL", "/FFM_Quotation/GetVESSELList");
        EzDropFillEvent("Commodity_code", "click", "Commodity_code", "/FFM_Quotation/GetCommodityistList");
        EzDropFillEvent("CARRIER", "click", "CARRIER", "/FFM_Quotation/GetSLList");
        EzDropFillEvent("DEPARTMENT", "click", "DEPARTMENT", "/FFM_Quotation/GetDepart");
       
        EzDropFillEventTbl1("#tablePODetails2", "[name*='txtCont_Type']", "click", "[name*='txtCont_Type']", "/FFM_Quotation/GetContTyp","",false);
        EzDropFillEventTbl1("#tablePODetails2", "[name*='txtCommodity_code']", "click", "[name*='txtCommodity_code']", "/FFM_Quotation/GetCommodityistList", "", false);

        EzDropFillEventTbl1("#tablePODetails4", "[name*='txtCLAUSE_CODE']", "click", "[name*='txtCLAUSE_CODE']", "/FFM_Quotation/GetCLAUSE", "", false);
                      
        
        EzDropFillEventTbl1("#tablePODetails5", "[name*='txtCrg_code']", "click", "[name*='txtCrg_code']", "/FFM_Quotation/GetCRG_002", "", false);
        EzDropFillEventTbl1("#tablePODetails5", "[name*='txtCust_Curr_Code']", "click", "[name*='txtCust_Curr_Code']", "/FFM_Quotation/GetCurcode", "", false);
        EzDropFillEventTbl1("#tablePODetails5", "[name*='txtCust_code']", "click", "[name*='txtCust_code']", "/FFM_Quotation/GetCust", "", false);
        EzDropFillEventTbl1("#tablePODetails5", "[name*='txtVend_Curr_Code']", "click", "[name*='txtVend_Curr_Code']", "/FFM_Quotation/GetCurcode", "", false);
        EzDropFillEventTbl1("#tablePODetails5", "[name*='txtVend_code']", "click", "[name*='txtVend_code']", "/FFM_Quotation/GetVendor", "", false);
        EzDropFillEventTbl1("#tablePODetails5", "[name*='txtUnit_code']", "click", "[name*='txtUnit_code']", "/FFM_Quotation/GetUnitcode", "", false);
      

        arr1 = [];
        
        
        EzdteformtDOB('#EFFECT_FROM1', 'DD/MM/YYYY');
        EzdteformtDOB('#EFFECT_UPTO1', 'DD/MM/YYYY');
        $('.selectpicker').selectpicker('refresh');
        //EzTableRowDel("#tablePODetails", "[name*='btnDelete']");
        var counter5 = parseInt($("#hdnCounter5").val());
       $("#tablePODetails5").on("click", "[name*='btnDelete']", function () {
          $(this).closest("tr").remove();
          counter5 = 1;
             $('#tablePODetails5 tbody tr td:nth-child(1)').each(function (e) {
                 var tr1 = $(this).closest("tr");
                 tr1.find(":first").text(counter5);
                 counter5++;
             });
             $("#tablePODetails5").css("height", "auto");
       });

       var counter4 = parseInt($("#hdnCounter4").val());
       $("#tablePODetails4").on("click", "[name*='btnDelete']", function () {
           $(this).closest("tr").remove();
           //counter4 = 1;
           //$('#tablePODetails4 tbody tr td:nth-child(1)').each(function (e) {
           //    var tr1 = $(this).closest("tr");
           //    tr1.find(":first").text(counter4);
           //    counter4++;
           //});
       });


       var counter3 = parseInt($("#hdnCounter3").val());
       $("#tablePODetails3").on("click", "[name*='btnDelete']", function () {
           $(this).closest("tr").remove();
           counter3 = 1;
           $('#tablePODetails3 tbody tr td:nth-child(1)').each(function (e) {
               var tr1 = $(this).closest("tr");
               tr1.find(":first").text(counter3);
               counter3++;
           });
       });

       var counter2 = parseInt($("#hdnCounter2").val());
       $("#tablePODetails2").on("click", "[name*='btnDelete']", function () {
           $(this).closest("tr").remove();
           counter2 = 1;
           $('#tablePODetails2 tbody tr td:nth-child(1)').each(function (e) {
               var tr1 = $(this).closest("tr");
               tr1.find(":first").text(counter2);
               counter2++;
           });
       });

       $("#tablePODetails5").on("change", "[name*='txtCust_code']", function () {
           var tr = $(this).closest('tr');           
           $("#tablePODetails5").css("height", "auto");
           var JobCode = tr.find("[name*='txtCust_code'] option:selected").text();
           var array = JobCode.split("-");
           if (array.length > 2) {
               tr.find("[name*='txtCust_name']").val(array[1].trim());
               tr.find("[name*='txtCust_Ctrl_Act']").val(array[2].trim());
               tr.find("[name*='txt1Cust_code']").val(array[0].trim());
               tr.find(".dropdown-toggle").css('width', 0);
           } else {
               tr.find("[name*='txt1Cust_code']").val('');
           }
           EztblDropOneColumn("tablePODetails5", "txtCust_code", counter5, tr, 9, "txt1Cust_code");
       });


       $("#tablePODetails4").on("change", "[name*='txtCLAUSE_CODE']", function () {
           var tr = $(this).closest('tr');
           var JobCode = tr.find("[name*='txtCLAUSE_CODE'] option:selected").text();
           var array = JobCode.split("-");
           if (array.length > 1) {
               tr.find("[name*='txtCLAUSE_NAME']").val(array[1].trim());
               tr.find("[name*='txt1CLAUSE_CODE']").val(array[0].trim());
               tr.find(".dropdown-toggle").css('width', 0);
           }
           else {
               tr.find("[name*='txt1CLAUSE_CODE']").val('');
           }
           EztblDropOneColumn("tablePODetails4", "txtCLAUSE_CODE", counter4, tr, 0, "txt1CLAUSE_CODE");
           


       });

       $("#tablePODetails5").on("change", "[name*='txtVend_code']", function () {
           debugger;
           var tr = $(this).closest('tr');
           $("#tablePODetails5").css("height", "auto");
           var JobCode = tr.find("[name*='txtVend_code'] option:selected").text();
           var array = JobCode.split("-");          
           if (array.length > 2) {
               tr.find("[name*='txtVend_name']").val(array[1].trim());
               tr.find("[name*='txtVend_Ctrl_Act']").val(array[2].trim());
               tr.find("[name*='txt1Vend_code']").val(array[0].trim());
               tr.find(".dropdown-toggle").css('width', 0);
           }
           else {
               tr.find("[name*='txt1Vend_code']").val('');
           }
           EztblDropOneColumn("tablePODetails5", "txtVend_code", counter5, tr, 16, "txt1Vend_code");
          

       });

       $("#tablePODetails5").on("change", "[name*='txtCust_Curr_Code']", function () {
           var tr = $(this).closest('tr');
           debugger;
           $("#tablePODetails5").css("height", "auto");
           var CurCode = tr.find("[name*='txtCust_Curr_Code'] option:selected").text();
           var array = CurCode.split("-");
           if (array.length > 1) {
               tr.find("[name*='txt1Cust_Curr_Code']").val(array[0].trim());
               $.get("FFM_Quotation/GetCurRate", { CurCode: CurCode }).done(function (response) {
                   debugger;
                   var ary = [];
                   ary = response;
                   tr.find("[name*='txtCust_Curr_Rate']").val(ary);
               });
               tr.find(".dropdown-toggle").css('width', 0);
           } else {
               tr.find("[name*='txt1Cust_Curr_Code']").val('');
           }
           EztblDropOneColumn("tablePODetails5", "txtCust_Curr_Code", counter5, tr, 7, "txt1Cust_Curr_Code");
          
         

       });

       $("#tablePODetails5").on("change", "[name*='txtUnit_code']", function () {
           debugger;
           var tr = $(this).closest('tr');
           var CurCode = tr.find("[name*='txtUnit_code'] option:selected").text();
           var array = CurCode.split("-");
           if (array.length > 1) {
               tr.find("[name*='txt1Unit_code']").val(array[0].trim());
               EztblDropOneColumn("tablePODetails5", "txtUnit_code", counter5, tr, 4, "txt1Unit_code");
               tr.find(".dropdown-toggle").css('width', 0);
           } else {
               tr.find("[name*='txt1Unit_code']").val('');
           }
           $("#tablePODetails5").css("height", "auto");
       })

      

       $("#tablePODetails2").on("change", "[name*='txtCont_Type']", function () {
           var tr = $(this).closest('tr');
           var CurCode = tr.find("[name*='txtCont_Type'] option:selected").text();
           var array = CurCode.split("-");
           if (array.length > 1) {
               tr.find("[name*='txt1Cont_Type']").val(array[0].trim());
               tr.find(".dropdown-toggle").css('width', 0);
           }
           else {
               tr.find("[name*='txt1Cont_Type']").val('');
           }
           EztblDropOneColumn1("tablePODetails2", "txtCont_Type", counter2, tr, 2, "txt1Cont_Type");
           $("#tablePODetails2").css("height", "auto");
       })

       $("#tablePODetails2").on("change", "[name*='txtCommodity_code']", function () {
           var tr = $(this).closest('tr');
           var CurCode = tr.find("[name*='txtCommodity_code'] option:selected").text();
           var array = CurCode.split("-");
           if (array.length > 1) {
               tr.find("[name*='txt1Commodity_code']").val(array[0].trim());
               tr.find(".dropdown-toggle").css('width', 0);
           }
           else {               
               tr.find("[name*='txt1Commodity_code']").val('');
           }
           tr.find('.btn dropdown-toggle btn-default').css("width", "0px");
           $("#tablePODetails2").css("height", "auto");
           EztblDropOneColumn1("tablePODetails2", "txtCommodity_code", counter2, tr, 3, "txt1Commodity_code");
       })



       $("#tablePODetails5").on("change", "[name*='txtNo_of_qty']", function () {
           var tr = $(this).closest('tr');
           var rate = parseFloat(tr.find("[name*='txtCust_Rate']").val());
           var qty = parseFloat(tr.find("[name*='txtNo_of_qty']").val());
           var Vrate = parseFloat(tr.find("[name*='txtVend_Rate']").val());
           qty = isNaN(qty) ? 0 : qty;
           rate = isNaN(rate) ? 0 : rate;
           Vrate = isNaN(Vrate) ? 0 : Vrate;
           tr.find("[name*='txtCust_Total_amt']").val(productmul(qty, rate));
           tr.find("[name*='txtVend_Total_amt']").val(productmul(qty, Vrate));
           tr.find("[name*='txtVend_Net_Amt']").val(tr.find("[name*='txtVend_Total_amt']").val());
           sumOfColumns();
       });

       $("#tablePODetails5").on("change", "[name*='txtCust_Rate']", function () {
           var tr = $(this).closest('tr');
           var rate = parseFloat(tr.find("[name*='txtCust_Rate']").val());
           var qty = parseFloat(tr.find("[name*='txtNo_of_qty']").val());          
           qty = isNaN(qty) ? 0 : qty;
           rate = isNaN(rate) ? 0 : rate;         
           tr.find("[name*='txtCust_Total_amt']").val(productmul(qty, rate));

           tr.find("[name*='txtCust_Net_Amt']").val(tr.find("[name*='txtCust_Total_amt']").val());
           sumOfColumns();
       });
  
       $("#tablePODetails5").on("change", "[name*='txtVend_Rate']", function () {
           var tr = $(this).closest('tr');
           var Vrate = parseFloat(tr.find("[name*='txtVend_Rate']").val());
           var qty = parseFloat(tr.find("[name*='txtNo_of_qty']").val());
           qty = isNaN(qty) ? 0 : qty;
           Vrate = isNaN(Vrate) ? 0 : Vrate;
           tr.find("[name*='txtVend_Total_amt']").val(productmul(qty, Vrate));
           tr.find("[name*='txtVend_Net_Amt']").val(tr.find("[name*='txtVend_Total_amt']").val());
           sumOfColumns();
           
       });

       function productmul(qty, rate) {        
           return (parseFloat(qty) * parseFloat(rate))+0; //variation should be zero
       }

       function sumOfColumns() {
           var sum = 0.0;
           var sum1 = 0.0;
           $("#tablePODetails5 > tbody  > tr").each(function () {
               var amount = parseFloat($(this).find("[name*='txtVend_Net_Amt']").val());
               var amount1 = parseFloat($(this).find("[name*='txtCust_Net_Amt']").val());
               sum += isNaN(amount) ? 0 : amount;
               sum1 += isNaN(amount1) ? 0 : amount1;                            
           });          
           $("[name*='Total_Billed']").val('' + sum);
           $("[name*='Total_Cost']").val('' + sum1);
           $("[name*='Total_Profit']").val('' + (sum1 - sum));
       }

       $("#tablePODetails5").on("change", "[name*='txtVend_Curr_Code']", function () {
           var tr = $(this).closest('tr');
           $("#tablePODetails5").css("height", "auto");
           var CurCode = tr.find("[name*='txtVend_Curr_Code'] option:selected").text();
           var array = CurCode.split("-");
           if (array.length > 1) {
               tr.find("[name*='txt1Vend_Curr_Code']").val(array[0].trim());
               $.get("FFM_Quotation/GetCurRate", { CurCode: CurCode }).done(function (response) {
                   debugger;
                   var ary = [];
                   ary = response;
                   tr.find("[name*='txtVend_Curr_Rate']").val(ary);
               });
               tr.find(".dropdown-toggle").css('width', 0);
               
           } else {
               tr.find("[name*='txt1Vend_Curr_Code']").val('');
           }
           $("#tablePODetails5").css("height", "auto");
           EztblDropOneColumn("tablePODetails5", "txtVend_Curr_Code", counter5, tr, 14, "txt1Vend_Curr_Code");
       });

       var counter5 = parseInt($("#hdnCounter5").val())+1;
        $('.selectpicker').selectpicker('refresh');
        $("#tablePODetails5").on("change", "[name*='txtCrg_code']", function () {
            debugger;
            var tr = $(this).closest('tr');

            tr.find("[name*='txt1Crg_code']").attr('style', 'width:81%');
            var Vcde = tr.prev().find("[name *= 'txtVend_code'] option:selected").val();
            var Ccur = tr.prev().find("[name *= 'txtCust_Curr_Code'] option:selected").val();
            var Vcur = tr.prev().find("[name *= 'txtVend_Curr_Code'] option:selected").val();
            var Ucde = tr.prev().find("[name *= 'txtUnit_code'] option:selected").val();
            var Ccde = tr.prev().find("[name *= 'txtCust_code'] option:selected").val();
            var t = true;

            k = tr.find("[name*='txtCrg_code'] option:selected").val();
            if (k == '0') {
                t = false;
                tr.find("[name*='txtCrg_name']").val('');
                tr.find("[name*='txtIncome_GL_Code']").val('');
                tr.find("[name*='txtExpense_GL_Code']").val('');
                tr.find("[name*='txt1Crg_code']").val('');
                $("#tablePODetails5").css("height", "auto");
            }
            if ($('#tablePODetails5 tbody tr').length == 2 ) {
                if ((Vcde == '-1' || Vcde == '0') || (Ccur == '-1' || Ccur == '0') || (Vcur == '-1' || Vcur == '0') || (Ucde == '-1' || Ucde == '0') || (Ccde == '-1' || Ccde == '0')) {
                 EzAlerterrtxt('Please Fill First Row');                 
                 var text = tr.find("select[name=txtCrg_code2] option[value='0']").text();
                 //We need to show the text inside the span that the plugin show
                 tr.find('.bootstrap-select .filter-option').text(text);
                 //Check the selected attribute for the real select
                 tr.find('select[name=txtCrg_code2]').val(0);
                 t = false;
                 $("#tablePODetails5").css("height", "auto");
                }
             
            }
             if(t==true)
            {
                var JobCode = tr.find("[name*='txtCrg_code'] option:selected").text();
                debugger;
                var array = JobCode.split("-");
                if (array.length > 3) {
                    tr.find("[name*='txtCrg_name']").val(array[1].trim());
                    tr.find("[name*='txtIncome_GL_Code']").val(array[2].trim());
                    tr.find("[name*='txtExpense_GL_Code']").val(array[3].trim());
                    tr.find("[name*='txt1Crg_code']").val(array[0].trim());
                    tr.find(".dropdown-toggle").css('width', 0);
                }

                drec = [];
                $('#tablePODetails5 tbody tr td:nth-child(1)').each(function () {
                    //add item to array
                    var ab = $(this).closest("tr").find("[name *= 'txtCrg_code']  option:selected").val();
                    drec.push(ab);
                });

                drec.splice($.inArray(tr.find("[name *= 'txtCrg_code'] option:selected").val(), drec), 1);
                if ($.inArray(tr.find("[name *= 'txtCrg_code']").val(), drec) >= 0) {
                    var dr = tr.find("[name *= 'txtCrg_code']").val();
                    tr.css("background", "red");
                    tr.find("[name *= 'txtCrg_code']").focus();
                    EzAlerterrtxt("Already Exist Code '" + dr + "'");
                    tr.find("[name *= 'txtCrg_code']").val('');
                    tr.find("[name*='txt1Crg_code']").val('');


                }
                else {
                    tr.css("background", "");
                    if (tr.is(":last-child")) {
                        $('#tablePODetails5 tr:last').clone().insertAfter('#tablePODetails5 tr:last');

                        var trLast = $("#tablePODetails5 tr:last");
                        $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter5 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                                   .appendTo("#tablePODetails5 tbody tr:nth-last-child(2)");
                        debugger;
                        droparry = [];
                        txtarry = [];

                        droparry.push('txtCust_Curr_Code', 'txtCrg_code', 'txtUnit_Code', 'txtCust_code', 'txtPAY_MODE', 'txtVend_code', 'txtVend_Curr_Code');
                        txtarry.push('txtsno', 'txtCrg_name', 'txtIncome_GL_Code', 'txtExpense_GL_Code', 'txtCust_name', 'txtCust_Ctrl_Act', 'txtCust_Curr_Rate', 'txtCust_Total_amt', 'txtCust_Var_Amt', 'txtCust_Net_Amt', 'txtCust_Local_amt', 'txtVend_name', 'txtVend_Ctrl_Act', 'txtVend_Curr_Rate', 'txtVend_Total_amt', 'txtVendVar_Amt', 'txtVend_Net_Amt', 'txtVend_Local_amt', 'txt1Crg_code');
                        txtarry.push('txt1Cust_Curr_Code',  'txt1Unit_Code', 'txt1Cust_code',  'txt1Vend_code', 'txt1Vend_Curr_Code');

                        EzTbltxtdrpidchanged(droparry, counter5, "drp", trLast);
                        EzTbltxtdrpidchanged(txtarry, counter5, "txt", trLast);


                        trLast.find(":first").text(counter5);
                        trLast.find('select[name^=txtCrg_code' + counter5 + ']').val(0);
                        trLast.find('.bootstrap-select').replaceWith(function () { return $('select', this); });
                        trLast.find("[name *= 'txtCrg_code']").selectpicker('refresh');
                        trLast.find("[name *= 'txtVend_code']").selectpicker('refresh');

                        trLast.find("[name *= 'txtPAY_MODE']").selectpicker('refresh');

                        trLast.find("[name *= 'txtCust_Curr_Code']").selectpicker('refresh');

                        trLast.find("[name *= 'txtVend_Curr_Code']").selectpicker('refresh');
                        trLast.find("[name *= 'txtUnit_code']").selectpicker('refresh');
                        trLast.find("[name *= 'txtCust_code']").selectpicker('refresh');


                        trLast.find("[name*='txtCrg_name']").val('');
                        trLast.find("[name*='txtIncome_GL_Code']").val('');
                        trLast.find("[name*='txtExpense_GL_Code']").val('');
                        trLast.find("[name*='txt1Crg_code']").val('');

                    }
                    counter5++;
                }


               
            }
            $("#tablePODetails5").css("height", "auto");

        });


       
        var counter4 = parseInt($("#hdnCounter4").val())+1;
        $("#tablePODetails4").on("change", "[name*='txtCLAUSE_CODE']", function () {

            var tr = $(this).closest('tr');
            var JobCode = tr.find("[name*='txtCLAUSE_CODE'] option:selected").text();
            var array = JobCode.split("-");
            //   var counter =1;
            if (array.length > 1) {
                tr.find("[name*='txtCLAUSE_NAME']").val(array[1].trim())
                tr.find("[name*='txt1CLAUSE_CODE']").val(array[0].trim())
                tr.find(".dropdown-toggle").css('width', 0);
            }
         

            //  var tcunt = $("#tablePODetails").find("tr").length;
            drec = [];
            $('#tablePODetails4 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).closest("tr").find("[name *= 'txtCLAUSE_CODE'] option:selected").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtCLAUSE_CODE']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtCLAUSE_CODE']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtCLAUSE_CODE']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtCLAUSE_CODE']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtCLAUSE_CODE']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails4 tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter4 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails4 tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsno']").val(tcunt);
                    trLast.find("[name*='txtCLAUSE_CODE'] option:selected").val('');
                    trLast.find("[name*='txtCLAUSE_NAME']").val('');

                    trLast.find("[name *= 'txtCLAUSE_CODE']").attr({
                        "name": ("txtCLAUSE_CODE" + counter4)
                    });
                    trLast.find("[name *= 'txtCLAUSE_NAME']").attr({
                        "name": ("txtCLAUSE_NAME" + counter4)
                    });

                    trLast.find(":first").text(counter4);
                }
                counter4++;
            }



        });

        var counter3 = parseInt($("#hdnCounter3").val())+1;
        $("#tablePODetails3").on("change", "[name*='txtPkg_No']", function () {

            var tr = $(this).closest('tr');

            //  var tcunt = $("#tablePODetails").find("tr").length;
            drec = [];
            $('#tablePODetails3 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtPkg_No']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtPkg_No']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtPkg_No']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtPkg_No']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtPkg_No']").focus();
                EzAlerterrtxt("Already Exist Pkg No '" + dr + "'");
                tr.find("[name *= 'txtPkg_No']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails3 tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter3 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails3 tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsno']").val(tcunt);
                    trLast.find("[name*='txtPkg_No']").val('');
                    trLast.find("[name*='txtNo_of_qty']").val('');

                    trLast.find("[name *= 'txtNo_of_qty']").attr({
                        "name": ("txtNo_of_qty" + counter3)
                    });
                    trLast.find("[name *= 'txtunit_type']").attr({
                        "name": ("txtunit_type" + counter3)
                    });
                    trLast.find("[name *= 'txtHeight']").attr({
                        "name": ("txtHeight" + counter3)
                    });
                    trLast.find("[name *= 'txtWidth']").attr({
                        "name": ("txtWidth" + counter3)
                    });
                    trLast.find("[name *= 'txtAct_LBS']").attr({
                        "name": ("txtAct_LBS" + counter3)
                    });
                    trLast.find("[name *= 'txtinside_Unit']").attr({
                        "name": ("txtinside_Unit" + counter3)
                    });
                    trLast.find("[name *= 'txtVolume']").attr({
                        "name": ("txtVolume" + counter3)
                    });
                    trLast.find("[name *= 'txtDime_weight']").attr({
                        "name": ("txtDime_weight" + counter3)
                    });
                    trLast.find(":first").text(counter3);
                }
                counter3++;
            }



        });

        var counter2 = parseInt($("#hdnCounter2").val()) + 1;
        $("#tablePODetails2").on("change", "[name*='txtContainer']", function () {           
            var tr = $(this).closest('tr');
            debugger;
            var ctyp = tr.prev().find("[name *= 'txtCont_Type'] option:selected").val();
            var Comcode = tr.prev().find("[name *= 'txtCommodity_code'] option:selected").val();
            var t = true;
           
            if ($('#tablePODetails2 tbody tr').length == 2) {
                if ((ctyp == '-1' || ctyp == '0') || (Comcode == '-1' || Comcode == '0')) {
                    EzAlerterrtxt('Please Fill First Row');                                     
                    t = false;
                    $("#tablePODetails2").css("height", "auto");
                }

            }
            if (t == true) {
                drec = [];
                $('#tablePODetails2 tbody tr td:nth-child(1)').each(function () {
                    //add item to array
                    var ab = $(this).find("[name *= 'txtContainer']").val();
                    drec.push(ab);
                });

                drec.splice($.inArray(tr.find("[name *= 'txtContainer']").val(), drec), 1);
                if ($.inArray(tr.find("[name *= 'txtContainer']").val(), drec) >= 0) {
                    var dr = tr.find("[name *= 'txtContainer']").val();
                    tr.css("background", "red");
                    tr.find("[name *= 'txtContainer']").focus();
                    EzAlerterrtxt("Already Exist Container '" + dr + "'");
                    tr.find("[name *= 'txtContainer']").val('');


                }
                else {
                    tr.css("background", "");
                    if (tr.is(":last-child")) {
                        tr.clone(true, true).insertAfter(tr);
                        var trLast = $("#tablePODetails2 tr:last");
                        $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter2 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                                   .appendTo("#tablePODetails2 tbody tr:nth-last-child(2)");
                        //trLast.find("[name*='txtsno']").val(tcunt);
                        trLast.find("[name*='txtContainer']").val('');


                        droparry1 = [];
                        txtarry1 = [];

                        droparry1.push('txtCont_Type', 'txtCommodity_code');
                        txtarry1.push('txtsno', 'txtSeal1', 'txtNo_of_qty', 'txtContents', 'txtLBS', 'txtKG', 'txtCFT', 'txtCBM');
                        txtarry1.push('txt1Cont_Type', 'txt1Commodity_code');

                        EzTbltxtdrpidchanged(droparry1, counter2, "drp", trLast);
                        EzTbltxtdrpidchanged(txtarry1, counter2, "txt", trLast);

                      
                        trLast.find(":first").text(counter2);
                        //trLast.find('.bootstrap-select').replaceWith(function () { return $('select', this); });
                        trLast.find("[name *= 'txtCont_Type']").selectpicker('refresh');
                        trLast.find("[name *= 'txtCommodity_code']").selectpicker('refresh');

                    }
                    counter2++;
                }

            }

        });


        $('#CUST_CODE').change(function () {
            var JobCode = $("[name*='CUST_CODE'] option:selected").text();
            if (JobCode != '') {
                var array = JobCode.split("-");
                if (array.length > 1) {
                    $('#CustName').val(array[1].trim());
                }                
            }
           
        });
        $('#VESSEL').change(function () {
            var VESSEL = $('#VESSEL option:selected').val();
            $.get("FFM_Quotation/GetVESSELCodeList", { VESSEL: VESSEL }).done(function (response) {
                debugger;
                $('#VOYAGE').empty();             
                var ary = [];
                ary = response;
                for (var i = 0; i < ary.length; i++) {
                    $('#VOYAGE').append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                }               
                $('#VOYAGE').val(0);              
                $('.selectpicker').selectpicker('refresh');
            });
        });

        EzDropEventTblHeight("#tablePODetails5", "#table-responsive-cliente", "#txtCrg_code" + counter5 - 1, 'focusin', 80);
      
    });

    
</script>





<div class="row">
    @Html.Hidden("hdnCounter2", (counter2))
    @Html.Hidden("hdnCounter3", (counter3))
    @Html.Hidden("hdnCounter5", (counter5))
    @{
        var TypeListdata1 = new SelectList(new[]
        {
            new SelectListItem { Text = "-Select-", Value = "-1" },
            }, "Value", "Text");
    }
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">
                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                           <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Code<i class="star">*</i></label>
                                                    <div class="col-md-4 input-field">
                                                        @Html.TextBoxFor(m => m.FF_QTN001_CODE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Customer<i class="star">*</i></label>
                                                    <div class="col-md-4 input-field">
                                                        @Html.DropDownListFor(m => m.CUST_CODE, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                    <div class="col-md-4 input-field">
                                                        <input type="text" class="form-control" name="CustName" id="CustName" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Contact</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.CONTACT, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Telephone</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.TELEPHONE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">EMAIL</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Custom Ref</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.CUSTOMER_REF, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Pickup Place</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.PICKUP_PLACE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">State</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.PSTATE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">zip</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.PZIP, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Port Of Load<i class="star">*</i></label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.POL, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Port Of Dsch<i class="star">*</i></label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.POD, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Final Destn<i class="star">*</i></label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.FND, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">State</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.FDSTATE, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Move Type <span class="star">*</span></label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.MOVE_TYPE, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Zip</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Vessel <span class="star">*</span></label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.VESSEL, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Ref No.</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.REF_NO, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Commodity</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        @Html.DropDownListFor(m => m.Commodity_code, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Voy <span class="star">*</span></label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.VOYAGE, TypeListdata1, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Carrier</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.CARRIER, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Effective <span class="star">*</span></label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        <input id="EFFECT_FROM1" class="form-control datepicker" name="EFFECT_FROM1" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Expiration <span class="star">*</span></label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        <input id="EFFECT_UPTO1" class="form-control datepicker" name="EFFECT_UPTO1" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Department</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        @Html.DropDownListFor(m => m.DEPARTMENT, TypeListdata1, new { @class = "form-control", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6" style="display:none">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Quoted By</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                        @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Commodity</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        @Html.DropDownListFor(m => m.Commodity_code, Model.Commodityist, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@



                                    </div>


                                    <div class="col-md-12">
                                        <div class="">
                                            <ul class="nav nav-tabs">
                                                <li class="active b1"><a data-toggle="tab" href="#home">Container</a></li>
                                                <li class="b1"><a data-toggle="tab" href="#menu1">Dimension</a></li>
                                                <li class="b1"><a data-toggle="tab" href="#menu2">Clauses</a></li>
                                                <li class="b1"><a data-toggle="tab" href="#menu3">Charges</a></li>
                                            </ul>

                                            <br />
                                            <div class="tab-content">
                                                <div id="home" class="tab-pane fade in active">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails2">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th>Sr. No</th>
                                                                        <th>Container</th>
                                                                        <th>Type</th>
                                                                        <th>Commodity</th>
                                                                        <th>Seal 1</th>
                                                                        <th>No. of Quantity</th>
                                                                        <th>Contents</th>
                                                                        <th>Wt. LBS</th>
                                                                        <th>Wt. KG</th>
                                                                        <th>CFT</th>
                                                                        <th>CBM</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{int RowNo = 1;}
                                                                    <tr>
                                                                        <td>
                                                                            
                                                                                @Html.TextBox(string.Concat("txtsno", counter2), counter2, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                           
                                                                        </td>
                                                                        <td>
                                                                            
                                                                                @Html.TextBox(string.Concat("txtContainer", counter2), null, new { @class = "grid-control" })
                                                                           
                                                                        </td>
                                                                        <td>
                                                                            
                                                                                @*@Html.TextBox(string.Concat("txtCont_Type", counter2), null, new { @class = "grid-control" })*@
                                                                            @Html.TextBox(string.Concat("txt1Cont_Type", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })
                                                                                @Html.DropDownList(string.Concat("txtCont_Type", counter2), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })

                                                                            

                                                                            
                                                                            
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @*@Html.TextBox(string.Concat("txtCont_Type", counter2), null, new { @class = "grid-control" })*@
                                                                                @Html.TextBox(string.Concat("txt1Commodity_code", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })
                                                                                @Html.DropDownList(string.Concat("txtCommodity_code", counter2), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtSeal1", counter2), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtNo_of_qty", counter2), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtContents", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtLBS", counter2), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtKG", counter2), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCFT", counter2), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCBM", counter2), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="menu1" class="tab-pane fade in">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails3">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th>Sr. No</th>
                                                                        <th>Plg No.</th>
                                                                        <th>No. of Qty</th>
                                                                        <th>Unit Type</th>
                                                                        <th>Height</th>
                                                                        <th>width</th>
                                                                        <th>Act. LBS</th>
                                                                        <th>Inside Unit</th>
                                                                        <th>Volume</th>
                                                                        <th>Dime Weight</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{int RowNo1 = 1;}
                                                                    <tr>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtsno", counter3), counter3, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtPkg_No", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtNo_of_qty", counter3), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtunit_type", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtHeight", counter3), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtWidth", counter3), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtAct_LBS", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtinside_Unit", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVolume", counter3), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtDime_weight", counter3), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="menu2" class="tab-pane fade in">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails4">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th>Code</th>
                                                                        <th>Name</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txt1CLAUSE_CODE", counter4), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:95%" })
                                                                                @Html.DropDownList(string.Concat("txtCLAUSE_CODE", counter4), TypeListdata1, new { @class = "grid-control2", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCLAUSE_NAME", counter4), null, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="menu3" class="tab-pane fade">
                                                    <br />
                                                    <div class="col-md-12"> 
                                                        <div class="alt-table-responsive" id="table-responsive-cliente" >
                                                            <table class="table table-bordered stripe display hover portal-drivers" id="tablePODetails5">
                                                                <thead>
                                                                    <tr class="tr gridtext">
                                                                        <th>	Sno	</th>
                                                                        <th>	Charge Code	</th>
                                                                        <th>	Charge Name	</th>
                                                                        <th>	Pay Mode</th>
                                                                        <th>	Unit	</th>
                                                                        <th>	No of Qty	</th>
                                                                        <th>	Customer Rate	</th>
                                                                        <th>	Curr. Code	</th>
                                                                        <th>	Curr.Rate	</th>
                                                                        <th>	Customer Code	</th>
                                                                        <th>	Customer Name	</th>
                                                                        <th>	Total Amount	</th>
                                                                        <th>	Net Amount	</th>
                                                                        <th>	Vendor Rate	</th>
                                                                        <th>	Curr. Code	</th>
                                                                        <th>	Curr.Rate	</th>
                                                                        <th>	Vendor Code	</th>
                                                                        <th>	Vendor Name	</th>
                                                                        <th>	Total Amount	</th>
                                                                        <th>	Net Amount	</th>



                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{int RowNo5 = 1;}
                                                                    <tr>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtsno", counter5), counter5, new { @class = "grid-control", @disabled = "disabled" })
                                                                            </div>

                                                                        </td>
                                                                        <td>                                                                            
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txt1Crg_code", counter5), null, new { @class = "grid-control", @disabled = "disabled",@style="width:70%" })
                                                                               
                                                                                @Html.DropDownList(string.Concat("txtCrg_code", counter5), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                               
                                                                            </div>
                                                                           
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group" >
                                                                                @Html.TextBox(string.Concat("txtCrg_name", counter5), null, new { @class = "grid-control", @disabled = "disabled"  })
                                                                                @Html.Hidden(string.Concat("txtIncome_GL_Code", counter5), null)
                                                                                @Html.Hidden(string.Concat("txtExpense_GL_Code", counter5), null)
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @*@Html.TextBox(string.Concat("txt1PAY_MODE", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })*@
                                                                                @Html.DropDownList(string.Concat("txtPAY_MODE", counter5), new List<SelectListItem> { new SelectListItem { Text = "PREPAID", Value = "PP" }, new SelectListItem { Text = "COLLECTION", Value = "COL" } }, new { @class = "grid-control selectpicker", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4 })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txt1Unit_code", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })

                                                                                @Html.DropDownList(string.Concat("txtUnit_code", counter5), TypeListdata1, new { @class = "grid-control1",@data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtNo_of_qty", counter5), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txt1Cust_Curr_Code", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })
                                                                                @Html.DropDownList(string.Concat("txtCust_Curr_Code", counter4), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false",@data_size=4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>




                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Curr_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txt1Cust_code", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })
                                                                                @Html.DropDownList(string.Concat("txtCust_code", counter4), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>



                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.Hidden(string.Concat("txtCust_Ctrl_Act", counter5))
                                                                                @Html.TextBox(string.Concat("txtCust_name", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Total_amt", counter5), null, new { @class = "grid-control", @Type = "Number", @disabled = "disabled" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Net_Amt", counter5), null, new { @class = "grid-control", @Type = "Number", @disabled = "disabled" })
                                                                            </div>
                                                                        </td>




                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txt1Vend_Curr_Code", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })
                                                                                @Html.DropDownList(string.Concat("txtVend_Curr_Code", counter4), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Curr_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txt1Vend_code", counter5), null, new { @class = "grid-control", @disabled = "disabled", @style = "width:70%" })
                                                                                @Html.DropDownList(string.Concat("txtVend_code", counter4), TypeListdata1, new { @class = "grid-control1" , @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.Hidden(string.Concat("txtVend_Ctrl_Act", counter5))
                                                                                @Html.TextBox(string.Concat("txtVend_name", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Total_amt", counter5), null, new { @class = "grid-control", @Type = "Number", @disabled = "disabled" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Net_Amt", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                            </div>
                                                                        </td>



                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
            </div>
        </div>
    </div>
            </div>
</div></div>