@model EzBusiness_ViewModels.Models.FreightManagement.SEA_Export.FF_QTN_VM
@{

    var counter5 = 1;
    var counter4 = 1;
    var counter3 = 1;
    var counter2 = 1;
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
        arr1 = [];
        $('.selectpicker').selectpicker('refresh');
        //EzTableRowDel("#tablePODetails", "[name*='btnDelete']");

        var counter5 = parseInt($("#hdnCounter5").val());
       $("#tablePODetails5").on("click", "[name*='btnDelete']", function () {
          $(this).closest("tr").remove();
            counter = 1;
             $('#tablePODetails5 tbody tr td:nth-child(1)').each(function (e) {
                 var tr1 = $(this).closest("tr");
                 tr1.find(":first").text(counter5);
                 counter5++;
             });
       });

       var counter5 = $('#hdnCounter5').val();

       var index5 = 1;
       $("#tablePODetails5 tbody tr").each(function (index5, item) {         
           $("[name*='txtCrg_name" + (index5 + 1) + "']").val($("[name*='hdnCrg_name" + (index5 + 1) + "']").val());
           $("[name*='txtIncome_GL_Code" + (index5 + 1) + "']").val($("[name*='hdnIncome_GL_Code" + (index5 + 1) +"']").val());
           $("[name*='txtExpense_GL_Code" + (index5 + 1) +"']").val($("[name*='hdnExpense_GL_Code" + (index5 + 1) +"']").val());
           $("[name*='txtUnit_Code" + (index5 + 1) +"']").val($("[name*='hdnUnit_Code" + (index5 + 1) +"']").val());
           $("[name*='txtCust_code" + (index5 + 1) +"']").val($("[name*='hdnCust_code" + (index5 + 1) +"']").val());
           $("[name*='txtCust_name" + (index5 + 1) + "']").val($("[name*='hdnCust_name" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Ctrl_Act" + (index5 + 1) + "']").val($("[name*='hdnCust_Ctrl_Act" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Curr_Code" + (index5 + 1) + "']").val($("[name*='hdnCust_Curr_Code" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Curr_Rate" + (index5 + 1) + "']").val($("[name*='hdnCust_Curr_Rate" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Rate" + (index5 + 1) + "']").val($("[name*='hdnCust_Rate" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Total_amt" + (index5 + 1) + "']").val($("[name*='hdnCust_Total_amt" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Var_Amt" + (index5 + 1) + "']").val($("[name*='hdnCust_Var_Amt" + (index5 + 1) +"']").val());
           $("[name*='txtCust_Net_Amt" + (index5 + 1) + "']").val($("[name*='hdnCust_Net_Amt" + (index5 + 1) + "']").val());
           $("[name*='txtCust_Local_amt" + (index5 + 1) + "']").val($("[name*='hdnCust_Local_amt" + (index5 + 1) + "']").val());
           $("[name*='txtPAY_MODE" + (index5 + 1) + "']").val($("[name*='hdnPAY_MODE" + (index5 + 1) + "']").val());
           $("[name*='txtVend_code" + (index5 + 1) + "']").val($("[name*='hdnVend_code" + (index5 + 1) + "']").val());
           $("[name*='txtVend_name" + (index5 + 1) + "']").val($("[name*='hdnVend_name" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Ctrl_Act" + (index5 + 1) + "']").val($("[name*='hdnVend_Ctrl_Act" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Curr_Code" + (index5 + 1) + "']").val($("[name*='hdnVend_Curr_Code" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Curr_Rate" + (index5 + 1) + "']").val($("[name*='hdnVend_Curr_Rate" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Rate" + (index5 + 1) + "']").val($("[name*='hdnVend_Rate" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Total_amt" + (index5 + 1) + "']").val($("[name*='hdnVend_Total_amt" + (index5 + 1) + "']").val());
           $("[name*='txtVendVar_Amt" + (index5 + 1) + "']").val($("[name*='hdnVendVar_Amt" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Net_Amt" + (index5 + 1) + "']").val($("[name*='hdnVend_Net_Amt" + (index5 + 1) + "']").val());
           $("[name*='txtVend_Local_amt" + (index5 + 1) + "']").val($("[name*='hdnVend_Local_amt" + (index5 + 1) + "']").val());

           index5 = index5 + 1;
       });

       $("#tablePODetails5 tbody tr:last").find("[name*='SNO']").val(counter5);

       var counter4 = parseInt($("#hdnCounter4").val());
       $("#tablePODetails4").on("click", "[name*='btnDelete']", function () {
           $(this).closest("tr").remove();
           counter4 = 1;
           $('#tablePODetails4 tbody tr td:nth-child(1)').each(function (e) {
               var tr1 = $(this).closest("tr");
               tr1.find(":first").text(counter4);
               counter4++;
           });
       });

       
       var index4 = 1;
       $("#tablePODetails4 tbody tr").each(function (index4, item) {
           debugger;
           $("[name*='txtCLAUSE_CODE" + (index4 + 1) + "']").val($("[name*='hdnCLAUSE_CODE" + (index4 + 1) + "']").val());
           $("[name*='txtCLAUSE_NAME" + (index4 + 1) + "']").val($("[name*='hdnCLAUSE_NAME" + (index4 + 1) + "']").val());                   
           index4 = index4 + 1;
       });

       var index3 = 1;
       var counter3 = $('#hdnCounter3').val();
       $("#tablePODetails3 tbody tr").each(function (index3, item) {
           debugger;
           $("[name*='txtSno" + (index3 + 1) + "']").val($("[name*='hdnSno" + (index3 + 1) + "']").val());
           $("[name*='txtPkg_No" + (index3 + 1) + "']").val($("[name*='hdnPkg_No" + (index3 + 1) + "']").val());
           $("[name*='txtNo_of_qty" + (index3 + 1) + "']").val($("[name*='hdnNo_of_qty" + (index3 + 1) + "']").val());
            $("[name*='txtunit_type" + (index3 + 1) + "']").val($("[name*='hdnunit_type"  + (index3 + 1) + "']").val());
        $("[name*='txtHeight" + (index3 + 1) + "']").val($("[name*='hdnHeight" + (index3 + 1) + "']").val());
        $("[name*='txtWidth" + (index3 + 1) + "']").val($("[name*='hdnWidth "+ (index3 + 1) + "']").val());
           $("[name*='txtAct_LBS" + (index3 + 1) + "']").val($("[name*='hdnAct_LBS" + (index3 + 1) + "']").val());
           $("[name*='txtinside_Unit" + (index3 + 1) + "']").val($("[name*='hdninside_Unit" + (index3 + 1) + "']").val());
           $("[name*='txtVolume" + (index3 + 1) + "']").val($("[name*='hdnVolume" + (index3 + 1) + "']").val());
           $("[name*='txtDime_weight" + (index3 + 1) + "']").val($("[name*='hdnDime_weight" + (index3 + 1) + "']").val());


           index3 = index3 + 1;
       });

       $("#tablePODetails3 tbody tr:last").find("[name*='SNO']").val(counter3);
       var index2 = 1;
       var counter2 = $('#hdnCounter2').val();
       $("#tablePODetails2 tbody tr").each(function (index2, item) {
           debugger;
           $("[name*='txtsno" + (index2 + 1) + "']").val($("[name*='hdnsno" + (index2 + 1) + "']").val());
           $("[name*='txtContainer" + (index2 + 1) + "']").val($("[name*='hdnContainer" + (index2 + 1) + "']").val());
           $("[name*='txtCont_Type" + (index2 + 1) + "']").val($("[name*='hdnCont_Type" + (index2 + 1) + "']").val());
           $("[name*='txtSeal1" + (index2 + 1) + "']").val($("[name*='hdnSeal1" + (index2 + 1) + "']").val());
           $("[name*='txtNo_of_qty" + (index2 + 1) + "']").val($("[name*='hdnNo_of_qty" + (index2 + 1) + "']").val());
           $("[name*='txtContents" + (index2 + 1) + "']").val($("[name*='hdnContents" + (index2 + 1) + "']").val());
           $("[name*='txtLBS" + (index2 + 1) + "']").val($("[name*='hdnLBS" + (index2 + 1) + "']").val());
           $("[name*='txtKG" + (index2 + 1) + "']").val($("[name*='hdnKG" + (index2 + 1) + "']").val());
           $("[name*='txtCFT" + (index2 + 1) + "']").val($("[name*='hdnCFT" + (index2 + 1) + "']").val());
           $("[name*='txtCBM" + (index2 + 1) + "']").val($("[name*='hdnCBM" + (index2 + 1) + "']").val());

           index2 = index2 + 1;
       });
       $("#tablePODetails2 tbody tr:last").find("[name*='SNO']").val(counter2);
       var counter3 = parseInt($("#hdnCounter3").val());
       $("#tablePODetails3").on("click", "[name*='btnDelete']", function () {
           $(this).closest("tr").remove();
           counter3 = 1;
           $('#tablePODetails3 tbody tr td:nth-child(1)').each(function (e) {
               var tr1 = $(this).closest("tr");
               tr1.find(":first").text(counter3);
               counter3++;
           });
       });


       var counter2 = parseInt($("#hdnCounter2").val());
       $("#tablePODetails2").on("click", "[name*='btnDelete']", function () {
           $(this).closest("tr").remove();
           counter2 = 1;
           $('#tablePODetails2 tbody tr td:nth-child(1)').each(function (e) {
               var tr1 = $(this).closest("tr");
               tr1.find(":first").text(counter2);
               counter2++;
           });
       });

       var counter5 = parseInt($("#hdnCounter5").val());
        $('.selectpicker').selectpicker('refresh');
        $("#tablePODetails5").on("change", "[name*='txtCrg_code']", function () {
            var tr = $(this).closest('tr');
            var JobCode = tr.find("[name*='txtCrg_code'] option:selected").text();
            var array = JobCode.split("-");
            tr.find("[name*='txtCrg_name']").val(array[1].trim());
            drec = [];
            $('#tablePODetails5 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtCrg_code']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtCrg_code']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtCrg_code']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtCrg_code']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtjobcode']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtCrg_code']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails5 tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter5 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails5 tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsrno']").val(tcunt);
                    trLast.find("[name*='txtCrg_code'] option:selected").val('');
                    trLast.find("[name*='txtCrg_name']").val('');
                    trLast.find("[name*='txtoperationtype']").val('');
                    trLast.find("[name*='txtincomeact'] option:selected").val('');
                    trLast.find("[name*='txtexpenceacgt']").val('');
                    trLast.find("[name *= 'txtsrno']").attr({
                        "name": ("txtsrno" + counter5)
                    });
                    trLast.find("[name *= 'txtjobcode']").attr({
                        "name": ("txtjobcode" + counter5)
                    });
                    trLast.find("[name *= 'txtjobname']").attr({
                        "name": ("txtjobname" + counter5)
                    });
                    trLast.find("[name *= 'txtIncome_GL_Code']").attr({
                        "name": ("txtIncome_GL_Code" + counter5)
                    });
                    trLast.find("[name *= 'txtExpense_GL_Code']").attr({
                        "name": ("txtExpense_GL_Code" + counter5)
                    });
                    trLast.find("[name *= 'txtUnit_Code']").attr({
                        "name": ("txtUnit_Code" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_code']").attr({
                        "name": ("txtCust_code" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_name']").attr({
                        "name": ("txtCust_name" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Ctrl_Act']").attr({
                        "name": ("txtCust_Ctrl_Act" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Curr_Code']").attr({
                        "name": ("txtCust_Curr_Code" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Curr_Rate']").attr({
                        "name": ("txtCust_Curr_Rate" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Total_amt']").attr({
                        "name": ("txtCust_Total_amt" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Var_Amt']").attr({
                        "name": ("txtCust_Var_Amt" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Net_Amt']").attr({
                        "name": ("txtCust_Net_Amt" + counter5)
                    });
                    trLast.find("[name *= 'txtCust_Local_amt']").attr({
                        "name": ("txtCust_Local_amt" + counter5)
                    });
                    trLast.find("[name *= 'txtPAY_MODE']").attr({
                        "name": ("txtPAY_MODE" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_code']").attr({
                        "name": ("txtVend_code" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_name']").attr({
                        "name": ("txtVend_name" + counter5)
                    });

                    trLast.find("[name *= 'txtVend_Ctrl_Act']").attr({
                        "name": ("txtVend_Ctrl_Act" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_Curr_Code']").attr({
                        "name": ("txtVend_Curr_Code" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_Curr_Rate']").attr({
                        "name": ("txtVend_Curr_Rate" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_Rate']").attr({
                        "name": ("txtVend_Rate" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_Total_amt']").attr({
                        "name": ("txtVend_Total_amt" + counter5)
                   });
                    trLast.find("[name *= 'txtVendVar_Amt']").attr({
                        "name": ("txtVendVar_Amt" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_Net_Amt']").attr({
                        "name": ("txtVend_Net_Amt" + counter5)
                    });
                    trLast.find("[name *= 'txtVend_Local_amt']").attr({
                        "name": ("txtVend_Local_amt" + counter5)
                    });
                    trLast.find(":first").text(counter5);
                }
                counter5++;
            }



        });

        var counter4 = parseInt($("#hdnCounter4").val());
        $("#tablePODetails4").on("change", "[name*='txtCLAUSE_CODE']", function () {

            var tr = $(this).closest('tr');
            var JobCode = tr.find("[name*='txtCLAUSE_CODE'] option:selected").text();
            var array = JobCode.split("-");
            //   var counter =1;
            tr.find("[name*='txtCLAUSE_NAME']").val(array[1].trim())

            //  var tcunt = $("#tablePODetails").find("tr").length;
            drec = [];
            $('#tablePODetails4 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtCLAUSE_CODE']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtCLAUSE_CODE']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtCLAUSE_CODE']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtCLAUSE_CODE']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtCLAUSE_CODE']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtCLAUSE_CODE']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails4 tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter4 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails4 tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsrno']").val(tcunt);
                    trLast.find("[name*='txtCLAUSE_CODE'] option:selected").val('');
                    trLast.find("[name*='txtCLAUSE_NAME']").val('');

                    trLast.find("[name *= 'txtCLAUSE_CODE']").attr({
                        "name": ("txtCLAUSE_CODE" + counter4)
                    });
                    trLast.find("[name *= 'txtCLAUSE_NAME']").attr({
                        "name": ("txtCLAUSE_NAME" + counter4)
                    });

                    trLast.find(":first").text(counter4);
                }
                counter4++;
            }



        });

        var counter3 = parseInt($("#hdnCounter3").val());
        $("#tablePODetails3").on("change", "[name*='txtPkg_No']", function () {

            var tr = $(this).closest('tr');

            //  var tcunt = $("#tablePODetails").find("tr").length;
            drec = [];
            $('#tablePODetails3 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtPkg_No']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtPkg_No']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtPkg_No']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtPkg_No']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtPkg_No']").focus();
                EzAlerterrtxt("Already Exist Pkg No '" + dr + "'");
                tr.find("[name *= 'txtPkg_No']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails3 tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter3 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails3 tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsrno']").val(tcunt);
                    trLast.find("[name*='txtPkg_No']").val('');
                    trLast.find("[name*='txtNo_of_qty']").val('');

                    trLast.find("[name *= 'txtNo_of_qty']").attr({
                        "name": ("txtNo_of_qty" + counter3)
                    });
                    trLast.find("[name *= 'txtunit_type']").attr({
                        "name": ("txtunit_type" + counter3)
                    });
                    trLast.find("[name *= 'txtHeight']").attr({
                        "name": ("txtHeight" + counter3)
                    });
                    trLast.find("[name *= 'txtWidth']").attr({
                        "name": ("txtWidth" + counter3)
                    });
                    trLast.find("[name *= 'txtAct_LBS']").attr({
                        "name": ("txtAct_LBS" + counter3)
                    });
                    trLast.find("[name *= 'txtinside_Unit']").attr({
                        "name": ("txtinside_Unit" + counter3)
                    });
                    trLast.find("[name *= 'txtVolume']").attr({
                        "name": ("txtVolume" + counter3)
                    });
                    trLast.find("[name *= 'txtDime_weight']").attr({
                        "name": ("txtDime_weight" + counter3)
                    });
                    trLast.find(":first").text(counter3);
                }
                counter3++;
            }



        });

        var counter2 = parseInt($("#hdnCounter2").val());
        $("#tablePODetails2").on("change", "[name*='txtContainer']", function () {

            var tr = $(this).closest('tr');


            drec = [];
            $('#tablePODetails2 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtContainer']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtContainer']").val(), drec), 1);
            if ($.inArray(tr.find("[name *= 'txtContainer']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtContainer']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtContainer']").focus();
                EzAlerterrtxt("Already Exist Container '" + dr + "'");
                tr.find("[name *= 'txtContainer']").val('');


            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tablePODetails2 tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter2 + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tablePODetails2 tbody tr:nth-last-child(2)");
                    //trLast.find("[name*='txtsrno']").val(tcunt);
                    trLast.find("[name*='txtContainer']").val('');
                    trLast.find("[name*='txtsno']").attr({
                        "name": ("txtsno" + counter2)
                    });
                    trLast.find("[name*='txtCont_Type']").attr({
                        "name": ("txtCont_Type" + counter2)
                    });
                    trLast.find("[name*='txtSeal1']").attr({
                        "name": ("txtSeal1" + counter2)
                    });
                    trLast.find("[name*='txtNo_of_qty']").attr({
                        "name": ("txtNo_of_qty" + counter2)
                    });
                    trLast.find("[name*='txtContents']").attr({
                        "name": ("txtContents" + counter2)
                    });
                    trLast.find("[name*='txtLBS']").attr({
                        "name": ("txtLBS" + counter2)
                    });
                    trLast.find("[name*='txtKG']").attr({
                        "name": ("txtKG" + counter2)
                    });
                    trLast.find("[name*='txtCFT']").attr({
                        "name": ("txtCFT" + counter2)
                    });
                    trLast.find("[name*='txtCBM']").attr({
                        "name": ("txtCBM" + counter2)
                    });
                    trLast.find(":first").text(counter2);
                }
                counter2++;
            }



        });

    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">
                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Code</label>
                                                    <div class="col-md-4 input-field">
                                                        @Html.TextBoxFor(m => m.FF_QTN001_CODE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Customer</label>
                                                    <div class="col-md-4 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                    <div class="col-md-4 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Contact</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.CONTACT, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Telephone</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.TELEPHONE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fax</label>
                                                    <div class="col-md-8 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Custom Ref</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.CUSTOMER_REF, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Pickup Place</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.PICKUP_PLACE, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">State</label>
                                                    <div class="col-md-8 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">zip</label>
                                                    <div class="col-md-8 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Port Of Load</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.POL, Model.PortList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Port Of Dsch</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.POD, Model.PortList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Final Destn<i class="star">*</i></label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.FND, Model.PortList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Country</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Zip</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Move Type</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.MOVE_TYPE, Model.MoveCodeList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Ref No.</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.TextBoxFor(m => m.REF_NO, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Vessel</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.VESSEL, Model.VESSELList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Voy</label>
                                                    <div class="col-xs-7 col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.VOYAGE, Model.VOYAGEList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Carrier</label>
                                                    <div class="col-md-8 input-field">
                                                        @Html.DropDownListFor(m => m.CARRIER, Model.SLList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Effective</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Expiration</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3 gridtext">Quoted By</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        <input type="text" class="form-control" name="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Department</label>
                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                        @Html.DropDownListFor(m => m.DEPARTMENT, Model.DEPARTMENTList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>









                                    </div>


                                    <div class="col-md-12">
                                        <div class="">
                                            <ul class="nav nav-tabs">
                                                <li class="active b1"><a data-toggle="tab" href="#home">Container</a></li>
                                                <li class="b1"><a data-toggle="tab" href="#menu1">Dimension</a></li>
                                                <li class="b1"><a data-toggle="tab" href="#menu2">Clauses</a></li>
                                                <li class="b1"><a data-toggle="tab" href="#menu3">Charges</a></li>
                                            </ul>

                                            <br />
                                            <div class="tab-content">
                                                <div id="home" class="tab-pane fade in active">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails2">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th>Sr. No</th>
                                                                        <th>Container</th>
                                                                        <th>Type</th>
                                                                        <th>Seal 1</th>
                                                                        <th>No. of Quantity</th>
                                                                        <th>Contents</th>
                                                                        <th>Wt. LBS</th>
                                                                        <th>Wt. KG</th>
                                                                        <th>CFT</th>
                                                                        <th>CBM</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{int RowNo = 1;}
                                                                    <tr>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtsrno", counter2), @RowNo, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtContainer", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCont_Type", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtSeal1", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtNo_of_qty", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtContents", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtLBS", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtKG", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCFT", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCBM", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="menu1" class="tab-pane fade in">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails3">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th>Sr. No</th>
                                                                        <th>Plg No.</th>
                                                                        <th>No. of Qty</th>
                                                                        <th>Unit Type</th>
                                                                        <th>Height</th>
                                                                        <th>width</th>
                                                                        <th>Act. LBS</th>
                                                                        <th>Inside Unit</th>
                                                                        <th>Volume</th>
                                                                        <th>Dime Weight</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{int RowNo1 = 1;}
                                                                    <tr>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtsrno", counter3), @RowNo1, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtPkg_No", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtNo_of_qty", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtunit_type", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtHeight", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtWidth", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtAct_LBS", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtinside_Unit", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVolume", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtDime_weight", counter3), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="menu2" class="tab-pane fade in">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails4">
                                                                <thead>
                                                                    <tr class="tr">
                                                                        <th>Code</th>
                                                                        <th>Name</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.DropDownList(string.Concat("txtCLAUSE_CODE", counter4), Model.CLAUSEList, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCLAUSE_NAME", counter4), null, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="menu3" class="tab-pane fade">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered stripe display hover" id="tablePODetails5">
                                                                <thead>
                                                                    <tr class="tr gridtext">
                                                                        <th>	Sno	</th>
                                                                        <th>	Crg_code	</th>
                                                                        <th>	Crg_name	</th>
                                                                        <th>	Income_GL_Code	</th>
                                                                        <th>	Expense_GL_Code	</th>
                                                                        <th>	Unit_Code	</th>
                                                                        <th>	Cust_code	</th>
                                                                        <th>	Cust_name	</th>
                                                                        <th>	Cust_Ctrl_Act	</th>
                                                                        <th>	Cust_Curr_Code	</th>
                                                                        <th>	Cust_Curr_Rate	</th>
                                                                        <th>	Cust_Rate	</th>
                                                                        <th>	Cust_Total_amt	</th>
                                                                        <th>	Cust_Var_Amt	</th>
                                                                        <th>	Cust_Net_Amt	</th>
                                                                        <th>	Cust_Local_amt	</th>
                                                                        <th>	PAY_MODE	</th>
                                                                        <th>	Vend_code	</th>
                                                                        <th>	Vend_name	</th>
                                                                        <th>	Vend_Ctrl_Act	</th>
                                                                        <th>	Vend_Curr_Code	</th>
                                                                        <th>	Vend_Curr_Rate	</th>
                                                                        <th>	Vend_Rate	</th>
                                                                        <th>	Vend_Total_amt	</th>
                                                                        <th>	VendVar_Amt	</th>
                                                                        <th>	Vend_Net_Amt	</th>
                                                                        <th>	Vend_Local_amt	</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{int RowNo5 = 1;}
                                                                    <tr>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtsrno", counter5), @RowNo5, new { @class = "grid-control", @Readonly = "Readonly" })
                                                                            </div>

                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCrg_code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCrg_name", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtIncome_GL_Code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtExpense_GL_Code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtUnit_Code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_name", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Ctrl_Act", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Curr_Code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Curr_Rate", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Rate", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Total_amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Var_Amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Net_Amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Local_amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @*@Html.TextBox(string.Concat("txtPAY_MODE", counter5), null, new { @class = "grid-control" })*@
                                                                                @Html.DropDownList(string.Concat("txtPAY_MODE", counter5), new List<SelectListItem> { new SelectListItem { Text = "PREPAID", Value = "PP" }, new SelectListItem { Text = "COLLECTION", Value = "COL" } }, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVend_name", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Ctrl_Act", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Curr_Code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Curr_Rate", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Rate", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Total_amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVendVar_Amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Net_Amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtVend_Local_amt", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Curr_Code", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                @Html.TextBox(string.Concat("txtCust_Curr_Rate", counter5), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
