@model EzBusiness_ViewModels.Models.FreightManagement.SEA_Export.FF_QTN_VM

@{
    ViewBag.Title = "GetQuotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 btngrp">
        <div class="title-action">
            <button class="btn btn-primary btn1 newbtn" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>
            <button type="submit" class="btn btn-primary btn1" id="btnSave" style="visibility: hidden"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

            <button class="btn btn-warning btn1" id="btnCancel" style="visibility: hidden"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>
            <button class="btn btn-danger btn1" id="btnDelete" style="visibility: hidden"><span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>
            <input type="hidden" id="hdnOperationMode" value="" />

        </div>
    </div>

</div>
<br />


<div class="row">
    <!--updated code-->
    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel panel-primary panl">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Ez Business System</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;margin-top: -20px;">
                <label class="row" id="ErrorMessage" style="color:red">
                    <strong></strong>
                </label>


                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
                            <div class="custom-form-wrapper">
                                <div id="POContainer">
                                    <div class="row">
                                        <div class="custom-form-wrapper">
                                            <!-- BEGIN FORM-->
                                            <div class="form-horizontal">
                                                <div class="form-body">
                                                    <div class="col-md-6">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Customer</label>
                                                                <div class="col-md-4 input-field">
                                                                   <input type="text" class = "form-control" name="" />
                                                                </div>
                                                                <div class="col-md-4 input-field">
                                                                    <input type="text" class="form-control" name="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Contact</label>
                                                                <div class="col-md-8 input-field">
                                                                    @Html.TextBoxFor(m => m.CONTACT, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Telephone</label>
                                                                <div class="col-md-8 input-field">
                                                                    @Html.TextBoxFor(m => m.TELEPHONE, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Fax</label>
                                                                <div class="col-md-8 input-field">
                                                                    <input type="text" class="form-control" name="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Custom Ref</label>
                                                                <div class="col-md-8 input-field">
                                                                    @Html.TextBoxFor(m => m.CUSTOMER_REF, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Pickup Place</label>
                                                                <div class="col-md-8 input-field">
                                                                    @Html.TextBoxFor(m => m.PICKUP_PLACE, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">State</label>
                                                                <div class="col-md-8 input-field">
                                                                    <input type="text" class="form-control" name="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">zip</label>
                                                                <div class="col-md-8 input-field">
                                                                    <input type="text" class="form-control" name="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Port Of Load</label>
                                                                <div class="col-md-8 input-field">
                                                                    @Html.TextBoxFor(m => m.POL, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Port Of Dsch</label>
                                                                <div class="col-md-8 input-field">
                                                                    @Html.TextBoxFor(m => m.POD, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    </div>
                                                    <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3 col-md-3">Final Destn<i class="star">*</i></label>
                                                                        <div class="col-xs-7 col-md-8 input-field">
                                                                            <select class="form-control" id="sel1">
                                                                                <option>1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>4</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3 col-md-3">Country</label>
                                                                        <div class="col-xs-7 col-md-8 input-field">
                                                                            <input type="text" class="form-control" name="" />
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3 col-md-3">Zip</label>
                                                                    <div class="col-xs-7 col-md-8 input-field">
                                                                        <input type="text" class="form-control" name="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3 col-md-3">Move Type</label>
                                                                    <div class="col-xs-7 col-md-8 input-field">
                                                                        @Html.TextBoxFor(m => m.MOVE_TYPE, new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                       </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3 col-md-3">Ref No.</label>
                                                                        <div class="col-xs-7 col-md-8 input-field">
                                                                            @Html.TextBoxFor(m => m.REF_NO, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3 col-md-3">Vessel</label>
                                                                        <div class="col-xs-7 col-md-8 input-field">
                                                                            @Html.TextBoxFor(m => m.VESSEL, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3 col-md-3">voy</label>
                                                                    <div class="col-xs-7 col-md-8 input-field">
                                                                        @Html.TextBoxFor(m => m.VOYAGE, new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3 col-md-3">Carrier</label>
                                                                    <div class="col-md-8 input-field">
                                                                        @Html.TextBoxFor(m => m.CARRIER, new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                         </div>
                                                           

                                                            <div class="row">

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3 col-md-3">Effective</label>
                                                                        <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                                            <input type="text" class="form-control" name="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-3 col-md-3">Expiration</label>
                                                                        <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                                            <input type="text" class="form-control" name="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3 col-md-3">Quoted By</label>
                                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                                        <input type="text" class="form-control" name="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-3 col-md-3">Division</label>
                                                                    <div class="col-xs-7 col-md-8 input-field radiobtn1">
                                                                        <input type="text" class="form-control" name="" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        </div>


                                                    <div class="col-md-12">
                                                        <div class="">
                                                            <ul class="nav nav-tabs">
                                                                <li class="active b1"><a data-toggle="tab" href="#home">Dimension</a></li>
                                                                <li class="b1"><a data-toggle="tab" href="#menu1">Clauses</a></li>
                                                                <li class="b1"><a data-toggle="tab" href="#menu2">Charges</a></li>
                                                            </ul>

                                                            <br />
                                                            <div class="tab-content">

                                                                <div id="home" class="tab-pane fade in active">
                                                                    <br /><br />
                                                                    
                                                                           
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive">

                                                                                    <table class="table table-bordered stripe display hover" id="tablePODetails">
                                                                                        <thead>
                                                                                            <tr class="tr">
                                                                                                <th>Container</th>
                                                                                                <th>Type</th>
                                                                                                <th>Seal 1</th>
                                                                                                <th>Pieces</th>
                                                                                                <th>Contents</th>
                                                                                                <th>Wt. LBS</th>
                                                                                                <th>Wt. Kg</th>
                                                                                                <th>CFT</th>
                                                                                                <th>CBM</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                          
                                                                                            <tr>

                                                                                                <td>
                                                                                                    <div class="grid-group">
                                                                                                      
                                                                                                      
                                                                                                    </div>
                                                                                                </td>

                                                                                                <td>
                                                                                                    <div class="form-group">
                                                                                                      
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <div class="grid-group">
                                                                                                       
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <div class="form-group">
                                                                                                       
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <div class="form-group">
                                                                                                        
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <div class="grid-group">
                                                                                                       
                                                                                                    </div>
                                                                                                </td>


                                                                                            </tr>
                                                                                           
                                    

                                                                                        </tbody>
                                                                                    </table>
                                                                                 
                                                                                </div>
                                                                            </div>

                                                                        

                                                                </div>

                                                                <div id="menu1" class="tab-pane fade">
                      
                                                                </div>

                                                                <div id="menu2" class="tab-pane fade">
                       

                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
 </div>