<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>@ViewBag.Title - Ezware Technologies L.L.C.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS -->

    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/lib/font/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/css/style-responsive.css" rel="stylesheet"/>
    <link href="~/Content/css/style.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    @*<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">*@

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @*<link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
     <link href="~/Content/css/sb-admin-2.css" rel="stylesheet"/>
     <link href="~/Content/lib/font/font-awesome.min.css" rel="stylesheet"/>
     <link href="~/Content/css/style-responsive.css" rel="stylesheet"/>
     <link href="~/Content/css/style.css" rel="stylesheet"/>*@
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Scripts/sweetalret/sweetalert2.min.css" rel="stylesheet" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           
            <input type="hidden" id="hdnpath" />
            <input type="hidden" id="hdncurrentpath" />
            <header class="header black-bg">
             
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" style="color:#fff" id="sidebarCollapse" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a href="#" class="logo">Ezware Technologies L.L.C.</a>
                    <div class="col-md-8" style="margin-left:20px;">
                        <ul class="breadcrumb">                           
                        </ul>
                    </div>
               
                <!--logo end-->

                <div class="top-menu">
                    <ul class="nav pull-right top-menu" >
                        @*<li><a class="logout" href="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>*@                        
                        <li><a class="logout" href="/Logout" style="display:none" id="logout1"><img src="~/Content/Images/logout33333.png" class="logores" id="logout"/></a></li>                       
                    </ul>
                </div>               
            </header>           
            <aside>
                <div id="sidebar" class="nav-collapse collapse">

                    @*<div class="container">
                        <div class="sidebar-toggle-box">
                            <div class="fa fa-bars tooltips" style="color:#fff; margin-left:12px;" id="sidebarCollapsetemp1" data-placement="right" data-original-title="Toggle Navigation"></div>
                        </div>
                        <a href="#" class="logo" ><b>HR & PAYROLL</b></a>
                    </div>*@


                    <ul class="sidebar-menu" id="nav-accordion">
                        <p class="centered">
                            <a href="#">
                                <img id="loginuser_img" class="img-circle" style="width: 85px;height:95px;display:none">
                            </a>
                        </p>
                        <h5 class="centered"><span id="empnamedata"></span></h5>
                        <hr />
                    </ul>
                    <div class="navbar-default sidebar" style="background:none" role="navigation">
                        <input id="search1" type="hidden" />
                       
                        <div class="sidebar-nav navbar-collapse">
                            @{ Html.RenderAction("GetMenuTree", "MDI"); }|                                             
                        </div>
                    </div>
                </div>
            </aside>
        </nav>

        <div id="page-wrapper">
            <!-- Child Page Start-->
            @RenderBody()
            <!-- Child Page End-->
        </div>
        <!-- /#page-wrapper -->
        <div class="panel-footer">
            <p>&copy; @DateTime.Now.Year - Ezware Technologies L.L.C.</p>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Metis Menu Plugin JavaScript -->

    <script src="/Scripts/DependantScripts/metisMenu.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @*voice recogngition*@
    <script type="text/javascript" src="~/Scripts/VoiceRec/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/VoiceRec/speechRecognition.js"></script>
    <script type="text/javascript" src="~/Scripts/VoiceRec/controller.js"></script>
    @*--end voice-*@
    <script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/Scripts/datatables-responsive/dataTables.responsive.js"></script>*@
   
    @*<script src="~/Scripts/datatables/js/dataTables.buttons.min.js"></script>*@
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatables/js/buttons.flash.min.js"></script>
    <script src="~/Scripts/datatables/buttons.colvis.js"></script> 
    <script src="~/Scripts/datatables/js/jszip.min.js"></script>
    <script src="~/Scripts/datatables/js/pdfmake.min.js"></script>
    <script src="~/Scripts/datatables/js/vfs_fonts.js"></script>
    <script src="~/Scripts/datatables/js/buttons.print.min.js"></script>
    <script src="~/Scripts/datatables/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/sweetalret/sweetalert2.all.min.js"></script>
    <style>        
    .treeview li a.open {
    color: #889599;
    background-color: #F7F9FA;
   }
    </style>
    <script>
        $(document).ready(function () {    
            var Fmenu='';
            $('#logout1').show();
            $("#loginuser_img").show();
            var empdata=@Html.Raw(Json.Encode(HttpContext.Current.Session["SesDet"]));
            
            $("#empnamedata").text(empdata[0].EmpName);
            $('#loginuser_img').attr("src",empdata[0].PhotoPath);
            $("#sidebar").hide();

            $("#sidebarCollapse").click(function () {
                
              $("#sidebar").toggle();
                       
            });     
            
            debugger;
            jQuery.expr[':'].casecontains = (a, b, c) => jQuery(a).text().toUpperCase().indexOf(c[3].toUpperCase()) >= 0;
            var pathname = document.location.pathname;       
    
           
    
          $('a[href*="' + pathname + '"]').each(function () {
              debugger;
              $(this).css("background-color", "#4ECDC4");
              $(this).addClass('menu-open');
              $(this).css("color", "#f2f2f2");
              $(this).show(); 
              $('#search1').val($(this).text());                                       
              $(".treeview li>ul").first().show();
              
            
             

          });  
       
            //         
      $('.search-filter').on('keyup', function () {  
                    
                    var input = $('.search-filter').val();
                    if (input.length != 0) {                          
                        $(".treeview li>ul").show();
                        // first hide the div #link-content lists from view
                        $('#link-content li').hide();
                        // but secretly unhide the collapsed links
                        // using .show, so the nested uls can be viewed
                        $('#link-content li.nav-item ul').show();
                        // then filter in the matching links only
                        $('#link-content li:casecontains("' + input + '")').show();                           
                      } else{
                        $(".treeview li>ul").css('display', 'none');            
                        // secretly unhide the collapsed links
                        $('#link-content li.nav-item ul').hide();
                        // if search is empty, show the div and reset columns
                        $('#link-content li').show();
                       
                    }
                });
      
                var url = pathname;
                var currentItem = $(".treeview").find("[href$='" + url + "']");
                var path1 = "";
                var i=0;
                $('#link-content li.nav-item ul').parent();
                $(currentItem.parents("li").get().reverse()).each(function () {       
                    debugger;
               
                    if(i!=0){                       
                        path1 += "<li>" + $(this).attr('value') +"</li>";                      
                        $(this).closest('li').children('ul').slideToggle();
                     }
                   i=i+1;                    
                });  
            
               

                $("#hdncurrentpath").val(pathname)
                $("#hdnpath").val(path1);
                $(".breadcrumb").html(path1);   
            
                $('body').on('focus', ':input', function () {
                    $(this).attr('autocomplete', 'off');
                });
              
    });
</script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Styles/jquery-ui.css" rel="stylesheet" />
</body>
</html>

<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    * html .ui-autocomplete {
        height: 100px;
    }
</style>
