@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.Employee_VM>
@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
    
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>


<script src="~/Scripts/EzComNDW.js"></script>
    <script>
       
       // $(document).ready(function () {
            Ezsidetbl("#POList", "#POList tfoot td", false, "#POList thead");
            //a++;

        });
     
    </script>

@*<button class="btn btn-primary btn1 newbtn" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>*@

<table id="POList" class="table table-bordered table-hover emptbl">
    <thead>
        <tr class="tr">
            <th>Code</th>
            <th>Name</th>
            <th>
                Date Of Birth
            </th>
            <th>
                Contact No
            </th>
            <th>
                EMail Id
            </th>
            <th>
                Nationality
            </th>
            @*<th>
                Division Code
            </th>*@
            <th>
                Location 
            </th>
            <th>
                VisaLocation 
            </th>
            <th>
                Reporting Employee
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td >Code</td>
            <td >Name</td>
            <td>
                Date Of Birth
            </td>
            <td>
                Contact No
            </td>
            <td>
                EMail Id
            </td>
            <td>
                Nationality
            </td>
            @*<th>
                    Division Code
                </th>*@
            <td>
                Location 
            </td>
            <td>
                VisaLocation 
            </td>
            <td>
                Reporting Employee
            </td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var po in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnMRCode", po.EmpCode)
                    @po.EmpCode
                </td>
                <td>
                    @po.Empname
                </td>
                <td>
                    @Convert.ToDateTime(@po.DOB).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @po.ContactNo
                </td>
                <td>
                    @po.EMail
                </td>
                <td>
                    @po.Nationality
                </td>
                @*<td>
                    @po.DivisionCode
                </td>*@
                <td>
                    @po.LocCode
                </td>
                <td>
                    @po.VisaLocation
                </td>
                <td>
                    @po.ReportingEmp
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
  //  $('#POList').DataTable().ajax.reload();
</script>