@model EzBusiness_ViewModels.Models.Humanresourcepayroll.Leave_App_VW

@{
    var counter = 1;


}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    var units = [];
    $(function () {

        $('.selectpicker').selectpicker('refresh');
        
        EzdtePkEdit('#Entry_Dates1', "#Entry_Dates", "DD/MM/YYYY");
        EzdtePkEdit('#StartDate1', "#StartDate", "DD/MM/YYYY");
        EzdtePkEdit('#EndDate1', "#EndDate", "DD/MM/YYYY");
        EzdtePkEdit('#JoiningDate1', "#JoiningDate", "DD/MM/YYYY");

        $('input[name="JoiningDate1"]').attr("disabled", true);

       // $('input[name="Entry_Dates1"]').attr("disabled", true);

        $('#oldLeavedays').val($('#LeaveDays').val());
        EzAutoCompTxt1("#EmpCode", "#hdnEmpCode", "/MonthlyAddded/GetEmpList");
        EzAutoCompTxtE("#EmpCode", "#hdnEmpCode", "/MonthlyAddded/GetEmpList", false, "");
        EzAutoCompTxt1("#LeaveType", "#hdnLeaveType", "/LeaveApplication/GetLeaveTypList");
        EzAutoCompTxtE("#LeaveType", "#hdnLeaveType", "/LeaveApplication/GetLeaveTypList", false, "");

        function halfday() {
           
            var start = new Date(Ezsetdtpkdate($("[name*='StartDate1']").val()));
            var end = new Date(Ezsetdtpkdate($("[name*='EndDate1']").val()));
            var diff = new Date(end - start);
            // get days
            var days = diff / 1000 / 60 / 60 / 24;
            if (days <= 0) {
                days = 0;
            }
            $('#LeaveDays').val(days + 1);
            var a = $('#LeaveDays').val();
            if ($("#LeaveType").val() == 'HF') {
                $('#LeaveDays').val(a * .5);
            }
            else {
                $('#LeaveDays').val(a);
            }
        }


        //$('#StartDate1').change(function () {
        //   
        //    halfday();
        //});

        //$('#EndDate1').change(function () {
         
        //});
        $('#StartDate1').on('dp.change', function (event) {
          
            halfday();
        });

        $('#EndDate1').on('dp.change', function (event) {
            
            halfday();
        });
      
        EzComapretxtval("#LeaveDays", "#TotalSanctioned", 'Sanction days not greater than leave days');
        
        EzdateCond('#StartDate1', '#JoiningDate1', 'Start Date shold be greater than equal to Joining Date');
        EzdateCond('#EndDate1', '#JoiningDate1', 'End Date shold be greater than equal to Joining Date');
        EzdateCond('#EndDate1', '#StartDate1', 'End Date shold be greater than equal to Start Date');
        EzdateCond('#Entry_Dates1', '#JoiningDate1', 'Entry Date shold be greater than equal to Joining Date');
        //$('.selectpicker').selectpicker({
        //    style: 'btn-info',
        //    size: 4,

        //});

        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });
    });
  
</script>
<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">
       
            @*@Html.HiddenFor(model => model.TotalBalance)
            @Html.HiddenFor(model => model.TotalSanctioned)*@
            @Html.HiddenFor(model => model.TotalApplied)
            @Html.HiddenFor(model => model.oldLeavedays)

            @*<input  type="hidden" id="oldbal"/>*@
            <div class="panel-body" style="margin-left:10px;">
                <div class="tabbable-line boxless tabbable-reversed" id="LVContainer">
                    <div class="custom-form-wrapper">
                        <div id="LVContainer">
                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">LA No.</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.PRLR001_CODE, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Date</label>
                                                        <div class="col-md-8 input-field">                                                            
                                                            <input id="Entry_Dates1" class="form-control datepicker"  name="Entry_Dates1"  />
                                                            @Html.HiddenFor(m => m.Entry_Dates, new { htmlAttributes = new { @class = "date1" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Employee<i style="color:red;">*</i></label>
                                                        <div class="col-md-8 input-field">
                                                            @*@Html.DropDownListFor(m => m.EmpCode, Model.EmpCodeList, new { @class = "selectpicker form-control", @data_live_search = "true", @disabled = "disabled" })*@
                                                            @Html.TextBoxFor(m => m.EmpCode, new { @class = "form-control", @placeholder = "Select Emp Code",@disabled = "disabled" })
                                                            <input id="hdnEmpCode" type="hidden" class="form-control" name="hdnEmpCode" value="-1" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Start Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="StartDate1" class="form-control datepicker" name="StartDate1"/>
                                                            @Html.HiddenFor(m => m.StartDate, new { htmlAttributes = new { @Type = "date1" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Joining Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="JoiningDate1" class="form-control datepicker" disabled="disabled" name="JoiningDate1" />
                                                            @Html.HiddenFor(m => m.JoiningDate, new { htmlAttributes = new { @class = "date1", @disabled = "disabled" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">End Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="EndDate1" class="form-control datepicker" name="EndDate1"/>
                                                            @Html.HiddenFor(m => m.EndDate, new { htmlAttributes = new { @class = "date1" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Leave Type<i style="color:red;">*</i></label>
                                                        <div class="col-md-8 input-field">
                                                            @*@Html.DropDownListFor(m => m.LeaveType, Model.LeaveTypeList, new { @class = "selectpicker form-control", @data_live_search = "true",@disabled="disabled" })*@
                                                            @Html.TextBoxFor(m => m.LeaveType, new { @class = "form-control", @placeholder = "Select Leave Type", @disabled = "disabled" })
                                                            <input id="hdnLeaveType" type="hidden" class="form-control" name="hdnLeaveType" value="-1" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Balance</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.TotalBalance, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Leave Days</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.LeaveDays, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                              
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Approval</label>
                                                        <div class="col-md-8 input-field radiobtn1">
                                                            <label>
                                                                @Html.RadioButtonFor(m => m.ApprovalYN, "Y", new { @checked = "checked" }) Yes
                                                            </label>
                                                            &nbsp;
                                                            <label>
                                                                @Html.RadioButtonFor(m => m.ApprovalYN, "N") No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Sanction Days</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.TotalSanctioned, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Remark</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remark" })
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                            </div>

                                        </div>
                                    </div><br />
                                    <!-- END FORM-->
                                    @*<div class="">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#home">Leave Status</a></li>

                                        </ul>
                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active">
                                                <br /><br />
                                                <div style="overflow-x:auto;">
                                                    <table class="table table-bordered table-sm" id="tablePODetails">
                                                        <thead>
                                                            <tr>
                                                                <th>Sr No</th>
                                                                <th>PRLR001_CODE</th>
                                                                <th>StartDate</th>
                                                                <th>EndDate</th>
                                                                <th>LeaveDays</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @Html.Label(counter.ToString())
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @Html.TextBox(string.Concat("PRLR001_CODE", counter), null, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @Html.TextBox(string.Concat("StartDate", counter), null, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @Html.TextBox(string.Concat("EndDate", counter), null, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        @Html.TextBox(string.Concat("LeaveDays", counter), null, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    @Html.Hidden("hdnCounter", (++counter))
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@
                                    <!-- <button>Hey, click me!</button> -->

                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>

    <!-- Purchase Request List Start-->

    <script>
            $(document).ready(function(){
                $(".alert-close").click(function () {
                    $("#editshow").hide();
                });
            });
    </script>



    <!-- Purchase Request List End -->
    <!-- Row end -->
</div>



@*<div id="dvmismatch" style="display :none;">
    @Html.Partial("PrintLeaveApplication", Model)
</div>*@