@model IEnumerable<EzBusiness_ViewModels.Models.FreightManagement.FFM_JOB_VM>

@{
    ViewBag.Title = "FFM_JOB_Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 1;
}


<script src="~/Scripts/EzComNDW.js"></script>
<script>

    $(function () {
        EzAuthentication("/JOBCategoryMaster");
        var n = EzAuthenticationBtn("/JOBCategoryMaster", "ViewIt");
        if (n == 1) {
            Ezsidetbl1("#tblUnits", "#tblUnits tfoot td", false, "#tblUnits thead");
            $('#tblUnits').show();
        } else {
            $('#tblUnits').hide();
        }
    });
</script>
<script>
    var Doks = [];
    $(function () {
        $("#tblUnits1").hide();
        $("#btnAdd").click(function () {
            var n = EzAuthenticationBtn("/JOBCategoryMaster", "NewIt");
            if (n == 1) {
                $("#tbldiv").hide();
                var abk = [];
                abk.push('#btnAdd', "[name*='Edit']", "[name *= 'Delete']");
                Ezprop(abk, "disabled", true);
                abk = [];
                abk.push('#btnCancel', '#btnSave');
                Ezprop(abk, "disabled", false);
                $("#tblUnits1 tbody tr").css("background", "");
                $("#tblUnits1").show();
            }
        });

        var counter = $("#Counter").val();


        /*Code Tab Event*/
        EztableTabEve("#tblUnits1", "[name*='txtFFM_JOB_CODE']", "[name *= 'txtNAME']", "Please Enter FFM_JOB_CODE", 'T', "");

        /*Enter Event*/
        EztableLstEnt("#tblUnits1", "[name*='txtNAME']", "[name *= 'txtFFM_JOB_CODE']", "T", "");

        //EztableLstEnt("#tblUnits1", "[name*='txtDISPLAY_STATUS']", "[name *= 'txtDISPLAY_STATUS']", "T", "");


        /*Add Table Change Event*/
        $("#tblUnits1").on("change", "[name*='txtFFM_JOB_CODE']", function () {
            var tr = $(this).closest('tr');

            drec = [];
            $('#tblUnits1 tbody tr td:nth-child(1)').each(function () {
                //add item to array
                var ab = $(this).find("[name *= 'txtFFM_JOB_CODE']").val();
                drec.push(ab);
            });

            drec.splice($.inArray(tr.find("[name *= 'txtFFM_JOB_CODE']").val(), drec), 1);

            if ($.inArray(tr.find("[name *= 'txtFFM_JOB_CODE']").val(), drec) >= 0) {
                var dr = tr.find("[name *= 'txtFFM_JOB_CODE']").val();
                tr.css("background", "red");
                tr.find("[name *= 'txtFFM_JOB_CODE']").focus();
                EzAlerterrtxt("Already Exist Code '" + dr + "'");
                tr.find("[name *= 'txtFFM_JOB_CODE']").val('');

            }
            else {
                tr.css("background", "");
                if (tr.is(":last-child")) {
                    tr.clone(true, true).insertAfter(tr);
                    var trLast = $("#tableMetaSettings tr:last");
                    $("<td><button type='button' class='btn btn-danger' name='btnDelete" + counter + "')'><span class='glyphicon glyphicon-remove'></span></button></td>")
                               .appendTo("#tblUnits1 tbody tr:nth-last-child(2)");
                    $(this).closest('tr').next('tr').find("[name*='txtFFM_JOB_CODE']").val('');
                    trLast.find("[name *= 'txtFFM_JOB_CODE']").attr({
                        "name": ("txtFFM_JOB_CODE" + counter)
                    });
                    trLast.find("[name *= 'txtNAME']").attr({
                        "name": ("Name" + counter)
                    });
                    trLast.find("[name *= 'txtdisplaystatus']").attr({
                        "name": ("txtdisplaystatus" + counter)
                    });

                    trLast.find(":first").text(counter);
                }
            }
            counter++;
        });


        /*Refresh */
        $("#btnCancel").click(function () {
            if ($("#tblUnits1 > tbody > tr").length > 1) {
                $("#tblUnits1 tbody tr td:last-child").remove();
            }
            $("#tblUnits1 tbody").find("tr:gt(0)").remove();

            var abk1 = [];
            abk1.push("[name*='txtFFM_JOB_CODE']", "[name*='txtNAME']", "[name*='txtdisplaystatus']");
            Ezsettxtclr(abk1);
            abk1 = [];
            abk1.push("#btnCancel", "#btnSave");
            Ezprop(abk1, "disabled", true);
            abk1 = [];
            abk1.push('#btnAdd', "[name*='Edit']", "[name*='Delete']");
            Ezprop(abk1, "disabled", false);
            $("#tblUnits1").hide();
            $("#tbldiv").show();
        });
        /*Save Unit Table */
        $("#btnSave").click(function () {

            var FC = {
                FFM_JOBNew: []
            };
            $("#tblUnits1 tbody tr").each(function (index, item) {
                var FFM_JOB_CODE = $(this).find("[name*='txtFFM_JOB_CODE']").val();
                var NAME = $(this).find("[name*='txtNAME']").val();
                var DISPLAY_STATUS = $(this).find("[name*='txtdisplaystatus'] option:selected").val();

                if ((FFM_JOB_CODE != "") && (NAME != "") && (DISPLAY_STATUS != "")) {
                    var FFM_JOBDetail = {
                        FFM_JOB_CODE: FFM_JOB_CODE,
                        NAME: NAME,
                        DISPLAY_STATUS: DISPLAY_STATUS,
                    };
                    FC.FFM_JOBNew.push(FFM_JOBDetail);
                }
            });
            var validationResult = ValidateForm(FC);
            if (validationResult.formValid) {
                $.post("/FFM_JOB/SaveFFM_JOB", FC).done(function (response) {
                    if (response.Drecord == null) {


                        response.Drecord = 0;
                        $("#tbldiv").show();

                    }
                    $("#tblUnits1 tbody tr").each(function (index, item) {
                        var tr = $(this).closest("tr");
                        var codeAdd = $(tr).find("[name*='txtFFM_JOB_CODE']").val().trim();
                        var nameAdd = $(tr).find("[name*='txtNAME']").val().trim();
                        var display_statusAdd = $(tr).find("[name*='txtdisplaystatus']  option:selected").val().trim();
                        if (response.Drecord.length > 0) {
                            var ary1 = [];
                            ary1 = response.Drecord;
                            if ($.inArray(codeAdd, ary1) < 0 && codeAdd != '' && nameAdd != '' && display_statusAdd !='') {
                                $(this).closest('tr').remove();
                                var counter = $("#Counter").val();
                                var firstRow = $('#tblUnits tbody tr:first');

                                var newRow = "<tr><td>" + codeAdd + "</td><td>" + nameAdd + "</td><td>" + display_statusAdd
                                    "</td> ";
                                //newRow += "</td><td><button class='btn btn-primary' name='Edit" + counter + "' disabled>Edit</button>&nbsp;<button class='btn btn-danger' name='DeleteNew" + counter +
                                //    "' disabled>Delete</button><input type='hidden' name='EditMode" + counter + "'  value='false'><input name='item.CmpyCode' type='hidden' value='" + response.CmpyCode +
                                //    "'></td></tr>";
                                newRow += "</td><td><button class='btn btn-primary' name='Edit" + counter + "' disabled><span class='glyphicon glyphicon-pencil'></span></button>&nbsp;<button class='btn btn-danger' name='DeleteNew" + counter +
                                   "' disabled><span class='glyphicon glyphicon-trash'></span></button><input type='hidden' name='EditMode" + counter + "' value='false'><input name='item.CmpyCode' type='hidden' value='" + response.CmpyCode +
                                   "'></td></tr>";
                                $(firstRow).after(newRow);
                            }
                            else if (codeAdd != '') {
                                $(this).closest('tr').css("background", "red");
                            }
                            else {
                                $(this).closest('tr').css("background", "");
                            }
                        }
                        else {
                            $("#tblUnits1 tbody").find("tr:not(:last)").remove();
                            $("[name*='txtFFM_JOB_CODE']").val();
                            $("[name*='txtNAME']").val();
                            $("[name*='txtdisplaystatus']").val();

                            $("#tblUnits1").hide();

                            if (codeAdd != '' && nameAdd != '' && display_statusAdd !='') {
                                var counter = $("#Counter").val();
                                var firstRow = $('#tblUnits tbody tr:first');
                                var newRow = "<tr><td>" + codeAdd + "</td><td>" + nameAdd + "</td><td>" + display_statusAdd
                                    "</td> ";
                                newRow += "</td><td><button class='btn btn-primary' name='Edit" + counter + "' disabled><span class='glyphicon glyphicon-pencil'></span></button>&nbsp;<button class='btn btn-danger' name='DeleteNew" + counter +
                                    "' disabled><span class='glyphicon glyphicon-trash'></span></button><input type='hidden' name='EditMode" + counter + "' value='false'><input name='item.CmpyCode' type='hidden' value='" + response.CmpyCode +
                                    "'></td></tr>";
                                //newRow += "</tr>";
                                $(firstRow).after(newRow);
                            }
                            abk1 = [];
                            abk1.push("#btnCancel", "#btnSave");
                            Ezprop(abk1, "disabled", true);
                            abk1 = [];
                            abk1.push('#btnAdd', "[name*='Edit']", "[name*='Delete']");
                            Ezprop(abk1, "disabled", false);
                            EzAlertSave();
                            $(".dataTables_empty").replaceWith("");
                        }
                    });
                });
            }
            else {
                EzAlerterr();
            }
        });

        function ValidateForm(FC) {
            var response = {
                ErrorMessage: "",
                formValid: false
            };

            if (FC.FFM_JOBNew.length == 0) {
                response.ErrorMessage += "Please Enter atleast One FFM_JOB code Details";
            }
            if (response.ErrorMessage.length == 0) {
                response.formValid = true;
            }

            return response;
        }
        $("#tblUnits1").on("click", "[name*='btnDelete']", function () {
            $(this).closest("tr").remove();
        });


        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            console.log(thrownError);
        });


        $("#tblUnits").on("click", "[name^='Edit']", function () {
            debugger
            var n = EzAuthenticationBtn("/JOBCategoryMaster", "EditIt");
            if (n == 1) {
                var counter = $("#Counter").val();
                var hdnEditMode = $(this).parent().find('input:hidden:first');
                var hdnCmpyCode = $(this).parent().find("[name='item.CmpyCode']").val();
                var tr = $(this).closest("tr");
                var index = $(this).attr("name").substring(4);
                var jobcode = $(tr).find("td:eq(0)");
                var jobname = $(tr).find("td:eq(1)");
                var displaystatus = $(tr).find("td:eq(2)");
              
                var editButton = $(this);

                if (hdnEditMode.val() == "true") {
                    
                    var CURRENCY_NAMEEdit = $(tr).find("[name*='txtNAME']").val().trim();
                    var MASTER_STATUSEdit = $(tr).find("[name*='txtdisplaystatus'] option:selected").val();
                    //$(tr).find("[name*='txtLEAVE_TYPECODE'] option:selected").val();
                    //var NOTEEdit = $(tr).find("[name*='txtNOTE']").val().trim();
                    var CURRENCY_CODEEdit = $(tr).find("td:eq(0)").text().trim();
                    hdnEditMode.val("true");
                    var Fcur = {
                        FFM_JOB_CODE: CURRENCY_CODEEdit,
                        NAME: CURRENCY_NAMEEdit,
                        DISPLAY_STATUS: MASTER_STATUSEdit,
                        EditFlag: true
                        //MASTER_STATUS: MASTER_STATUSEdit,
                        //Note: NOTEEdit
                    };

                    $.post("/FFM_JOB/SaveFFM_JOB", Fcur).done(function (response) {
                        jobname.text(response.NAME);
                        //MASTER_STATUSTd.text(response.MASTER_STATUS);
                        //NOTETd.text(response.Note);
                        hdnEditMode.val("true");
                        editButton.html('<span class="glyphicon glyphicon-pencil"></span>');
                        editButton.attr('title', 'Edit');
                        tr.find("[name^='Delete']").html('<span class="glyphicon glyphicon-trash"></span>');
                        tr.find("[name^='Delete']").attr('title', 'Delete');
                        tableDis("F");
                        EzAlertUpd(CURRENCY_CODEEdit);
                    });
                    $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
                        console.log(thrownError);
                    });
                } else {
                    //var HRPH001_CODE = $(tr).find("td:eq(0)").text();

                    //HRPH001_CODETd.html("" + HRPH001_CODE.trim() + "<input type='hidden' name='txtHRPH001_CODE" + index + "'  id='txtHRPH001_CODE" + index + "' value='" + HRPH001_CODE.trim() + "' />");
                  

                    var docname = $(tr).find("td:eq(1)").text();
                    var dstatus = $(tr).find("td:eq(2)").text();

                    $('#hldte').val($(tr).find("td:eq(1)").text().trim());
                    $("#hltyp").val(dstatus);
                    $('#inpdocname').val(docname.trim());
                    jobname.html("<input type='text' class='grid-control' name='txtNAME" + index + "' value='" + docname.trim() + "' />");
                    //$("#hdnname").val($(tr).find("td:eq(1)").text());
                  
                    //var dstatus = $(tr).find("td:eq(2)").text();
                    $('#inpdstatus').val(dstatus.trim());
                    displaystatus.html("<select id ='txtdisplaystatus" + index + "' class='grid-control' name='txtdisplaystatus" + index + "'><option value ='Y' selected>Yes</option> <option value ='N'>No</option></select>");


                    $(this).html('<span class="glyphicon glyphicon-upload" ></span>');
                    $(this).attr('title', 'Update');
                    hdnEditMode.val("true");

                    tableDis("T");
                    $(this).attr("disabled", false);
                    tr.find("[name^='Delete']").prop("disabled", false);

                    tr.find("[name^='Delete']").html('<span class="glyphicon glyphicon-remove"></span>')
                    tr.find("[name^='Delete']").attr('title', 'Cancel');

                } 
            
            }
        });

        $("#tblUnits").on("click", "[name^='Delete']", function () {
            
            var n = EzAuthenticationBtn("/JOBCategoryMaster", "DeleteIt");
            if (n == 1) {
                var tr = $(this).closest("tr");
                var hdnCmpyCode = $(this).parent().find("[name='item.CmpyCode']").val();
                var FMHEADCodeTd = $(tr).find("td:eq(0)");
                var hdnMode = $(this).parent().find('input:hidden:first');
                var doccode = "";
                if (hdnMode.val() == "false") {

                    const swalWithBootstrapButtons = Swal.mixin({
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            FFM_JOB_CODE = $(tr).find("td:eq(0)").text().trim();
                            $.getJSON("/DeleteFFM_JOB", { FFM_JOB_CODE: FFM_JOB_CODE, CmpyCode: hdnCmpyCode }).done(function (data) {
                                if (data.DeleteFlag) {

                                    if ($('#tblUnits tbody tr').length == 2) {
                                        var firstRow = $('#tblUnits tbody tr:first');
                                        var newRow = "<tr><td valign='top' colspan='4' class='dataTables_empty'>No data available in table</td></tr>";
                                        $(firstRow).after(newRow);
                                        $('.dataTables_info').replaceWith('Showing 0 to 0 of 0 entries');
                                    }
                                    tr.remove();
                                } else {
                                    EzAlertdele(doccode);
                                }
                            });
                            swalWithBootstrapButtons.fire(
                              'Deleted!',
                              'Your Code has been deleted.',
                              'success'
                            )

                        } else if (
                            // Read more about handling dismissals
                          result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                              'Cancelled',
                              'Your Code is safe :)',
                              'error'
                            )
                        }
                    })

                }
                else {
                    var HRPH001_CODETd = $(tr).find("td:eq(0)");
                    var DateTd = $(tr).find("td:eq(1)");
                    var LEAVE_TYPECODETd = $(tr).find("td:eq(2)");
                   // var DescriptionTd = $(tr).find("td:eq(3)");

                    var DatesEdit = $('#hldte').val();
                    var LEAVE_TYPECODEEdit = $('#hltyp').val();
                  //  var DescriptionEdit = $('#hlDesc').val();


                    var hdnEditMode = $(this).parent().find('input:hidden:first');

                    DateTd.html(DatesEdit);
                    LEAVE_TYPECODETd.html(LEAVE_TYPECODEEdit);
                   // DescriptionTd.html(DescriptionEdit)


                    tr.find("[name^='Edit']").html('<span class="glyphicon glyphicon-pencil"></span>');
                    tr.find("[name^='Edit']").attr('title', 'Edit');


                    $(this).html('<span class="glyphicon glyphicon-trash"></span>')
                    $(this).attr('title', 'Delete');
                    hdnEditMode.val("false");

                    tableDis("F");
                }
            }
        });
    });

    var k = 0;
    function tableDis(k) {
        if (k == "T") {
            $("#tblUnits tbody tr").find("[name^='Edit']").prop("disabled", true);
            $("#tblUnits tbody tr").find("[name^='Delete']").prop("disabled", true);
            $("#btnAdd").prop('disabled', true);
        }
        else {
            $("#tblUnits tbody tr").find("[name^='Edit']").prop("disabled", false);
            $("#tblUnits tbody tr").find("[name^='Delete']").prop("disabled", false);
            $("#btnAdd").prop('disabled', false);

        }
    }
</script>

<script>
$(document).ready(function(){
    //$('[data-toggle="tooltip"]').tooltip();
    $(".edit").attr('title', 'Edit');
    $(".delete").attr('title', 'Delete');
});
</script>

<br />


<div class="title-action">
    <button class="btn btn-primary btn1" id="btnAdd"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add</button>
    <button type="submit" class="btn btn-primary btn1" id="btnSave" disabled><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>
    <button class="btn btn-warning btn1" id="btnCancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>

    <input type="hidden" id="hdnOperationMode" value="" />

</div>
<br>
<div class="panel panel-default">
    <div class="panel-body">
        <input id="inpdocname" type="hidden" />
        <table class="table table-bordered" id="tblUnits1">
            <thead>
                <tr class="tr">
                    <th>
                        @Html.DisplayNameFor(model => model.FFM_JOB_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DISPLAY_STATUS)
                    </th>
                    <th></th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>
                        <div class="grid-group">
                            @Html.TextBox(string.Concat("txtFFM_JOB_CODE", counter), null, new { @class = "grid-control" })
                        </div>


                    </td>
                    <td>
                        <div class="grid-group">
                            @Html.TextBox(string.Concat("txtNAME", counter), null, new { @class = "grid-control" })
                        </div>
                    </td>
                    <td>
                        <div class="grid-group">
                            @*<select class="grid-control" id="txtDISPLAY_STATUS" name="txtDISPLAY_STATUS" >
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>*@
                            @Html.DropDownList(string.Concat("txtdisplaystatus", counter), new List<SelectListItem> { new SelectListItem { Text = "YES", Value = "Y" }, new SelectListItem { Text = "NO", Value = "N" }, }, new { @class = "grid-control" })
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="col-md-12 table-responsive">
            <div id="tbldiv">
                <input id="hldte" type="hidden" />
                <input id="hltyp" type="hidden" />
                <table class="table table-bordered stripe display hover" id="tblUnits">
                    <thead>
                        <tr class="tr">
                            <th>
                                @Html.DisplayNameFor(model => model.FFM_JOB_CODE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NAME)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.DISPLAY_STATUS)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="tr">
                            <td>
                                @Html.DisplayNameFor(model => model.FFM_JOB_CODE)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.NAME)
                            </td>


                            <td>
                                @Html.DisplayNameFor(model => model.DISPLAY_STATUS)
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                    <tbody style="overflow:scroll">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FFM_JOB_CODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DISPLAY_STATUS)
                                </td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="tooltip" title="Edit" name="@string.Concat("Edit",counter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn btn-danger" data-toggle="tooltip" title="Delete" name="@string.Concat("Delete",counter)"><span class="glyphicon glyphicon-trash"></span></button>
                                    <input type="hidden" name="@string.Concat("EditMode",counter)" value="false" />
                                    @Html.HiddenFor(m => item.CMPYCODE)
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>

                </table>

            </div>
        </div>

        @Html.Hidden("Counter", counter)
    </div>
</div>



