@model EzBusiness_ViewModels.Models.Login.LoginVM

@{
    Layout = null;
}
@{
    ViewBag.Title = "Login";
}


<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for " name="description" />
    <meta content="" name="author" />

  

    <link rel="shortcut icon" href="~/Content/assets/files/images/favicon.ico" />

    <link href="~/Content/assets/files/styleLogin.css" rel="stylesheet" />
    <link href="~/Content/assets/files/Login.css" rel="stylesheet" />


    @*<link href="~/Content/css/Home.css" rel="stylesheet" />*@
    @*<link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/assets/files/bootstrap-glyphicons.css" rel="stylesheet" />*@
    <link href="~/Content/assets/files/animated.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap-glyphicons.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    @* ---fancy textbox--- *@
    @*<link href="~/Content/css/fancy-textbox.css" rel="stylesheet" />
    <script src="~/Content/assets/js/jquery.fancy-textbox.js"></script>
    <script src="~/Content/assets/js/jquery-1.10.2.min.js"></script>*@

</head>
<!-- END HEAD -->

<body class="login">
    <div style="height:5px;background-color:#615F63  ">

    </div>
    <nav class="navbar navbar-inverse" style="background-color: #B73439 !important; border:none; height: 74px;border-radius: unset;">
        <h3 class="navh3">HR & Payroll</h3>
    </nav>

    <input type="hidden" value="@ViewBag.HomeUrl" id="rootUrl" />


    <div class="container-fluid body-content">
        <header class="home padding-150" id="header">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body" style="background-color:#fff !important">
                        <div class="row" style="position:fixed;">
                            <div class="col-md-4 col-md-offset-3">
                                <div class="id3">
                                    @Html.TextBoxFor(model => model.user_name, new { @class = "inpt anStyle", @type = "text", @data_animation="up", @data_label="Username", @autocomplete = "off" })
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-3">
                                <div class="id3">
                                    @Html.TextBoxFor(model => model.PassW, new { @class = "inpt anStyle", @type = "password", @data_animation = "up", @data_label = "Password", @autocomplete = "off"  })
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-3">
                                <div class="id3">
                                    @Html.DropDownList("CmpyCode", new SelectList(Enumerable.Empty<SelectListItem>(), "CmpyCode", "Name"), "Select Company Code", htmlAttributes: new { @class = "selct", id = "CmpyCode", @placeholder = "Company Code" })
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-3" id="DivisionCode1">
                                <div class="id3">
                                    @Html.DropDownList("DivisionCode", new SelectList(Enumerable.Empty<SelectListItem>(), "DivisionCode", "DivisionName"), "Select Division Code", htmlAttributes: new { @class = "selct", id = "DivisionCode", @placeholder = "Division Code" })
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-3" id="BranchCode1">
                                <div class="id3">
                                    @Html.DropDownList("BranchCode", new SelectList(Enumerable.Empty<SelectListItem>(), "Code", "Name"), "Select Branch Code", htmlAttributes: new { @class = "selct", id = "BranchCode", @placeholder = "Branch Code" })

                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-3" id="DepartmentCode1">

                                <div class="id3">
                                    @Html.DropDownList("DepartmentCode", new SelectList(Enumerable.Empty<SelectListItem>(), "DepartmentCode", "DepartmentName"), "Select Department Code", htmlAttributes: new { @class = "selct", id = "DepartmentCode", @placeholder = "Department Code" })
                                </div>
                            </div>

                            <div class="col-md-4 col-md-offset-3">
                                <button type="submit" ID="Login" class="sb-frap">
                                    <span> Login</span>
                                </button>
                            </div>

                        </div>

                    </div>
                    @*<div class="panel-footer">
                            <div style="clear:both; height:10px;"></div>

                            <button type="submit" ID="Login">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock" style="font-weight: bold; "> Login</span></span>
                            </button>
                        </div>*@
                </div>
            </div>
        </header>
    </div>



    @*<footer class="footer">
            <div class="footerContainer" style="margin-left: initial;">
                <div class="copyright-section wow zoomIn animated" data-wow-offset="10" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a id="CR1" class="copyRights1" href="javascript:__doPostBack(&#39;CR1&#39;,&#39;&#39;)">   &copy;   2018 Ezware Financial DashBoard</a>
                            <a id="CR2" class="copyRights2" href="http://ezwaretechnologies.com/">EzWare Technologies L.L.C</a>
                            <a id="CR3" class="copyRights3" href="http://ezwaretechnologies.com/contact-us/">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>*@

    @section Scripts{
        <script>
        var inputObject = {};
        var input = document.querySelectorAll('.e-input-group .e-input,.e-float-input.e-input-group input');
        var inputIcon = document.querySelectorAll('.e-input-group-icon');
        var focusFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.add('e-input-focus');
            };
        };

        var blurFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.remove('e-input-focus');
            };
        };

        var mouseupFn = function () {
            var ele = this;
            setTimeout(function () { ele.classList.remove('e-input-btn-ripple'); }, 500);
        };

        for (var i = 0; i < input.length; i++) {
            //Focus Event binding for input component
            input[i].addEventListener('focus', focusFn(i));
            //Blur Event binding for input component
            input[i].addEventListener('blur', blurFn(i));
        }
        for (var j = 0; j < inputIcon.length; j++) {
            inputIcon[j].addEventListener('mousedown', function () {
                this.classList.add('e-input-btn-ripple');
            });
            inputIcon[j].addEventListener('mouseup', mouseupFn);
        }
        function getParentNode(element) {
            var parentNode = element.parentNode;
            if (parentNode.classList.contains('e-input-in-wrap')) {
                return parentNode.parentNode;
            }
            return parentNode;
        }
        </script>
    }

    @section Meta{
        <meta name="description" content="This sample covers the major features of the text box component, such as floating labels and placeholders, integrated icons, validation states, sizing, types, and more." />
    }

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")*@
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
    <!-- Core plugin JavaScript-->
    @*<script src="~/Scripts/jquery.easing.1.3.js"></script>*@



    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DivisionCode1').hide();
            $('#BranchCode1').hide();
            $('#DepartmentCode1').hide();
            $.ajax({
                    url:'@Url.Action("CompanyCode")',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                            $('#CmpyCode').empty();
                            $("[name*='CmpyCode']").append('<option value="0" selected="">Select Company Code</option>');
                            var ary = [];
                            ary = result;
                            for (var i = 0; i < ary.length; i++) {
                                $("[name*='CmpyCode']").append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                            }
                            $("[name*='CmpyCode']").val(0);
                    }
                });
        $("#CmpyCode").change(function () {
            if ($('#CmpyCode option:selected').val() == "0") {
                $('#DivisionCode1').hide();
                $('#BranchCode1').hide();
                $('#DepartmentCode1').hide();
                $('#BranchCode').empty();
                $('#DepartmentCode').empty();
            }
            else
            {

                $('#BranchCode1').hide();
                $('#DepartmentCode1').hide();
                $('#BranchCode').empty();
                $('#DepartmentCode').empty();
                $.get("/DivisionCode", { CmpyCode: $("#CmpyCode").val() }).done(function (response) {
                    $('#DivisionCode').empty();
                    $("[name*='DivisionCode']").append('<option value="0" selected="">Select Division Code</option>');
                    var ary = [];
                   
                    ary = response;
                    if (ary.length >= 1) {
                        $('#DivisionCode1').show();
                    }
                    for (var i = 0; i < ary.length; i++) {
                        $("[name*='DivisionCode']").append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                    }
                    $("[name*='DivisionCode']").val(0);
                });
            }
        });

        $("#DivisionCode").change(function () {
                if ($('#DivisionCode option:selected').val() == "0") {
                    $('#BranchCode1').hide();
                    $('#DepartmentCode1').hide();
                }
                else
                {

                    $('#DepartmentCode1').hide();
                    $('#DepartmentCode').empty();
                    $.get("/BranchCode", { CmpyCode: $("#CmpyCode").val(), DivCode: $("#DivisionCode").val() }).done(function (response) {
                        $('#BranchCode').empty();
                    $("[name*='BranchCode']").append('<option value="0" selected="">Select Branch Code</option>');
                    var ary = [];
                    ary = response;
                    if (ary.length >= 1) {
                        $('#BranchCode1').show();
                    }
                    for (var i = 0; i < ary.length; i++) {
                        $("[name*='BranchCode']").append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                    }
                    $("[name*='BranchCode']").val(0);
                    });
                }
        });
        $("#BranchCode").change(function () {
           

            if ($('#BranchCode option:selected').val() == "0") {
                $('#DepartmentCode1').hide();
            }
            else
            {


                $.get("/DepartmentCode", { CmpyCode: $("#CmpyCode").val(), DivCode: $("#DivisionCode").val(), Branchcode: $("#BranchCode").val() }).done(function (response) {
                    $('#DepartmentCode').empty();
                    $("[name*='DepartmentCode']").append('<option value="0" selected="">Select Department Code</option>');
                    var ary = [];
                   
                    ary = response;
                    if (ary.length >= 1)
                    {
                        $('#DepartmentCode1').show();
                    }
                    for (var i = 0; i < ary.length; i++) {
                        $("[name*='DepartmentCode']").append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                    }
                    $("[name*='DepartmentCode']").val(0);
                });
            }
        });



        var user_name = $("[name*='user_name']");
        var PassW = $("[name*='PassW']");
        var CmpyCode = $("[name*='CmpyCode']  option:selected");
        var DivCode = $("[name*='DivisionCode'] option:selected");
        var BraCode = $("[name*='BranchCode'] option:selected");
        var DepCode = $("[name*='DepartmentCode']  option:selected");

        $("#Login").click(function () {
           
        var ILogin = {
            user_name: $("[name*='user_name']").val(),
            PassW: $("[name*='PassW']").val(),
            CmpyCode: $("[name*='CmpyCode']  option:selected").val(),
            DivCode: $("[name*='DivisionCode'] option:selected").val(),
            BraCode: $("[name*='BranchCode'] option:selected").val(),
            DepCode: $("[name*='DepartmentCode']  option:selected").val(),

        };


        $.get("/InLogin1", ILogin).done(function (response) {         
            debugger;
            if (response!=null)
            {
              
                window.location.href = "/Index";
            }

        });
        });
        });

        //function pageLoad() {
        //    $('.anStyle').ftext();
        //}

        $(document).ready(function() {
            $('.anStyle').ftext();
        })
    </script>

    <script>
        (function ($) {
            $.fn.extend({
                ftext: function () {
                    return this.each(function () {
                        var cls = 'fancy-textbox';
                        var textbox = $(this);

                        var id = textbox.attr('id');
                        if (id == null || id == undefined || id == '') {
                            id = cls + '-' + $('.' + cls).size() + 1;
                            textbox.attr('id', id);
                        }

                        var label = textbox.attr('data-label');
                        var animation = textbox.attr('data-animation');
                        var mask = textbox.attr('data-mask');
                        var icon = textbox.attr('data-icon');

                        if (label == undefined) label = '';
                        if (mask == undefined) mask = '';
                        if (icon == undefined) icon = '';

                        var labelControl = null;
                        if (label != '' && icon == '')
                            labelControl = $('<label class="label" for="' + id + '">' + label + '</label>');
                        else if (label != '' && icon != '')
                            labelControl = $('<label class="label icon text" no-repeat left center;" for="' + id + '"><i class="' + icon + '"></i>' + label + '</label>');
                        else if (label == '' && icon != '')
                            labelControl = $('<label class="label icon" for="' + id + '"><i class="' + icon + '"></i></label>');

                        //add a wrapper around the text box and place the textbox within that wrapper, this will help positioning and animating the label

                        var wrapper = $('<div class="' + cls + '-wrapper"></div>');
                        textbox.before(wrapper);
                        textbox.addClass(cls).addClass('masked');


                        if (animation == 'box-3d' || animation == 'box-3d-in' || animation == 'box-3d-up' || animation == 'box-3d-out') {
                            wrapper.append('<div class="wrap-3d"><div class="face front"> </div> <div class="face back">  </div> </div>');
                            textbox.appendTo(wrapper.find('.back'));
                            labelControl.appendTo(wrapper.find('.front'));
                        }
                        else {
                            textbox.appendTo(wrapper);
                            textbox.after(labelControl);
                        }



                        wrapper.addClass(animation);

                        var labelWidth = parseFloat(textbox.parent().find('label').outerWidth());
                        textbox.css('text-indent', labelWidth + 'px');

                        if (animation == 'balloon') {
                            var arrow = $('<label class="arrow"></label>');
                            labelControl.after(arrow);
                            arrow.css('left', labelWidth / 2 + 'px');
                        }

                        textbox.val(mask);

                        wrapper.find('input').focus(function () {

                            if ($(this).parent().hasClass('slide')) {
                                var indent = $(this).css('text-indent');
                                $(this).data('text-indent', indent);
                                $(this).css('text-indent', 0).removeClass('masked');
                                $(this).parent().find('label').css({ 'transform': 'translateX(-70%)', '-webkit-transform': 'translateX(-70%)', '-moz-transform': 'translateX(-70%)' });
                            }
                            if ($(this).parent().hasClass('up')) {
                                var indent = $(this).css('text-indent');
                                $(this).data('text-indent', indent);
                                $(this).css('text-indent', 0).removeClass('masked');
                                $(this).parent().find('label').css({ 'transform': 'translateY(-70%)', '-webkit-transform': 'translateY(-70%)', '-moz-transform': 'translateY(-70%)' });
                            }
                            else if ($(this).parent().hasClass('balloon')) {
                                var indent = $(this).css('text-indent');
                                var top = $(this).outerHeight();
                                $(this).data('text-indent', indent);
                                $(this).css('text-indent', 0).removeClass('masked');
                                $(this).parent().find('label:first').css({ 'transform': 'translateY(-' + top + 'px)', '-webkit-transform': 'translateY(-' + top + 'px)', '-moz-transform': 'translateY(-' + top + 'px)' }).css('background-color', $(this).attr('data-label-bg')).css('color', $(this).attr('data-label-color'));
                                $(this).parent().find('label.arrow').css({ 'transform': 'translateY(-' + (top + 8) + 'px)', '-webkit-transform': 'translateY(-' + (top + 8) + 'px)', '-moz-transform': 'translateY(-' + (top + 8) + 'px)' }).css('border-top', '3px solid #7AB893');
                            }

                            //handle input mask
                            if ($(this).val() == $(this).attr('data-mask')) {
                                $(this).val('');
                            }
                        });

                        wrapper.find('input').blur(function () {
                            if ($(this).parent().hasClass('slide')) {
                                $(this).css('text-indent', $(this).data('text-indent')).addClass('masked');
                                $(this).parent().find('label').css({ 'transform': 'translateX(0)', '-webkit-transform': 'translateX(0)', '-moz-transform': 'translateX(0)' });
                            }
                            else if ($(this).parent().hasClass('up')) {
                                $(this).css('text-indent', $(this).data('text-indent')).addClass('masked');
                                $(this).parent().find('label').css({ 'transform': 'translateY(0)', '-webkit-transform': 'translateY(0)', '-moz-transform': 'translateY(0)' });
                            }


                            else if ($(this).parent().hasClass('balloon')) {
                                $(this).css('text-indent', $(this).data('text-indent')).addClass('masked');
                                $(this).parent().find('label').css({ 'transform': 'translateY(0)', '-webkit-transform': 'translateY(0)', '-moz-transform': 'translateY(0)' }).css('background-color', '').css('color', '');
                                $(this).parent().find('label:last').css('border-top', '');
                            }





                            //handle input mask
                            if ($(this).val() == '') {
                                $(this).val($(this).attr('data-mask'));
                            }
                        });
                    });
                }
            });
        })(jQuery);


    </script>

    <style>
        /*General styles*/
        .fancy-textbox-wrapper {
            display: inline-block;
            position: relative;
            margin: 10px 10px;
            padding-right: 150px;
        }

            .fancy-textbox-wrapper input.masked {
            }

        /* textbox */
        input {
            position: relative;
            display: inline-block;
            height: 20px;
            max-width: 100%;
            width: 215px;
            padding: 10px 15px !important;
            border: 1px solid #e5e5e5;
            background: #fff;
            color: #000;
            border: 0;
            outline: 0;
            font-family: "Open Sans", sans;
            font-weight: 400;
            -webkit-transition: all linear .2s;
            -moz-transition: all linear .2s;
            -o-transition: all linear .2s;
            transition: all linear .2s;
        }

            label.label {
                position: absolute;
                display: inline-block;
                padding: 6px 5px !important;
                font-size: 14px;
                font-weight: 400;
                /* background: #82cff0; */
                color: #666;
                font-family: "Open Sans" , sans;
                border: 0;
                outline: 0;
                top: 0;
                left: 0;
                /* text-transform: uppercase; */
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -moz-transition: all linear .3s;
                -o-transition: all .3s ease-in-out;
               
            }

        /**************************************
            balloon
        /**************************************/

        .fancy-textbox-wrapper.balloon label.arrow {
            position: absolute;
            width: 0;
            height: 0;
            top: 100%;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid transparent;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        /**********************************
            slide up
        /*********************************/
        /*style the input box*/
        .fancy-textbox-wrapper.up input {
            /*display: inline-block;     width: 215px;     padding: 12px 0 12px 15px;     margin-top: 0px;     font-family: "Open Sans" , sans;     font-weight: 400;     color: #377D6A;     border: 0;     outline: 0;     -webkit-transition: all .3s ease-in-out;     -moz-transition: all .3s ease-in-out;     -o-transition: all .3s ease-in-out;     transition: all .3s ease-in-out;*/
        }

        .fancy-textbox-wrapper.up label {
            /*display: inline-block;     position: absolute;     top: 0;     left: 0;     padding: 10px 15px;     text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);     background: #82cff0;        -webkit-transition: all .3s ease-in-out;     -moz-transition: all .3s ease-in-out;     -o-transition: all .3s ease-in-out;     transition: all .3s ease-in-out;     color: #fff;*/
        }

        /*general style for icons and labels*/
        .fancy-textbox-wrapper label.icon {
            width: 40px;
            height: 45px;
            padding: 0px !important;
            margin: 0px !important;
            line-height: 45px;
        }
    </style>





</body>
</html>