@model EzBusiness_ViewModels.Models.Humanresourcepayroll.LeaveSettlementVM
@{
    var counter = 1;
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet"/>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/EzComNDW.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script>

    $(function () {
        $('.selectpicker').selectpicker('refresh');
        var arr1 = [];
        EzdtePkEdit('#Entry_Date1', "#Entry_Date", "DD/MM/YYYY");
        EzdtePkEdit('#LLSdate1', "#LLSdate", "DD/MM/YYYY");
        EzdtePkEdit('#DR_Date1', "#DR_Date", "DD/MM/YYYY");
        EzdtePkEdit('#LStartDate1', "#LStartDate", "DD/MM/YYYY");
        EzdtePkEdit('#LendDate1', "#LendDate", "DD/MM/YYYY");
        EzdtePkEdit('#salary_effect_date1', "#salary_effect_date", "DD/MM/YYYY");
        EzdtePkEdit('#JoiningDate1', "#JoiningDate", "DD/MM/YYYY");
        arr1 = [];
        arr1.push("#LeaveType");
        arr1.push('input[name="JoiningDate1"]');
        //arr1.push('input[name="Entry_Dates1"]');
        EzDisabledT(arr1);
        EzdateCond('#LLSdate1', '#LStartDate1', 'Entery Date shold be greater than equal to Last Settlement Date');
        EzdateCond('#DR_Date1', '#LStartDate1', 'Entery Date shold be greater than equal to Duty Resume Date');
        EzAutoCompTxt1("#Empcode", "#hdnEmpCode", "/MonthlyAddded/GetEmpList");
        EzAutoCompTxtE("#Empcode", "#hdnEmpCode", "/MonthlyAddded/GetEmpList", false, "");
        EzAutoCompTxt1("#PRLR001_CODE", "#hdnPRLR001_CODE", "/LeaveSettlement/GetLeaveCodes");
        EzAutoCompTxtE("#PRLR001_CODE", "#hdnPRLR001_CODE", "/LeaveSettlement/GetLeaveCodes", false, "");


        //$('.selectpicker').selectpicker({
        //    style: 'btn-info',
        //    size: 4,

        //});

        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });

    });

    
</script>
<div class="col-md-12 no-padding navbar-expand-lg">
    <div class="panel-body" style="margin-left:10px;">
        <div class="tabbable-line boxless tabbable-reversed" id="LVContainer">
            <div class="custom-form-wrapper">
                <div id="LVContainer">
                    <div class="row">
                        <!--updated code-->

                        <div class="col-md-12 no-padding navbar-expand-lg">

                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Record No.</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.PRLS001_CODE, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Entry Date</label>
                                                        <div class="col-md-8">
                                                            <input id="Entry_Date1" class="form-control datepicker" name="Entry_Date1" />
                                                            @Html.HiddenFor(m => m.Entry_Date)

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Leave Application<i style="color:red;">*</i></label>
                                                        <div class="col-md-8 input-field">
                                                            @*@Html.DropDownListFor(m => m.PRLR001_CODE, Model.LeaveList, new { @class = "selectpicker form-control", @data_live_search = "true", @disabled = "disabled" })*@
                                                            @Html.TextBoxFor(m => m.PRLR001_CODE, new { @class = "form-control", @placeholder = "Select PRLR001 CODE"})
                                                            <input id="hdnPRLR001_CODE" type="hidden" class="form-control" name="hdnEmpCode" value="-1" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Employee Code</label>
                                                        <div class="col-md-8 input-field">
                                                            @*@Html.DropDownListFor(m => m.Empcode, Model.EmpCodeList, new { @class = "selectpicker form-control", @data_live_search = "true", @disabled = "disabled" })*@
                                                            @Html.TextBoxFor(m => m.Empcode, new { @class = "form-control", @placeholder = "Select Emp Code"})
                                                            <input id="hdnEmpCode" type="hidden" class="form-control" name="hdnEmpCode" value="-1" />
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!--/row-->
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Last Settlement Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="LLSdate1" class="form-control datepicker" name="LLSdate1"  />
                                                            @Html.HiddenFor(m => m.LLSdate)
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-4">

                                                </div>

                                                <!--/span-->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Joining Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="JoiningDate1" class="form-control datepicker" name="JoiningDate1"/>
                                                            @Html.HiddenFor(m => m.JoiningDate)
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr />

                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Duty Resume Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="DR_Date1" class="form-control datepicker" name="DR_Date1"/>
                                                            @Html.HiddenFor(m => m.DR_Date)
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Start Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="LStartDate1" class="form-control datepicker" name="LStartDate1" />
                                                            @Html.HiddenFor(m => m.LStartDate)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">End Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="LendDate1" class="form-control datepicker" name="LendDate1"/>
                                                            @Html.HiddenFor(m => m.LendDate)
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Sanctioned Days</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Sanctioned_Days, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Total Days</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Total_days, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Total worked Days</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Total_worked_Days, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Total Leave Days</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Total_LE_Days, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Opening Balance of leave</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.LB_CF_Days, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Leave Salary</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Leave_Salary, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Addition Amount</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Addition_amt, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Deduction Amount</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Deduction_Amt, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Ticket Amount</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Ticket_amt, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Ticket Paid</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Ticket_Paid, new { @class = "form-control", @Type = "Text" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Pending Salary</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Pending_Salary, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Advance Salary</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Advance_Salary, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Advance Paid</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Advance_Paid, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Actual Salary</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Actual_Salary, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">salary effect date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="salary_effect_date1" class="form-control datepicker"  name="salary_effect_date1"/>
                                                            @Html.HiddenFor(m => m.salary_effect_date)
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Net Pay</label>
                                                        <div class="col-md-8 input-field">
                                                            @Html.TextBoxFor(m => m.Net_Pay, new { @class = "form-control", @Type = "Number" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--/row-->




                                        </div>
                                    </div><br />
                                    <!-- END FORM-->
                                    <!-- <button>Hey, click me!</button> -->
                                </div>
                            </div>
                        </div>

                        <!-- Purchase Request List Start-->


                        <script>
                            $(document).ready(function () {
                                $(".alert-close").click(function () {
                                    $("#editshow").hide();
                                });
                            });
                        </script>
                        <!-- Purchase Request List End -->
                        <!-- Row end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
