@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.LeaveSettlementVM>

<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>

<script>
    Ezsidetbl('#LVList', '#LVList tfoot th',false);
</script>


<table id="LVList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th>LANo</th>
            <th>Emp Code</th>
            <th>LS Date</th>
            <th>Entry Date</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var sm in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnPRSR001_CODE", sm.PRLS001_CODE)
                    @sm.PRLS001_CODE
                </td>
                <td>
                    @sm.Empcode
                </td>
                <td>
                    @sm.LLSdate
                </td>
                <td>
                    @sm.Entry_Date
                </td>

            </tr>
        }
    </tbody>
</table>