@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.LeaveSettlementVM>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>

<script>
    $(document).ready(function () {
        Ezsidetbl1('#LVList', '#LVList tfoot td', false, "#LVList thead");
    });
</script>


<table id="LVList" class="table table-bordered table-hover editlist">
    <thead>
        <tr class="tr">
            <th>Leave Settalment No</th>
            <th>Employee Code</th>
            <th>LS Date</th>
            <th>Entry Date</th>


        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Leave Settalment No</td>
            <td>Employee Code</td>
            <td>LS Date</td>
            <td>Entry Date</td>


        </tr>
    </tfoot>
    <tbody>
        @foreach (var sm in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnPRSR001_CODE", sm.PRLS001_CODE)
                    @sm.PRLS001_CODE
                </td>
                <td>
                    @sm.Empcode
                </td>
                <td>
                    @Convert.ToDateTime(@sm.LLSdate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(@sm.Entry_Date).ToString("dd/MM/yyyy")
                </td>

            </tr>
        }
    </tbody>
</table>