@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.AttendenceVM>
@{
    ViewBag.Title = "AttendenceMaster";
    var counter = 1;
}
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
        EzAuthentication("/AttendenceMaster");
        var n = EzAuthenticationBtn("/AttendenceMaster", "ViewIt");
        if (n == 1) {
            Ezsidetbl1("#tblUnits", "#tblUnits tfoot td", false, "#tblUnits thead");
            $('#tblUnits').show();

        } else {
            $('#tblUnits').hide();
        }       
    });
</script>
<script>
    var Atens = [];

    var countrycodes = [];
    $(function () {
        GetCountryCodes();
        $("#btnAdd").click(function () {
            var n = EzAuthenticationBtn("/AttendenceMaster", "NewIt");
            if (n == 1) {
                tableDis("T");
             var counter = $("#Counter").val();
            var firstRow = $('#tblUnits tr:first');
            var cmpyCode = $('#tblUnits tr:last').find("[name='item.CmpyCode']").val();
            var newRow = "<tr><td><input type='text' name='txtCode" + counter + "'></td><td><input type='text' name='txtLeaveName" + counter +
                "'></td><td>";
            newRow += GetCountryCodeDDL(counter);
            //newRow += " <td><button class='btn btn-primary' name='Add" + counter + "'>Save</button>&nbsp;<button class='btn btn-danger' name='DeleteNew" + counter +
            //    "'>Delete</button><input type='hidden' name='AddMode" + counter + "' value='true'><input name='item.CmpyCode' type='hidden' value='" + cmpyCode +
                //    "'></td></tr>";
            newRow += "<td><button class='btn btn-primary' title='Add' name='Add" + counter + "'><span class='glyphicon glyphicon-saved'></span></button>&nbsp;<button title='Cancel' class='btn btn-danger' name='NewDelete" + counter +
              "'><span class='glyphicon glyphicon-trash'></span></button><input type='hidden' name='AddMode" + counter + "' value='true'><input name='item.CmpyCode' type='hidden' value='" + cmpyCode +
              "'></td></tr>";
            $(firstRow).after(newRow);

                // $("#btnAdd").prop('disabled', true);
            $("#btnAdd").css("visibility", "hidden");

            }
        });

        $("#tblUnits").on("click", "[name^='Add']", function () {
           
            var counter = $("#Counter").val();
            var hdnAddMode = $(this).parent().find('input:hidden:first');
            var hdnCmpyCode = $(this).parent().find("[name='item.CmpyCode']").val();
            var editButton = $(this).parent().find("[name='Add" + counter + "']");
            var tr = $(this).closest("tr");
            var index = $(this).attr("name").substring(4);
            var codeTd = $(tr).find("td:eq(0)");
            var leavenameTd = $(tr).find("td:eq(1)");
            var countrycodeTd = $(tr).find("td:eq(2)");

            if (hdnAddMode.val() == "true") {
                var codeAdd = $(tr).find("[name*='txtCode']").val().trim();
                var leavenameAdd = $(tr).find("[name*='txtLeaveName']").val().trim();
                var countrycodeAdd = $(tr).find("select option:selected").val().trim();

                var Atens = {
                    CmpyCode: hdnCmpyCode,
                    Code: codeAdd,
                    LeaveName: leavenameAdd,
                    CountryCode: countrycodeAdd,
                    EditFlag: false
                };
                if (codeAdd && hdnCmpyCode) {
                    $.post("/Attendence/SaveAtens", Atens).done(function (response) {
                        console.log(response);
                        codeTd.text(response.Code);
                        leavenameTd.text(response.LeaveName);
                        countrycodeTd.text(response.CountryCode);
                        hdnAddMode.val("false");
                        // editButton.attr("name", ("Edit" + counter)).text("Edit");
                        tableDis("F");
                        editButton.html('<span class="glyphicon glyphicon-pencil"></span>');
                        editButton.attr('title', 'Edit');
                        hdnAddMode.attr("name", ("AddMode" + counter)).val("false");
                        tr.find("[name^='NewDelete']").html('<span class="glyphicon glyphicon-trash"></span>');
                        tr.find("[name^='NewDelete']").attr('title', 'Delete');

                        EzAlertSave();
                    });
                }
                else { EzAlerterr(); }
            }
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            console.log(thrownError);
        });

        $("#tblUnits").on("click", "[name*='NewDelete']", function () {
            tableDis("F");
            var tr = $(this).closest("tr");
            var hdnAddMode = $(this).parent().find('input:hidden:first');
            if (hdnAddMode.val() == "false") {
                //$(this).closest("tr").remove();
                const swalWithBootstrapButtons = Swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                })

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        code = $(tr).find("td:eq(0)").text().trim();
                        $.getJSON("/DeleteAtens", { Code: code }).done(function (data) {
                            if (data.DeleteFlag) {
                               
                                tr.remove();
                                if ($('#tblUnits tbody tr').length == 1 || $('#tblUnits tbody tr').length == 0) {
                                    //$(".dataTables_empty").replaceWith("No data available in table");
                                    var firstRow = $('#tblUnits tbody');
                                    var newRow = "<tr><td valign='top' colspan='4' class='dataTables_empty'>No data available in table</td></tr>";
                                    $(firstRow).append(newRow);
                                    $('.dataTables_info').replaceWith('Showing 0 to 0 of 0 entries');
                                }

                            } else {
                                EzAlertdele(code);
                            }
                        });
                        swalWithBootstrapButtons.fire(
                          'Deleted!',
                          'Your Code has been deleted.',
                          'success'
                        )

                    } else if (
                        // Read more about handling dismissals
                      result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                          'Cancelled',
                          'Your Code is safe :)',
                          'error'
                        )
                    }
                })
            }
            else if ($(tr).find("[name*='txtCode']").val().trim() == "") {
                $(this).closest("tr").remove();
            }
            else {

                var leavename = $(tr).find("td:eq(1)").text();
                leavenameTd.html("<input type='text' name='txtLeaveName" + index + "' value='" + leavename.trim() + "' />");

                var countrycode = $(tr).find("td:eq(2)").text().trim();
                countrycodeTd.html(GetCountryCodeDDL(index));
                countrycodeTd.find("select").val(countrycode);

                var hdnEditMode = $(this).parent().find('input:hidden:first');
                nameTd.html(nameEdit);
                tr.find("[name^='Edit']").html('<span class="glyphicon glyphicon-pencil"></span>');

                tr.find("[name^='Edit']").attr('title', 'Edit');
                $(this).html('<span class="glyphicon glyphicon-trash"></span>');
                //$(this).text("Delete");
                $(this).attr('title', 'Delete');
                hdnEditMode.val("false");

                tableDis("F");
                tr.find("[name^='Add']").html('<span class="glyphicon glyphicon-pencil"></span>');
            }

        });

        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            console.log(thrownError);
        });



        $("#tblUnits").on("click", "[name^='Edit']", function () {
            var n = EzAuthenticationBtn("/AttendenceMaster", "EditIt");
            if (n == 1) {
                var counter = $("#Counter").val();
                var hdnEditMode = $(this).parent().find('input:hidden:first');
                var hdnCmpyCode = $(this).parent().find("[name='item.CmpyCode']").val();
                var tr = $(this).closest("tr");
                var hdnCode = $(tr).find("td:eq(0)").text().trim();
                var index = $(this).attr("name").substring(4);
                var leavenameTd = $(tr).find("td:eq(1)");
                var countrycodeTd = $(tr).find("td:eq(2)");
                var editButton = $(this);

                if (hdnEditMode.val() == "true") {
                    var leavenameEdit = $(tr).find("[name*='txtLeaveName']").val().trim();
                    var countrycodeEdit = $(tr).find("select option:selected").val().trim();
                    var Atens = {
                        CmpyCode: hdnCmpyCode,
                        Code: hdnCode,
                        LeaveName: leavenameEdit,
                        CountryCode: countrycodeEdit,
                        EditFlag: true
                    };

                    $.post("/Attendence/SaveAtens", Atens).done(function (response) {
                        leavenameTd.text(response.LeaveName);
                        countrycodeTd.text(response.CountryCode);
                        hdnEditMode.val("false");
                        editButton.html('<span class="glyphicon glyphicon-pencil"></span>');
                        editButton.attr('title', 'Edit');
                        tr.find("[name^='Delete']").html('<span class="glyphicon glyphicon-trash"></span>');
                        tr.find("[name^='Delete']").attr('title', 'Delete');
                        tableDis("F");
                        hdnEditMode.val("false");                        
                        EzAlertUpd(hdnCode);
                    });
                    $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
                        console.log(thrownError);
                    });
                } else {
                    var leavename = $(tr).find("td:eq(1)").text();
                    $('#hdname').val(leavename.trim());
                    leavenameTd.html("<input type='text' class='grid-control' name='txtLeaveName" + index + "' value='" + leavename.trim() + "' />");

                    var countrycode = $(tr).find("td:eq(2)").text().trim();
                    $('#hdccode').val(countrycode.trim());
                    countrycodeTd.html(GetCountryCodeDDL(index));
                    countrycodeTd.find("select").val(countrycode);
                    $(this).html('<span class="glyphicon glyphicon-upload"></span>');
                    hdnEditMode.val("true");
                    tableDis("T");
                    $(this).attr("disabled", false);
                    tr.find("[name^='Delete']").prop("disabled", false);                    
                    tr.find("[name^='Delete']").html('<span class="glyphicon glyphicon-remove"></span>');
                    tr.find("[name^='Delete']").attr('title', 'Cancel');

                }
            }
        });

        $("#tblUnits").on("click", "[name^='Delete']", function () {
           
            var n = EzAuthenticationBtn("/AttendenceMaster", "DeleteIt");
            if (n == 1) {
                var tr = $(this).closest("tr");               
                var hdnMode = $(this).parent().find('input:hidden:first');
                var code = "";
                if (hdnMode.val() == "false") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            code = $(tr).find("td:eq(0)").text().trim();
                            $.getJSON("/DeleteAtens", { Code: code }).done(function (data) {
                                if (data.DeleteFlag) {
                                   
                                    tr.remove();
                                    if ($('#tblUnits tbody tr').length == 1 || $('#tblUnits tbody tr').length == 0) {
                                        //$(".dataTables_empty").replaceWith("No data available in table");
                                        var firstRow = $('#tblUnits tbody');
                                        var newRow = "<tr><td valign='top' colspan='4' class='dataTables_empty'>No data available in table</td></tr>";
                                        $(firstRow).append(newRow);
                                        $('.dataTables_info').replaceWith('Showing 0 to 0 of 0 entries');
                                    }

                                } else {
                                    EzAlertdele(code);
                                }
                            });
                            swalWithBootstrapButtons.fire(
                              'Deleted!',
                              'Your Code has been deleted.',
                              'success'
                            )

                        } else if (
                            // Read more about handling dismissals
                          result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                              'Cancelled',
                              'Your Code is safe :)',
                              'error'
                            )
                        }
                    })
                }
                else
                {
                    if ($(tr).find("td:eq(0)").text().trim() != '') {
                        var nameTd = $(tr).find("td:eq(1)");
                        var countTd = $(tr).find("td:eq(2)");
                        var nameEdit = $('#hdname').val();// $(tr).find("[name*='txtName']").val().trim();
                        var CountryEdit = $('#hdccode').val();
                        var hdnEditMode = $(this).parent().find('input:hidden:first');
                        nameTd.html(nameEdit);
                        countTd.html(CountryEdit);
                        tr.find("[name^='Edit']").html('<span class="glyphicon glyphicon-pencil"></span>');

                        tr.find("[name^='Edit']").attr('title', 'Edit');
                        $(this).html('<span class="glyphicon glyphicon-trash"></span>');
                        //$(this).text("Delete");
                        $(this).attr('title', 'Delete');
                        hdnEditMode.val("false");
                    }
                    else {
                        tr.remove();
                    }
                    tableDis("F");
                    tr.find("[name^='Add']").html('<span class="glyphicon glyphicon-pencil"></span>');
                }
            }
            });

    });

    function GetCountryCodeDDL(index) {

        if (countrycodes.length > 0) {
            var ddlCountryCode = "<select class='grid-control' name='ddlCountryCode" + index + "'>";
            for (var i in countrycodes) {
                ddlCountryCode += "<option value='" + countrycodes[i].Code + "'>" + countrycodes[i].Name + "</option>";
            }
            ddlCountryCode += "</select>";
        }
        return ddlCountryCode;
    }

    function GetCountryCodes() {

        $.ajax({
            url: "/Country2",
            dataType: "json",
            success: function (data) {
                countrycodes = data;
            },
            error: function () {
                EzAlerterrtxt('error occurred');
            }
        });
        return countrycodes;
    }
var k = 0;
    function tableDis(k) {
        if (k == "T") {
            $("#tblUnits tbody tr").find("[name^='Edit']").prop("disabled", true);
            $("#tblUnits tbody tr").find("[name^='Delete']").prop("disabled", true);
            // $("#btnAdd").prop('disabled', true);
            $("#btnAdd").css("visibility", "hidden");

        }
        else {
            $("#tblUnits tbody tr").find("[name^='Edit']").prop("disabled", false);
            $("#tblUnits tbody tr").find("[name^='Delete']").prop("disabled", false);
            // $("#btnAdd").prop('disabled', false);
            $("#btnAdd").css("visibility", "");


        }
    }
</script>
<script>
$(document).ready(function(){
    //$('[data-toggle="tooltip"]').tooltip();
    $(".edit").attr('title', 'Edit');
    $(".delete").attr('title', 'Delete');
});
</script>


<br />

<div class="title-action">
    <button class="btn btn-primary btn1" id="btnAdd"><span class="glyphicon glyphicon-plus-sign"></span>Add</button>

</div>
<div class="panel panel-default panl">
    <div class="panel-body">
       
        <input type="hidden" id="hdname" />
        <input type="hidden" id="hdccode" />

        <div class="col-md-12 table-responsive">

        <table class="table table-bordered stripe display hover" id="tblUnits" >
            <thead>
                <tr class="tr">
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryCode)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="tr">
                    <td>
                        @Html.DisplayNameFor(model => model.Code)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.LeaveName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.CountryCode)
                    </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryCode)
                        </td>
                        <td>
                            <button class="btn btn-primary" data-toggle="tooltip" title="Edit" name="@string.Concat("Edit",counter)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger" data-toggle="tooltip" title="Delete" name="@string.Concat("Delete",counter)"><span class="glyphicon glyphicon-trash"></span></button>
                            <input type="hidden" name="@string.Concat("EditMode",counter)" value="false" />
                            @Html.HiddenFor(m => item.CmpyCode)
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
        @Html.Hidden("Counter", counter)
        </div>

    </div>
</div>