@model IEnumerable<EzBusiness_ViewModels.Models.FreightManagement.FFM_PORT_VM>


<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>

        //$(document).ready(function () {
            Ezsidetbl("#POList", "#POList tfoot td", false, "#POList thead");
            //$('#POList').Datatable.reload();
            //a++;

        //});

</script>

<table id="POList" class="table table-bordered table-hover">
    <thead>
        <tr class="tr">
            <th>Port Code</th>
            <th>Name</th>
            <th>Country</th>
            <th>Terminal</th>
            <th>Latitude</th>
            <th>Langitude</th>
            <th>Display Status</th>

        </tr>
    </thead>

    <tfoot>
        <tr>
            <td>Port Code</td>
            <td>Name</td>
            <td>Country</td>
            <td>Terminal</td>
            <td>Latitude</td>
            <td>Langitude</td>
            <td>Display Status</td>

        </tr>
    </tfoot>
    <tbody>
        @foreach (var po in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnFFM_PORT_CODE", po.FFM_PORT_CODE)
                    @po.FFM_PORT_CODE
                </td>
                <td>
                    @po.NAME
                </td>
                <td>
                     @po.COUNTRY
                </td>
                <td>
                    @po.TERMINAL 
                </td>
                <td>
                    @po.LATITUDE 
                </td>
                <td>
                    @po.LANGITUDE
                </td>
                <td>
                    @po.DISPLY_STATUS 
                </td>


            </tr>
        }
    </tbody>
</table>

