@model EzBusiness_ViewModels.Models.FreightManagement.FFM_VESSEL_VM

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
        arr1 = [];

        $('.selectpicker').selectpicker('refresh');

        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });

        EzDropFillEvent("FLAG", "click", "FLAG", "GetCountryCodes");

        EzDropFillEvent("VESSEL_TYPE", "click", "VESSEL_TYPE", "/FFM_VESSEL/GetContainer");
        EzDropFillEvent("COUNTRY", "click", "COUNTRY", "GetCountryCodes");

    });

</script>


<!-- Row start -->
<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">

        <div class="panel-body" style="margin-left:10px;">
            <div class="tabbable-line boxless tabbable-reversed" id="DRContainer">
                <div class="custom-form-wrapper">
                    <div id="DRContainer">
                        <div class="row">
                            <div class="custom-form-wrapper">
                                <!-- BEGIN FORM-->
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Code<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.TextBoxFor(m => m.FFM_VESSEL_CODE, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Name<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.TextBoxFor(m => m.NAME, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-3">Flag<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">

                                                        @Html.DropDownListFor(m => m.FLAG, Model.FlagList, new { @class = "form-control", @data_live_search = "true", @data_size = "5" })
                                                        @Html.HiddenFor(m=>m.FLAG)
                                                    </div>

                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-3">Scan Code<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.TextBoxFor(m => m.SCACCODE, new { @class = "form-control" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"> Carrier<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">

                                                        @Html.TextBoxFor(m => m.CARRIER, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>



                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Vessel Type<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.DropDownListFor(m => m.VESSEL_TYPE, Model.ContainerList, new { @class = "form-control", @data_live_search = "true", @data_size = "5" })
                                                        @Html.HiddenFor(m => m.VESSEL_TYPE)

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Country<i class="star">*</i></label>
                                                    <div class="col-md-9 input-field">
                                                        @Html.DropDownListFor(m => m.COUNTRY, Model.COUNTRYList, new { @class = "form-control", @data_live_search = "true", @data_size = "5" })
                                                        @Html.HiddenFor(m => m.COUNTRY)

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div><br />
                                    <!-- END FORM-->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Purchase Request List Start-->


        <script>
            $(document).ready(function () {
                $(".alert-close").click(function () {
                    $("#editshow").hide();
                });
            });
        </script>



        <!-- Purchase Request List End -->
        <!-- Row end -->
    </div>


</div>