@model EzBusiness_ViewModels.Models.Humanresourcepayroll.DutyResumeVM

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>

<script>
    //var Drs = [];
    $(function () {

       
        $('.selectpicker').selectpicker('refresh');
        

        //$("#LsNo").prop("disabled", true);
        //$("#EmpCode").prop("disabled", true);
        //$("#StartDate").prop("disabled", true);
        //$("#EndDate").prop("disabled", true);



        EzdtePkEdit('#ResumeDate1', "#ResumeDate", "DD/MM/YYYY");
        EzdtePkEdit('#StartDate1', "#StartDate", "DD/MM/YYYY");
        EzdtePkEdit('#EndDate1', "#EndDate", "DD/MM/YYYY");
       

        var Ideary = [];
        Ideary.push("#LsNo");
        Ideary.push("#EmpCode");
        Ideary.push("#StartDate1");
        Ideary.push("#EndDate1");
        EzDisabledT(Ideary);

        $('#oldLeavedays').val($('#Excess_Days_plus_minus').val());

       



        $('.selectpicker').selectpicker('refresh');


        $('#ResumeDate1').on('dp.change', function (event) {
            var start = new Date(Ezsetdtpkdate($('#ResumeDate1').val()));
            var end = new Date(Ezsetdtpkdate($('#EndDate1').val()));
            var diff = new Date(start - end);

            // get days
            var days = diff / 1000 / 60 / 60 / 24;
            if (days <= 0) {
                days = 0;
            } else {
                days = days-1;
            }
            $('#Excess_Days_plus_minus').val(days);
        });


        //$('.selectpicker').selectpicker({
        //    style: 'btn-info',
        //    size: 4,

        //});

        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });
   
    });

   

</script>

<div class="row">
   

</div><hr />
<!-- Row end -->
<!-- Row start -->
<div class="row">
    <!--updated code-->
    @Html.HiddenFor(model => model.PRLR001_CODE)
    @Html.HiddenFor(model => model.country)
    @Html.HiddenFor(model => model.division)
    @Html.HiddenFor(model => model.oldLeavedays)

    <div class="col-md-12 no-padding navbar-expand-lg">
        @*<div class="panel panel-primary">*@          
            <div class="panel-body" style="margin-left:10px;">
                <div class="tabbable-line boxless tabbable-reversed" id="DRContainer">
                    <div class="custom-form-wrapper">
                        <div id="DRContainer">
                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Sanction Code</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.TextBoxFor(m => m.PRDR001_CODE, new { @disabled = "disabled", @class = "form-control" })
                                                            @Html.HiddenFor(m => m.PRDR001_CODE)
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Employee</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.DropDownListFor(m => m.EmpCode, Model.EmpCodeList, new { @class = "form-control selectpicker", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Start Date</label>
                                                        <div class="col-md-9 input-field">
                                                            <input id="StartDate1" class="form-control datepicker" name="StartDate1" disabled="disabled"  />
                                                            @Html.HiddenFor(m => m.StartDate)
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">End Date</label>
                                                        <div class="col-md-9 input-field">
                                                            <input id="EndDate1" class="form-control datepicker" name="EndDate1" disabled="disabled"  />
                                                            @Html.HiddenFor(m => m.EndDate)
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>



                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Actual Leave Type</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.DropDownListFor(m => m.Actual_Leave_Type, Model.Rm_TypeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Duty Resume Type</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.DropDownListFor(m => m.Duty_Rm_type, Model.Rm_TypeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Approve Days</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.TextBoxFor(m => m.Approve_Days, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Balance Leave Days</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.TextBoxFor(m => m.BalanceLeave, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Resume Date</label>
                                                        <div class="col-md-9 input-field">
                                                            <input id="ResumeDate1" class="form-control datepicker" name="ResumeDate1"   />
                                                            @Html.HiddenFor(m => m.ResumeDate)
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Excess Days</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.TextBoxFor(m => m.Excess_Days_plus_minus, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Approve Days full</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.TextBoxFor(m => m.Approve_Days_in_full, new { @class = "form-control", @Type = "number" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Approve Days Half</label>
                                                        <div class="col-md-9 input-field">
                                                            @Html.TextBoxFor(m => m.Approve_Days_in_Half, new { @class = "form-control", @Type = "number" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br />
                                    <!-- END FORM-->

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        @*</div>*@
    </div>

    <!-- Purchase Request List Start-->


    <script>
            $(document).ready(function(){
                $(".alert-close").click(function () {
                    $("#editshow").hide();
                });
            });
    </script>



    <!-- Purchase Request List End -->
    <!-- Row end -->
</div>




