@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.DutyResumeVM>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/EzComNDW.js"></script>
<script>

    Ezsidetbl('#DRList', '#DRList tfoot td', false, "#DRList thead");
    </script>
<table id="DRList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th>Duty Resume No</th>
            <th>Employee Code</th>
            <th>Resume Date</th>
            <th>Leave Application No</th>
            <th>Start Date</th>
            <th>End Date</th>
            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Duty Resume No</td>
            <td>Employee Code</td>
            <td>Resume Date</td>
            <td>Leave Application No</td>
            <td>Start Date</td>
            <td>End Date</td>

        </tr>
    </tfoot>
    <tbody>
        @foreach (var sm in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnCmpycode", sm.Cmpycode)
                    @Html.Hidden("hdnDrNo", sm.PRDR001_CODE)
                    @sm.PRDR001_CODE
                </td>
                <td>
                    @sm.EmpCode
                </td>
                <td>                   
                    @Convert.ToDateTime(@sm.ResumeDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @sm.PRLR001_CODE
                </td>
                <td>
                    
                    @Convert.ToDateTime(@sm.StartDate).ToString("dd/MM/yyyy")
                    
                </td>
                <td>
                    @Convert.ToDateTime(@sm.EndDate).ToString("dd/MM/yyyy")
                </td>

            </tr>
        }
    </tbody>
</table>



