@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.DutyResumeVM>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/EzComNDW.js"></script>
<script>

    $(document).ready(function () {
        Ezsidetbl1('#DRList', '#DRList tfoot td', false, "#DRList thead");
    });

    //Ezsidetbl('#DRList', '#DRList tfoot td', false, "#DRList thead");
    </script>
<div class="col-md-12 portal-drivers">
    <table id="DRList" class="table table-bordered table-hover emptbl">
        <thead>
            <tr class="tr">
                <th>Duty Resume No</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Resume Date</th>
                <th>Leave Application No</th>


            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>Duty Resume No</td>
                <td>Employee Code</td>
                <td>Employee Name</td>
                <td>Resume Date</td>
                <td>Leave Application No</td>


            </tr>
        </tfoot>
        <tbody>
            @foreach (var sm in Model)
        {
        <tr>
            <td>
                @Html.Hidden("hdnCmpycode", sm.Cmpycode)
                @Html.Hidden("hdnDrNo", sm.PRDR001_CODE)
                @sm.PRDR001_CODE
            </td>
            <td>
                @sm.EmpCode
            </td>
            <td>@sm.EmpName</td>
            <td>
                @Convert.ToDateTime(@sm.ResumeDate).ToString("dd/MM/yyyy")
            </td>
            <td>
                @sm.PRLR001_CODE
            </td>


        </tr>
        }
        </tbody>
    </table>
</div>


