@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.LoanAppliationVM>

@{
    var a = 1;

}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetbl('#POList', '#POList tfoot td', false, "#POList thead");

</script>
<div class="table-responsive">
      <table id="POList" class="table table-bordered stripe display hover portal-drivers">
              <thead>
                 <tr class="tr">
                     <th> Code</th>
                     <th>Employee Code</th>
                     <th>Employee Name</th>
                     <th>Entry Date</th>
                     <th>Loan Amount</th>
                     <th>No Of Instalments</th>
                     <th>Act code</th>
                     <th>Loan Type</th>                                   
                     </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td> Code</td>
                        <td>Employee Code</td>
                        <td>Employee Name</td>
                        <td>Entry Date</td>
                        <td>Loan Amount</td>
                        <td>No Of Instalments</td>
                        <td>Act code</td>
                        <td>Loan Type</td>      
                    </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var po in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Hidden("hdnPRLA001_CODE", po.PRLA001_CODE)
                                    @po.PRLA001_CODE
                                </td>
                                <td>
                                    @po.EmpCode
                                </td>
                                <td>@po.EmpName</td>
                                <td>
                                    @Convert.ToDateTime(@po.Entry_Date).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @po.LoanAmount
                                </td>
                                <td>
                                    @po.NoOfInstalments
                                </td>
                                <td>
                                    @po.Act_code
                                </td>
                                <td>
                                    @po.LoanType
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
   </div>            
