@model EzBusiness_ViewModels.Models.Humanresourcepayroll.EmpBankVM

@{
    var counter = 1;

}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>

<script>
    $(function () {
       
      
        $('.selectpicker').selectpicker('refresh');

        EzdtePkEdit('#Entry_Date1', "#Entry_Date", "DD/MM/YYYY");

        $('#PRBM001_code').change(function () {
           
            var PRBM001_code = $('#PRBM001_code option:selected').val();
            $.get("EmpBank/GetPRBM002_code", { PRBM001_code: PRBM001_code }).done(function (response) {

                $('#PRBM002_code').empty();
                var ary = [];
                ary = response;
                for (var i = 0; i < ary.length; i++) {
                    $('#PRBM002_code').append('<option value="' + ary[i].Value + '" selected="">' + ary[i].Text + '</option>');
                }
                // $('#PRBM002_code').append('<option value="0" selected="">-Select-</option>');
                $('#PRBM002_code').val(0);

                $('.selectpicker').selectpicker('refresh');
            });
        });
    });
  

</script>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">
                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">PRBM003_CODE</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.PRBM003_CODE, new { @class = "form-control", @placeholder = "PRBM003_CODE", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Emp</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.EmpCode, Model.EmpCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">PRBM001_code</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.PRBM001_code, Model.PRBM001_codeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">PRBM002_code</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.DropDownListFor(m => m.PRBM002_code, Model.PRBM002_codeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Account_no</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.Account_no, new { @class = "form-control", @placeholder = "Account_no" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">EBAN_no</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.EBAN_no, new { @class = "form-control", @placeholder = "EBAN_no" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Remarks</label>
                                                <div class="col-md-8 input-field">
                                                    @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Entry_Date</label>
                                                <div class="col-md-8 input-field">
                                                    <input id="Entry_Date1" class="form-control datepicker" name="Entry_Date1" disabled="disabled" />
                                                    @Html.HiddenFor(m => m.Entry_Date)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <!--/row-->
                                </div>

                            </div><br />
                            <!-- END FORM-->
                            <!-- <button>Hey, click me!</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>