@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.SalarMpayrollVM>


<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/EzComNDW.js"></script>
<script>
     
        Ezsidetbl("#SMAList", "#SMAList tfoot td", false, "#SMAList thead");
       
</script>

<div class="portal-drivers">
    <table id="SMAList"  class="table table-bordered stripe display hover">
        <thead>
            <tr class="tr">
                <th>Code</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Entry date</th>
                <th>Effect date</th>
                <th>Total </th>
                @*<th>TOTAL</th>*@            
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>Code</td>
                <td>Employee Code</td>
                <td>Employee Name</td>
                <td>Entry date</td>
                <td>Effect date</td>
                <td>Total </td>
                @*<th>TOTAL</th>*@
            </tr>
        </tfoot>
        <tbody>
            @foreach (var sm in Model)
            {
                <tr>
                    <td>
                        @Html.Hidden("hdnPRSM001_CODE", sm.PRSM001_CODE)
                        @sm.PRSM001_CODE
                    </td>
                    <td>
                        @sm.EMPCODE
                    </td>
                    <td>
                        @sm.EmpName
                    </td>
                    <td>
                        @Convert.ToDateTime(@sm.Entery_date).ToString("dd/MM/yyyy")
                    
                        </td>
                        <td>
                            @Convert.ToDateTime(@sm.Effect_From).ToString("dd/MM/yyyy")

                        </td>
                        <td>
                            @sm.TOTAL
                        </td>
                        @*<td>
                            @sm.TOTAL
                        </td>*@                
                    </tr>
                }
            </tbody>
        </table>
</div>

