@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.SalarMpayrollVM>


<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>

<script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetbl("#SMAList", "#SMAList tfoot th", false);
</script>

<table id="SMAList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th>PRSM001_CODE</th>
            <th>EMPCODE</th>
            <th>Entery_date</th>
            <th>EmpName</th>
            @*<th>TOTAL</th>*@            
        </tr>
    </thead>
    <tbody>
        @foreach (var sm in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnPRSM001_CODE", sm.PRSM001_CODE)
                    @sm.PRSM001_CODE
                </td>
                <td>
                    @sm.EMPCODE
                </td>
                <td>
                    @Convert.ToDateTime(@sm.Entery_date).ToString("dd/MM/yyyy")
                    
                </td>
                <td>
                    @sm.EmpName
                </td>
                @*<td>
                    @sm.TOTAL
                </td>*@                
            </tr>
        }
    </tbody>
</table>


