
@model EzBusiness_ViewModels.Models.FreightManagement.SEA_Export.FNINV001_VM
@{
var counter2=1;
}


<div class="row">
    @Html.Hidden("hdnCounter2", (counter2))
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <div id="POContainer">
                    <div class="row">
                        <div class="custom-form-wrapper">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal">
                                <div class="form-body">
                                


                                    <div class="col-md-12">
                                        <div class="">
                                            <ul class="nav nav-tabs">
                                                <li class="active b1"><a data-toggle="tab" href="#home">Charges</a></li>
                                                
                                            </ul>

                                            <br />
                                            <div class="tab-content">
              

                                               

                                                <div id="menu3" class="tab-pane fade active">
                                                    <br />
                                                    <div class="col-md-12">
                                                        <div class="alt-table-responsive" id="table-responsive-cliente">
                                                            <table class="table table-bordered stripe display hover portal-drivers" id="tablePODetails5">
                                                                <thead>
                                                                    <tr class="tr gridtext">
                                                                        <th>	S. no	</th>
                                                                        <th style="padding: 0 17px;">	Charge Code	</th>
                                                                        <th>	Charge Name	</th>
                                                                        <th>	Desription</th>
                                                                        <th style="padding: 0 22px">	Unit	</th>
                                                                        <th>	Qty	</th>
                                                                        <th>	Ex.Code	</th>
                                                                        <th>	Ex.Rate	</th>
                                                                        <th>	Rate	</th>
                                                                        <th>	Amount (FC)	</th>
                                                                        <th>	Amount (BC)	</th>
                                                                        <th>	Vat %	</th>
                                                                        <th>	Vat. Amount(BC)	</th>
                                                                        <th>	Vouch. VAT Amount(FC)	</th>
                                                                        <th style="padding: 0px 6px;">Vouch. VAT Amount(BC)	</th>
                                                                        <th>	Vouch. VAT Amount(BC)	</th>
                                                                        <th>	Voch. Amount(BC)	</th>
                                                                        <th>	Voch. Net +Vat Amount(FC)	</th>




                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                  
                                                                    <tr>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtsno", counter2), counter2, new { @class = "grid-control", @disabled = "disabled" })


                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                @*@Html.TextBox(string.Concat("txt1Crg_code", counter5), null, new { @class = "grid-control", @disabled = "disabled",@style="width:70%" })
                                                                                    @Html.DropDownList(string.Concat("txtCrg_code", counter5), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })*@
                                                                                @Html.Hidden(string.Concat("txt1Crg_code", counter2), null, new { @class = "grid-control" })
                                                                                @Html.Hidden(string.Concat("txtinpCrg_code", counter2), null, new { @class = "grid-control" })
                                                                                @Html.TextBox(string.Concat("txtCrg_code", counter2), null, new { @class = "grid-control" })


                                                                            </div>

                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtCrg_name", counter2), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                            @Html.Hidden(string.Concat("txtIncome_GL_Code", counter2), null)
                                                                            @Html.Hidden(string.Concat("txtExpense_GL_Code", counter2), null)

                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                
                                                                                @Html.TextBox(string.Concat("txtPAY_MODE", counter2), null, new { @class = "grid-control" })
                                                                            </div>
                                                                        </td>
                                                                        <td>

                                                                            @*@Html.TextBox(string.Concat("txt1Unit_code", counter5), null, new { @class = "grid-control", @disabled = "disabled" })

                                                                                @Html.DropDownList(string.Concat("txtUnit_code", counter5), TypeListdata1, new { @class = "grid-control1",@data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })*@
                                                                            @Html.Hidden(string.Concat("txt1Unit_code", counter5), null, new { @class = "grid-control" })

                                                                            @Html.TextBox(string.Concat("txtUnit_code", counter5), null, new { @class = "grid-control" })
                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtNo_of_qty", counter5), null, new { @class = "grid-control", @Type = "Number" })

                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtCust_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })

                                                                        </td>

                                                                        <td>

                                                                            @*@Html.TextBox(string.Concat("txt1Cust_Curr_Code", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                                @Html.DropDownList(string.Concat("txtCust_Curr_Code", counter4), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false",@data_size=4, @data_width = "3%" })*@

                                                                            @Html.Hidden(string.Concat("txt1Cust_Curr_Code", counter5), null, new { @class = "grid-control" })

                                                                            @Html.TextBox(string.Concat("txtCust_Curr_Code", counter5), null, new { @class = "grid-control" })
                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtCust_Curr_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })

                                                                        </td>
                                                                        <td>

                                                                            @*@Html.TextBox(string.Concat("txt1Cust_code", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                                @Html.DropDownList(string.Concat("txtCust_code", counter4), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })*@
                                                                            @Html.Hidden(string.Concat("txt1Cust_code", counter5), null, new { @class = "grid-control" })
                                                                            @Html.Hidden(string.Concat("txtinpCust_code", counter5), null, new { @class = "grid-control" })
                                                                            @Html.TextBox(string.Concat("txtCust_code", counter5), null, new { @class = "grid-control" })


                                                                        </td>
                                                                        <td>

                                                                            @Html.Hidden(string.Concat("txtCust_Ctrl_Act", counter5))
                                                                            @Html.TextBox(string.Concat("txtCust_name", counter5), null, new { @class = "grid-control", @disabled = "disabled" })

                                                                        </td>

                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtCust_Total_amt", counter5), null, new { @class = "grid-control", @Type = "Number", @disabled = "disabled" })

                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtCust_Net_Amt", counter5), null, new { @class = "grid-control", @Type = "Number", @disabled = "disabled" })

                                                                        </td>

                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtVend_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })

                                                                        </td>
                                                                        <td>

                                                                            @*@Html.TextBox(string.Concat("txt1Vend_Curr_Code", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                                @Html.DropDownList(string.Concat("txtVend_Curr_Code", counter4), TypeListdata1, new { @class = "grid-control1", @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })*@
                                                                            @Html.Hidden(string.Concat("txt1Vend_Curr_Code", counter5), null, new { @class = "grid-control" })

                                                                            @Html.TextBox(string.Concat("txtVend_Curr_Code", counter5), null, new { @class = "grid-control" })
                                                                        </td>

                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtVend_Curr_Rate", counter5), null, new { @class = "grid-control", @Type = "Number" })

                                                                        </td>
                                                                        <td>

                                                                            @*@Html.TextBox(string.Concat("txt1Vend_code", counter5), null, new { @class = "grid-control", @disabled = "disabled" })
                                                                                @Html.DropDownList(string.Concat("txtVend_code", counter4), TypeListdata1, new { @class = "grid-control1" , @data_live_search = "true", @data_dropup_auto = "false", @data_size = 4, @data_width = "3%" })*@
                                                                            @Html.Hidden(string.Concat("txt1Vend_code", counter5), null, new { @class = "grid-control" })
                                                                            @Html.Hidden(string.Concat("txtinpVend_code", counter5), null, new { @class = "grid-control" })
                                                                            @Html.TextBox(string.Concat("txtVend_code", counter5), null, new { @class = "grid-control" })

                                                                        </td>

                                                                        <td>

                                                                            @Html.Hidden(string.Concat("txtVend_Ctrl_Act", counter5))
                                                                            @Html.TextBox(string.Concat("txtVend_name", counter5), null, new { @class = "grid-control", @disabled = "disabled" })

                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtVend_Total_amt", counter5), null, new { @class = "grid-control", @Type = "Number", @disabled = "disabled" })

                                                                        </td>
                                                                        <td>

                                                                            @Html.TextBox(string.Concat("txtVend_Net_Amt", counter5), null, new { @class = "grid-control", @disabled = "disabled" })

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>


                                        <div class="col-md-8">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Income</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(m => m.Total_Billed, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Cost</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(m => m.Total_Cost, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3 col-md-3">Profit</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(m => m.Total_Profit, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    